[2022-06-23 22:50] seth-shaw-unlv commented on #436
Quick and dirty diff that supports this (could use review and clean-up, I'm sure):
[code]
Allows me to use a config like:
[code]

[2022-06-26 19:29] mjordan commented on #436
Thanks @seth-shaw-unlv. Example and brief explanation added to https://mjordan.github.io/islandora_workbench_docs/generating_csv_files/#using-a-drupal-view-to-identify-content-to-export-as-csv.

[2022-06-26 19:29] #436 closed

[2022-06-27 03:13] mjordan commented on #295
OK, I've pushed this change up to the main branch, and the docs have been updated. I've also removed the `validate_title_length` config option since it was obsolete anyway - the length of all text fields is checked against their database defnitions (although 'title' is a special field and you can't check its database definition, or at least in any way I have found.

[2022-06-27 03:13] #295 closed

[2022-06-28 23:10] seth-shaw-unlv opened #438 "get_data_from_view failing on node entity references"
Our content type has a "field_source" field that references other nodes. When get_data_from_view attempts to serialize this field using the `export_csv_term_mode: name` config enabled it [makes an assumption that this entity reference field uses a taxonomy vocabulary](https://github.com/mjordan/islandora_workbench/blob/main/workbench_fields.py#L964) and fails when it can't find a term with that ID

[2022-06-28 23:12] mjordan commented on #438
@seth-shaw-unlv thanks for catching this, I'll apply this patch tonight.

[2022-06-28 23:13] seth-shaw-unlv opened #439 "get_data_from_view has an issue with disappearing fields"
It isn't clear why, but sometimes I have a field (`field_access_terms`) disappear from the node object during serialization of get_data_from_views resulting in a key error:
[code]
(That one is actually the second of two instances, after I patched the first.)

The quick fix is to ensure it is there before serialization:
[code]

[2022-06-28 23:15] mjordan commented on #439
This logic would prevent the KeyError, but I wonder why it's happening?

[2022-06-28 23:18] seth-shaw-unlv commented on #439
🤷‍♂️ I haven't been able to discern that. Unfortunately, I'm running low on time to debug further beyond this fix. 😟

Ah, you can remove `.keys()` from that first one; that is redundant.

[2022-06-28 23:19] mjordan commented on #439
No problem, I'll apply this patch tonight too.

[2022-06-29 13:43] mjordan commented on #438
Added. Thanks again Seth!

[2022-06-29 13:43] #438 closed

[2022-06-29 14:19] mjordan commented on #252
An example JSON of an embedded video file using the core 'field_media_oembed_video' field is:

`"field_media_oembed_video":[{"value":"https:\/\/youtu.be\/sHkc83XA2dY"}]`

So we don't need a new field type. But, there's no local media file, which we'll need logic to address.

For reference, here's the `_format=json` request body for a remote video:

[code]

[2022-07-05 18:37] mjordan opened #440 "Skip rows that do not have any content"
Sometimes completely empty row like `,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,` are included in CSVs output by Excel, etc. Workbench should not count these in the total row count during `--check` but should report them, and they should be skipped during ingest/update/etc.

[2022-07-05 18:56] mjordan opened #441 "Term URIs should be allowed in Typed Relation CSV values"
Workbench lets you use term URIs in CSV for taxonomy IDs, but it doesn't let you use term URIs in Typed Relation fields.

Input would need to look like `"relators:art:http://id.loc.gov/authorities/names/no2019078357"`

[2022-07-05 19:23] mjordan commented on #441
Closing, Workbench already allows this. RTFM next time @mjordan,

[2022-07-05 19:23] #441 closed

[2022-07-07 01:27] dara2 opened #442 "Error during --check when YML file has additional_files configuration"
I was able to ingest objects onto a client's server just fine, until I had a YML file that included the "additional_files" configuration, and a CSV with a "thumbnail" column. At first I thought it was because Workbench and the Python libraries were out of date, so I updated those. But I'm still getting the same error:

[code]
Is something misconfigured in my YML file? Here is what it looks like:
[

[2022-07-07 03:46] mjordan commented on #442
It's the lack of a space between the `-` and `thumbnail`. I can replicate this error if I don't include the space. Which is strange, since your YAML is perfectly valid YAML. Might be a peculiarity of the Python YAML parser. I'll look into it, but if you use `- thumbnail: 39` instead of `-thumbnail:39`, it should work.

[2022-07-07 03:57] mjordan commented on #442
I've added a note to https://mjordan.github.io/islandora_workbench_docs/adding_multiple_media/ about the need for a space.

[2022-07-07 13:43] #442 closed

[2022-07-20 05:13] mjordan opened #443 ""id_field" not getting set to "node_id" in update tasks"
E.g.:

[code]

[2022-07-20 17:29] mjordan opened #444 ""break" should be "continue""
"break" at https://github.com/mjordan/islandora_workbench/blob/main/workbench#L357 should be "continue".

[2022-07-20 17:31] mjordan commented on #444
Resolved with 269bbfc1bc8df75692ae8334d51024702a9faafb.

[2022-07-20 17:31] #444 closed

[2022-07-21 14:09] mjordan opened #445 "Add unit tests for WorkbenchConfig.py"
To ensure all conditional config options are set as expected, e.g. #443 .

[2022-07-22 13:57] mjordan opened #446 "Media add/edit/delete broke somewhere between Drupal 9.4.0-dev and 9.4.2"
Somewhere after Drupal 9.4.0-dev and Drupal 9.4.2, the REST endpoint for reading/editing/deleting media changed:

Drupal 9.4.0-dev:

![media_rest_endpoint_drupal_940dev](https://user-images.githubusercontent.com/403918/180454108-1ffc721c-88ce-4fce-8251-32c5db768afc.png)

9.4.2 (GET, PATCH, DELETE now has "edit" at the end):

![media_rest_endpoint_drupal_942](https://user-images.githubusercontent.c

[2022-07-24 23:31] mjordan commented on #446
The d.o. issue is https://www.drupal.org/project/drupal/issues/3017935.

[2022-07-26 09:50] alxp opened #447 "setup.py not working on macOS / Homebrew"
Currently getting this output when I try to run setup.py:

[code]

Home-brew Python 3.13

[2022-07-26 14:13] #447 closed

[2022-07-27 17:41] mjordan commented on #446
Resolved with 029cb6d51e43a7226f12597fe379076e537a91c4.

Docs on configuring Drupal's media endpoints are at https://mjordan.github.io/islandora_workbench_docs/installation/#configuring-drupals-media-urls.

[2022-07-28 03:26] mjordan opened #449 "Add option to prompt user for password"
For users who prefer not to store passwords in the config file, Workbench already lets them define the password as an environment variable. There should also be an option to prompt the user for the password. The order of preference would be:

1. if the password is in the config file, use it
2. if the password is not in the config file, look for the environment variable
3. if the envrionment variab

[2022-07-28 14:41] mjordan commented on #449
Resolved with 3d1753a6cd8df8f9220d21004078ed020c03755b.

[2022-07-28 14:41] #449 closed

[2022-08-02 14:12] mjordan opened #450 "Password is prompted for twice"
The password prompt always fails once, then prompts the user again. This is very annoying.

This is likely caused by https://github.com/mjordan/islandora_workbench/blob/main/WorkbenchConfig.py#L18 but that's just a hunch.

[2022-08-03 13:02] mjordan commented on #72
This was completed with [c5014d5](https://github.com/mjordan/islandora_workbench/commit/c5014d5b60a66e42063d949acd9b42ce3701378a). Sorry not to close back then.

[2022-08-03 13:02] #72 closed

[2022-08-05 04:14] mjordan opened #451 "Add an option for --check to create one node + media"
--check does not currently add or modify content in the target Drupal. Because of this, it can't test whether Islandora is configured properly (for example, can content be written to Fedora). The best (only?) way for Workbench to test this type of thing is to create a node and/or media. It could then rollback the node/media.

This should probably be an opt-in configuration option (i.e., do not do

[2022-08-07 00:05] mjordan opened #452 "Support fields that use the "Views: Filter by an entity reference View""
`get_field_vocabularies()` doesn't know how to get the "vocabularies" associated with fields that use the "Views: Filter by an entity reference View" reference method.

[2022-08-07 23:07] mjordan commented on #452
The field config contains `"settings":{"handler":"views","handler_settings":{"view":{"view_name":"sfu_resource_types","display_name":"entity_reference_1","arguments":[]}}},"field_type":"entity_reference"}`.

[2022-08-08 14:29] mjordan commented on #452
JSON representation (GET) appears to be the same for default-style reference types. For example:

Default:

[code]

Entity reference View:

[code]

[2022-08-09 02:13] mjordan opened #453 "prepare_term_id() doesn't handle field values for multi-vocabulary fields"
It only looks at the first vocabulary ID if there are more than one.

[2022-08-09 15:38] dara2 commented on #446
Hi @mjordan - in Slack you'd noted:

We actually do need that box to be checked. If we un-check it, we can't reach the media derivatives (can only get to the "edit" view of them). How much work is it to support that?

[2022-08-09 16:05] mjordan commented on #446
I don't know. I will look into it later today.

[2022-08-09 19:31] ajstanley opened #454 "Make it possible to have workbench try a failed media creation a second time if it failed the first time around"
On large batches we're likely to see a few failed media ingests, especially as the system has more content.  We should allow the user to configure retries if the job failed the first time.  I'm thinking we have configs of media_ingest_retries, and media_ingest_timeout

[2022-08-09 20:37] mjordan commented on #453
Resolved with 7654938e6652cb3885f719a9a9da95fec32b67cc. This change also improves the handling of taxonomy terms that contain a colon (`:`).

[2022-08-09 20:37] #453 closed

[2022-08-09 22:27] mjordan commented on #446
@dara2 can you check out the issue-446 branch to test? You will need to add this to your config file: `standalone_media_url: true`. You will also need to have the "Standalone media URL" option in /admin/config/media/media-settings checked, and clear your Drupal cache.

[2022-08-09 23:05] mjordan opened #455 "create_terms tasks don't / --check doesn't validate CSV column names"
During other tasks (e.g. `create`), `--check` validates the following:

[code]

But during `create_terms` tasks, those checks are missing, and running the task without `--check` will fail if an unexpected CSV column header is encountered.

[2022-08-10 12:38] dara2 commented on #446
Thanks, Mark! I'll test it today!

[2022-08-10 14:23] mjordan opened #456 "field_member_of not being populated on children created during secondary task"

[2022-08-10 16:23] #456 closed

[2022-08-10 16:23] mjordan commented on #456
Fixed, all tests now pass.

[2022-08-10 19:31] mjordan commented on #446
Small world, I hit that today myself and am looking into it. Thanks for letting me know it's not just me..... stay tuned.

[2022-08-10 19:36] mjordan commented on #446
I'll add, it's not related to the changes in the 446 branch, I'm running Workbench in the main branch.

[2022-08-10 20:18] mjordan commented on #446
@margaret-bd I've fixed the bug I introduced a couple day ago that caused the error you encountered. Can you pull in changes to the issue-446 branch and retest?

[2022-08-10 22:14] mjordan opened #457 "--check warning about duplicate terms should only be outputed once"
"Warning: See log for important message about duplicate terms within the same vocabulary." appears for every set of duplicate terms that `--check` detects in a given vocabulary. Only necessary to tell the user this once. All duplicate terms should continue to be added to the log however.

[2022-08-11 19:29] mjordan opened #458 "Items in secondary task CSV that don't have a matching parent node in the primary task CSV are ingested"
The intended behavior is to only ingest items whose parents have been ingested.

[2022-08-11 20:43] #458 closed

[2022-08-12 13:01] dara2 commented on #446
Hi @mjordan - Thank you for the update! I tested yesterday and was unable to ingest PDFs. Each time it hit a PDF, Workbench got hung up for 15-20 minutes, and in the Drupal log I could see a PHP warning about file hash, hundreds of warnings about trying to access a media file that was no longer there (and wasn't named anything to do with what I was ingesting), and then the same 3 FITS files being

[2022-08-12 13:06] dara2 commented on #446
I also got a file error:
[code]

[2022-08-12 14:21] dara2 commented on #446
I didn't, but I just retested on another site that is also Drupal 9.4.3 and has the issue-446 branch of Workbench and it was ALL FINE. :)
So I think something has gone awry on the other site, but not Workbench-related.

[2022-08-12 14:34] mjordan commented on #446
Hard to say. If you can try to find out what the differences might be between the two sites, that might help us track down a solution. I don't think the specific Drupal version matters too much as long as it is at least 9.x, it's very likely a configuration difference.

[2022-08-12 14:43] dara2 commented on #446
Yeah, we're looking into it - I think you can consider this issue resolved, for Workbench purposes (but let me know if you disagree, and there is anything to look into involving file hash). The other site is multilingual, so there are a lot of config differences. It's also always had a problem related to FITS files "over-creating" themselves. We will likely end up updating containers and seeing if

[2022-08-12 15:48] mjordan commented on #446
Thanks. I'll reclose this issue, but I'd be interested in hearing how you resolved the issue (no need to post here if you'd prefer not to) in case it will be useful to others who might encounter it.

[2022-08-12 15:48] #446 closed

[2022-08-12 20:26] mjordan opened #459 "Provide a hook that runs after Workbench has complete executing"
https://mjordan.github.io/islandora_workbench_docs/hooks/ documents the hooks Workbench provides. There is no "shutdown" hook, which would be useful, for example, in cases where the use of Workbench is automated. For example, a shutdown script could scan the log to see if some nodes/media failed to be created, and if any are found, email the log to someone.

[2022-08-13 15:33] mjordan commented on #446
Merged into main with b82153320df5ba0966840e92a91d513be1c02d14.

[2022-08-13 20:51] mjordan commented on #459
Adding this to a config file will execture the named script: `shutdown: ['scripts/shutdown_example.py']
`.

[2022-08-13 21:58] #459 closed

[2022-08-14 22:33] mjordan opened #460 "Allow remove_media_and_file() to delete media if there is no file associated with the media"
If a media has no file associated with it, the `remove_media_and_file()` fails. This means that if a media has no file, it can't be deleted.

There are situations where you might have a media with no file, such as after a botch migration, where you want to delete the media as part of a cleanup job.

[2022-08-15 14:18] mjordan commented on #452
Adding a REST export display to the View that is referenced will let Workbench mirror the "Term from term name" View that the integration module provides for default taxonomy entity reference fields. However, there's no way to provide a generic View to do this, so each View that is referenced needs to have its own REST export created manually.

So, Workbench will be able to tell the user that they

[2022-08-15 14:51] mjordan commented on #452
Until this is in place, a workaround is to use term IDs in the CSV for fields of this configuration, with the caveat that term IDs that are not in the View results will result in the node not being created (Drupal will return a 422 response).

[2022-08-16 14:30] mjordan commented on #460
Resolved with 4270d130f92325b7dfc831bc8688fd3c59b4a501.

[2022-08-16 14:30] #460 closed

[2022-08-21 20:09] mjordan commented on #452
Coding complete. Docs need to be done.

[2022-08-22 13:49] Natkeeran opened #461 "How to update Media Use values?"
Is it possible to update media use values after creating the media?

[2022-08-22 15:29] mjordan commented on #461
Not at the moment: #76. But, adding an "update_media" task will be relatively easy now that field handlers are abstracted out. It would look like https://github.com/mjordan/islandora_workbench/blob/main/workbench#L339, and there are already two utility functions in workbench_utils.py that are relevant, https://github.com/mjordan/islandora_workbench/blob/dd8f951fc177ad90c75111bd0d259ecef5517fb5/wor

[2022-08-23 15:35] dara2 opened #462 "TypeError: argument of type 'bool' is not iterable during 'create' task with Drupal 9.4.5"
We are hitting an error on the "create" task with the latest version of Workbench (updated today) and a site that is using Drupal 9.4.5. We are not getting this error with the latest Workbench on Drupal sites that are lower than 9.4.5, using the same CSV (attached).
The error is this:
[code]
Here is the config we're using:
[code]
The standalone media URL box is checked on our site.

[i8_sample_obj

[2022-08-23 18:23] dara2 commented on #462
If you're asking if the field name on both sites (the one that works, v9.4.3 and the one that doesn't work, v9.4.5) is field_linked_agent, and that Corporate Body vocab is associated with the field, and cre and ctb are listed as allowable relators for the field, then yes. Does that help?

[2022-08-23 18:43] mjordan commented on #462
I suspect there might be a difference in configuration in how many values "Linked Agent" are allowed - e.g. unlimited, one, or a specific number. I suspect that because the error reported is happening on line 774 in workbench_fields.py, which only applies for unlimited values in the linked agent field. I can't see why the error would fail on one Drupal and not another, using the same input CSV.

[2022-08-23 19:37] dara2 commented on #462
On both sites, the field is set to "Unlimited." It is very strange! I will keep poking at it. The prod instance of this ISU site is still on 9.3.14, and I don't believe we had the issue there (only when it went to 9.4.5) but I'm going to verify that now.

[2022-08-24 15:06] dara2 commented on #462
Hi Mark - I tested the prod instance of this ISU site and we are getting the same error there (with a lower Drupal version) so I'm going to close out this issue!

[2022-08-24 15:06] #462 closed, assigned to nobody

[2022-08-27 00:51] mjordan commented on #268
Alternative to "strict", provide a max_allowed_errors option that would let user determine when --check should exit.

[2022-08-29 15:37] banetbi opened #463 "Error with latest updates"
When running a check getting the following error. Tried with new files and files that have worked before, still getting same error. CSV and YML attached.
Traceback (most recent call last):
  File "./workbench", line 1270, in <module>
    check_input(config, args)
  File "/home/jcdalton/Development/islandora_workbench/workbench_utils.py", line 1165, in check_input
    if field_definitions[csv_colum

[2022-08-30 12:41] mjordan commented on #463
Hi @banetbi, sorry for the delay. Your CSV file looks good, but there are a couple of things that might be causing this. First, can you confirm that the `additional_files` entry in your config file looks like this:

[code]
(indentation and whitespace are significant).

If that doesn't fix the problem, let me know and I can suggest something else.

[2022-09-01 13:00] mjordan opened #464 "Failuer of hook scripts should indicate what the scripts' exit code is"
Currently, failure of a hook script is logged but the exit code is not. This would assist greatly in troubleshooting.

[2022-09-01 14:01] mjordan commented on #268
Related issue - #457.

[2022-09-01 14:01] mjordan commented on #457
Related issue - #268.

[2022-09-01 14:32] mjordan commented on #464
All hook scripts should log their non-0 exit codes.

[2022-09-01 14:32] #464 closed

[2022-09-06 00:48] mjordan opened #465 "CSV preprocessor scripts should allow for getting metadata from external sources"
Currently, CSV preprocessor hook scripts get passed the following per-CSV row arguments:

1. the character used as the CSV subdelimiter (defined in the subdelimiter config option, which defaults to |)
2. the CSV field value

This is enough to normalize the CSV field value, for example, but not enough to interact with external data sources to supplement or replace the CSV field value. A use case fo

[2022-09-09 19:00] dara2 commented on #367
Hi @mjordan ! I wanted to check in and see where this falls in the roadmap?

[2022-09-11 15:18] mjordan commented on #367
I've confirmed that, unfortunately, updating/saving the node via REST after adding the field with markup has no effect. This means there may be no (simple, at least) way of having these fields render as intended other than resaving them manually using the standard Drupal edit form. I'll continue to try to figure out how the Drupal GUI does this and if we can trigger it via REST somehow. In the mea

[2022-09-14 14:15] mjordan opened #466 "Integration test for TestCreatePagedContentFromDirectories failing"
Value of `field_weight` is correct, but the position of the second node is not, so the test fails.

[2022-09-15 14:27] mjordan commented on #452
In order to validate that both the name and the tid are in the View, users will need to create a separate REST export for each parameter. It doesn't look like it's possible to make a URL parameter optional. The new `entity_reference_view_endpoints` config option will need to have a more complex structure than it currently does in order to register both REST exports.

[2022-09-15 14:50] mjordan commented on #466
Will need to have that View sorted (linked Islandora isssue above) in order to reliably predict the position of a given member node.

[2022-09-16 13:33] mjordan opened #467 "Remote files that are not accessible publicly are resulting in errors"
Remote http files that return a 403 via curl are not being caught by `ping_remote_file()`. Therefore, they are assumed to be accessible to Workbench when they are not.

[2022-09-16 19:09] mjordan opened #468 "Add config option to only process the first N rows in a task"
It is useful (and wise) to test Workbench before large jobs. Currently to do this you would need to provide it with a subset of your CSV. It would be useful to provide a configuration option that told Workbench to process only the first N rows in the CSV.

[2022-09-16 19:10] mjordan commented on #468
Or even an option that lets you indicate specific rows, by ID.

[2022-09-18 19:03] mjordan commented on #468
Closed with 00f50d66cfb9dadf3828587b271ed0b6fb438792. Docs are at https://mjordan.github.io/islandora_workbench_docs/ignoring_csv_rows_and_columns/.

[2022-09-18 19:03] #468 closed

[2022-09-18 19:09] mjordan opened #469 "Add ability to update taxonomy terms"

[2022-09-19 16:48] mjordan commented on #268
Some prep work for this issue. In 94f0a09 I've added comments ("rows_with_missing_files") to (the 27) places where `--check` should use the approach I used [here](https://github.com/mjordan/islandora_workbench/commit/a4431f394a5863bf15f94dafdf93a1dd28579ec8).

Also added `strict_check` config option, with `true` default to preserve existing behavior. If users want to let `--check` accumulate error

[2022-09-19 17:53] mjordan opened #470 "Replace "exit_on_first_missing_file_during_check" config option with "strict_check""
Work on #268 will require a more general config option than `exit_on_first_missing_file_during_check`. The new option `strict_check` will replace that option and apply to all checks.

[2022-09-19 18:21] mjordan commented on #470
Leave in place until Nov. 1, then remove from configuration option.

[2022-09-19 18:51] mjordan commented on #268
Note to @mjordan: When second check that uses `strict_check` is in place, add an entry to the top of https://mjordan.github.io/islandora_workbench_docs/configuration/#miscellaneous-settings.

[2022-09-20 20:00] mjordan opened #471 "Add maximum timeout settings to configuration"
Hard part will be deciding what to do when a request times out.

[2022-09-27 15:44] Natkeeran opened #472 "Delete file endpoint"
Currently, the delete media operation is looking for the following end point:
[code]
https://github.com/mjordan/islandora_workbench/blob/main/workbench_utils.py#L2764

However, the REST specifies the following endpoint for delete:
[code]

Similar issue with the GET end point: https://github.com/mjordan/islandora_workbench/blob/main/workbench_utils.py#L2736.  Got the following msg: 'The used authen

[2022-09-27 15:52] Natkeeran opened #473 "Delete media - thumbnail and multifile use cases"
When deleting the media, it deletes the main file associated with it.  However, it does not delete the associated thumbnail for the media.

Also, in Islandora, it is possible to attach additional file fields (example vtt). we would need to delete them as well!

Also, do we need to check if a given file is used elsewhere before deleting it!

[2022-09-27 23:02] mjordan commented on #473
Hi @Natkeeran, thanks for opening this issue.

Good catch. I'll look into this right away.

I think I need a little help here. In this example, if the vtt field is on the media, and we delete the media, does that not delete the field? If it's not on the media, where is it?

Can you give me an example of what you mean by "used elsewhere?"

[2022-09-28 19:28] dara2 commented on #259
Moving this here from Slack - let me know if you'd like it to be its own issue:
Is there a way to turn off the frequent `Warning: See log for important message about duplicate terms within the same vocabulary` messages that occur during ingest for translated terms where the word is the same in both languages? They make it very difficult to parse whether an ingest is going through okay. The example

[2022-09-28 19:32] mjordan commented on #259
Adding @dara2's note from the Slack conversation that "these warnings have to do with 2 terms that were set the same in English and in French: “Text” and “Collection” (“Text” should really be “Texte”)'.

[2022-09-28 19:36] Gii2000 opened #474 "Update task causes workbench --check to crash"
Running `python3 workbench --config config.yml --check` crashes on an `update` task with the `replace` update mode. (It runs successfully without the `--check` flag.)
[code]

[2022-09-28 19:39] mjordan commented on #474
No doubt a regression error introduced in 51c0f79d1683104aa262e0431ebb411f535f0243. I'll fix. Thanks for reporting it.

[2022-09-28 20:08] Natkeeran commented on #473
Hi @mjordan ,

Note that, for thumbnails, we need to check for generic file uris and not delete them.  I can do a PR with the code I am working on.

[In the code, ](https://github.com/mjordan/islandora_workbench/blob/main/workbench_utils.py#L2753) the media source fields are looped through and deleted.  Any other attached file fields won't be deleted.  For example, in our local use case, we ablepl

[2022-09-28 20:39] mjordan commented on #473
@Natkeeran thanks, I would appreciate a PR if you have one.

[2022-10-02 18:17] Natkeeran commented on #473
@mjordan

This is only an issue if we make use of contribu modules such as media_thumbnails, media_thumbnails_video, media_thumbnails_pdf etc.  That won't be general case.

I'm adding a patch here that will delete the thumbnail if it does not get deleted already.

[thumbnail_delete.patch.txt](https://github.com/mjordan/islandora_workbench/files/9693182/thumbnail_delete.patch.txt)

[2022-10-02 22:48] #466 closed

[2022-10-02 22:49] mjordan commented on #474
Resolved with b6f1394dcc8c58351e1f428e77507da9a49b336d.

[2022-10-02 22:49] #474 closed

[2022-10-04 15:08] dara2 opened #476 "Additional files during create task causes error in --check process"
I am ingesting objects and I have 4 extra columns for different types of media (screenshot, transcript, thumbnail, and full_text). For each column header, I’ve added the column name and corresponding Media Use term ID in my config file. But when I run the --check, I get an error on the transcript column:
[code]
I tried removing all but the "screenshot" additional file type from my config file, bec

[2022-10-04 15:46] mjordan commented on #476
What is the 'transcript' field's field type? Entity reference, text, etc.

[2022-10-04 15:58] dara2 opened #477 "Add media task --check won't run, just hangs"
I am attempting to run an add_media task. When running --check, nothing happens in terminal - it just hangs. Am I doing something wrong? I haven't done an add_media task in a while, so I'm wondering if it's user error. I did define several "additional files" in my configuration file - maybe that messed things up? I also tried with and without defining an input directory and the same problem happen

[2022-10-04 16:00] dara2 commented on #476
It's not a field type, it's just a custom Islandora Media Use term that we're uploading media for.

[2022-10-04 16:09] mjordan commented on #476
Ah, of course, sorry. I see that in your "additional_files" configuration. This is a bug that I'll need to fix. I'll try to get to it tonight.

[2022-10-04 16:46] dara2 commented on #476
Awesome - thanks, Mark!

[2022-10-04 17:04] dara2 commented on #477
Okay - please disregard this. I think something's up with the server.

[2022-10-04 17:04] #477 closed

[2022-10-04 19:28] dara2 opened #478 "Add_media task check fails when file column is empty even when missing files are allowed in config"
I get this error when running add_media, even though I've included a line in my config saying missing files are okay:
[code]
My config file is:
[code]

Based on a conversation with you back in May, I added the following line to my config and that allowed the --check process to complete. But I don't think you meant for this line to be required in add_media tasks permanently, right?
[code]

[2022-10-05 13:48] mjordan commented on #476
@dara2 can you pull in updates to the main branch and try again?

[2022-10-05 14:03] mjordan commented on #478
OK, please pull in changes to main and try again.

[2022-10-05 18:00] edlington commented on #76
My use case is that we seem to have items where some pages are copyrighted and others are not. I didn't create or describe the content, so I can't vouch for the accuracy of the assigned rights, just trying to work with an institution's materials as they are. I was hoping in a migration to be able to add copyright metadata to the media itself

[2022-10-06 12:53] dara2 commented on #476
This worked great - thank you for the quick fix!

[2022-10-06 13:35] mjordan commented on #476
Closing, resolved with d4f8a251c9468bd4dea8720fbe43cddb07842280.

[2022-10-06 13:35] #476 closed

[2022-10-06 13:54] mjordan commented on #443
[cd4882f](https://github.com/mjordan/islandora_workbench/commit/cd4882f747d3761962b8527b81a8427f8da867a5) adds some temporary, function-level hacks to work around this issue.

[2022-10-11 08:34] banetbi commented on #463
Yes, the YAML files are formatted correctly, I guess the formatting didn't
come over when I pasted it.

Thanks!
Justin Dalton
Ad maiorem Dei gloriam

On Tue, Aug 30, 2022 at 8:41 AM Mark Jordan ***@***.***>
wrote:

[2022-10-11 14:35] mjordan commented on #463
I pushed a fix for #478 a couple days ago. I think that was the same problem you encountered. Can you pull in updates to the main branch and try again?

[2022-10-25 22:04] edlington commented on #76
Dunno if this is within the purview of Islandora Workbench. Along same lines of adding metadata to  fielded media would it be possible to be able to specify in CSV whether media being migrated should be set to published or unpublished?

[2022-10-25 22:29] mjordan commented on #76
Absolutely - that is a reserved column for nodes so we could have that for media as well.

[2022-10-26 18:33] bondjimbond opened #479 "i7import fails when fetch_files=false"
My config file:

[code]

Running this gets me started, but Workbench fails quickly:

[code]

The failure is at line 180 of i7ImportUtilities.py... This line is under an IF statement: `if self.config['fetch_files'] and obj_extension:`

As far as I understand, line 180 should not be reached if I had set `fetch_files` to False. [Note I have tried this both lowercase and uppercase to no avail.]

Am I

[2022-10-27 03:16] mjordan commented on #479
I'm not sure, but can you try again using YAML values for true/false in your configuration file, like this:

[code]

If that doesn't work, let me know.

[2022-10-27 15:29] mjordan commented on #479
The config file is straight up YAML, in which `true` is completely different than `"True"`.

Documenting is the way to go. Attempting to override standard YAML syntax sounds like it would invite all sorts of complexities, and the Workbench code is already far less than clean and simple (in fact, I'm cleaning up the code so that others can help maintain it). I can document this, but thanks for the

[2022-10-27 15:37] #479 closed

[2022-10-28 20:35] mjordan opened #480 "Content of any error response from Dupal should be logged automatically"
Currently, error codes are noted in the workbench log, but any error message Drupal might return is not, unless `log_response_body` is set to `true` in the config file. For example, `File not created, POST request to "/file/upload/media/file/field_media_file?_format=json" returned an HTTP status code of "422".` is logged by default, but unless `log_response_body` is set to `true` in the config fil

[2022-10-28 22:31] mjordan commented on #479
@bondjimbond can you take a look at https://mjordan.github.io/islandora_workbench_docs/configuration/#configuration-settings to make sure I've updated the documentation adequately?

[2022-10-31 18:18] bondjimbond commented on #479
It's understandable, thanks!

[2022-11-01 15:29] mjordan opened #481 "If input CSV has no rows, log this and when when run without --check"
Currently, Workbench doesn't log the fact that there are no records in the input CSV, it just completes running. In scheduled/crontabbed usage, it would be useful to log the fact that there are no entries in the input CSV so it's clear why it didn't create any content.

[2022-11-01 16:13] mjordan commented on #481
Addressed in [7c3e072](https://github.com/mjordan/islandora_workbench/commit/7c3e0724daf6d8b12865c28dc95a0bd9be2abf7e).

[2022-11-01 16:13] #481 closed

[2022-11-02 15:08] mjordan commented on #472
@Natkeeran I'm afraid I can't get my File REST endpoint to change from `/entity/file/{file}: GET, PATCH, DELETE`, even when I change the "Standalone media URL" option at admin/config/media/media-settings from unchecked to checked (corresponding to the Workbench `standalone_media_url` setting. I've tried this on Drupal 9.4.3 and 9.4.8. What else could be different between our Drupals?

[2022-11-09 00:08] mjordan opened #482 "Remove cruft from test directories"
E.g. tests/assets/vocab_csv_test/person_fields_extra_field.csv.prepocessed.

[2022-11-09 05:02] mjordan commented on #482
And 'prepocessed' should be spelled correctly.

[2022-11-09 15:22] mjordan opened #483 "Provide config option to define absolute paths to python and workbench"
The code starting at https://github.com/mjordan/islandora_workbench/blob/main/workbench#L1331 makes some assumptions that may not be correct, e.g. that python is in the user's path. Workbench should let you define which python interpreter to use for hook scripts. This could be done using an optional config setting such as 'path_to_python'.

[2022-11-10 05:08] #482 closed

[2022-11-10 21:53] mjordan commented on #483
When run via cron, *all* paths must be absolute (or the current working directory must change to be workbench's working directory). Therefore, not only does the path to python need to be made absolute for secondary tasks (that is, at the location in the code above), but also the path to workbench.

[2022-11-10 22:00] mjordan commented on #483
Also, add docs for running in cron.

[2022-11-15 17:57] alxp opened #484 "Error when running rollback "Local variable referenced before assignment""
Text of the error:

[code]

Running Python version 3.10.8

[2022-11-15 18:00] mjordan commented on #484
Thanks @alxp I noticed that while running integration tests too. I'll spend some time on the weekend resolving this.

[2022-11-16 15:26] mjordan commented on #484
From my testing, it appears to be an authentication problem, without doubt related to #466:

[code]
Adding `standalone_media_url: true` to my config circumvented the error and deleted the media successfully, but the strange thing is that I do not have the "Standalone Media URL" option checked at admin/config/media/media-settings and my REST config for Media looks like this (as I would expect when

[2022-11-16 15:38] mjordan commented on #484
Welp, now that I've cleared my cache, my REST configuration for Media looks like I expect it to:

![image](https://user-images.githubusercontent.com/403918/202223063-a195ebc5-81cd-4e3b-a895-1da0d1b57da1.png)

And now running workbench without the  `standalone_media_url: true` setting in my config works as expected. So it was a cache problem. But it appears that with the "Standalone Media URL" sett

[2022-11-16 18:22] mjordan opened #485 "TestCreateFromFiles test failing"
When run on its own:

`./workbench --config tests/assets/create_from_files_test/create.yml
Error: CSV file tests/assets/create_from_files_test/files/metadata.csv not found.
`

[2022-11-16 18:45] mjordan opened #486 "TestExtraFieldInVocabCsvCheck and TestMissingVocabCsvCheck tests failing"
`--check` in both tests is passing with "Configuration and input data appear to be valid." whereas it should fail with an appropriate error message.

[2022-11-16 19:34] mjordan commented on #472
Note: commit [0ee5d38](https://github.com/mjordan/islandora_workbench/commit/0ee5d382081874387683c7a4dab1d005c2d5f75a) does not directly address this issue, it's more of a mitigation against #484.

[2022-11-16 19:36] mjordan commented on #484
@alxp Workbench now errors out if it gets a 403 response from Drupal in the situation I think you are reporting. We needed that check anyway, but in the meantime I'll see if I can get a better handle on, and document, the subtle variations of the "Standalone Media URL" Drupal config setting.

[2022-11-17 01:02] #470 closed

[2022-11-17 01:52] mjordan opened #487 "Convert integration tests to use ISLE, not the Playbook"
Since ISLE appears to be the preferred method of running an Islandora instance locally, tests should use it, and not the Playbook, as their target Drupal.

Currently, all integration tests use the following values in their config files:

[code]

They should use:

[code]
These credentials assume that the ISLE "secrets" are not enabled.

[2022-11-17 05:43] mjordan commented on #487
Running `--check` errors out with "Error: Field "field_resource_type" required for content type "islandora_object" is not present in the CSV file." Every config file will need to have this added using a field template.

[2022-11-17 06:26] mjordan commented on #487
Turns out that localhost:8000 and password "islandora" work with ISLE.... so no need to change those settings.

[2022-11-18 02:00] mjordan commented on #483
Tested, works as intended. Docs added to "Miscellaneous settings" section of https://mjordan.github.io/islandora_workbench_docs/configuration/ and to end of https://mjordan.github.io/islandora_workbench_docs/paged_and_compound/#using-a-secondary-task.

[2022-11-18 02:00] #483 closed

[2022-11-22 23:49] #480 closed

[2022-11-23 15:49] mjordan commented on #334
@dmer did you ever get a chance to use this config? If so I'd like to close this issue.

[2022-11-23 16:32] dmer commented on #334
Yes! I did test this - apologies for not getting that back into this thread. I believe this issue can be closed now.

[2022-11-23 18:12] #334 closed

[2022-11-25 03:50] mjordan commented on #407
Resolved with 3fe5c282d0e52f10f7f147001c26e76c21d3d7d9, docs updated.

[2022-11-25 03:50] #407 closed

[2022-11-25 06:50] mjordan opened #488 "Add a quickdelete task"
This task will allow the deletion of a single node or media without having to prepare a CSV file. The URL of the node or media should be specified on the command line. The config file need only contain task, username, and password, so can be reusable for different URLs.

[2022-11-28 15:37] mjordan commented on #488
`./workbench --config create.yml --quick_delete_node http://localhost:8000/node/393` and

`./workbench --config create.yml --quick_delete_media http://localhost:8000/media/552/edit`

added in bdab24f75300f85cba58a14aab497879f1585fa8. Docs forthcoming.

[2022-11-28 15:37] #488 closed

[2022-11-28 16:57] dara2 opened #489 "Ability to define different filesystem storage rules for different media use terms on ingest?"
In order for our thumbnail images to not appear broken for anonymous users on first page load, we store them in Drupal's public filesystem. We do this via a rule in the action that creates the thumbnail derivatives. However, we realized if we ingest objects and our Workbench CSV has a column for source media/files and a column for thumbnail images, those thumbnails are being put into Fedora. I saw

[2022-11-28 17:22] mjordan commented on #489
@dara2 the `drupal_filesystem` doesn't do anything if you're using Drupal 9.2 or later. With that version, Workbench started using Drupal's REST interface for media and moved away from Islandora's, which proved problematic.

To my knowledge, Drupal's REST interface for file fields does not allow you to override the filesystem that is configured in the file field's configuration, but I will investi

[2022-11-28 18:29] dara2 commented on #489
Oh, interesting! Yes, looking at the Image field settings, the upload destination is Flysystem.

[2022-11-28 19:26] mjordan commented on #488
https://mjordan.github.io/islandora_workbench_docs/quick_delete/

[2022-11-28 19:38] dmer commented on #489
Image media-type is set for Flysystem - and that isn't wrong - that's where we want them stored UNLESS they are media-use-type Thumbnail so there's not an easy config fix for this that I can see.

[2022-11-29 04:19] mjordan commented on #489
I've written a simple script to create a file via Drupal's REST interface, specifying the Drupal "public://" filesystem and destination path to the file to be in the Drupal public file space. In this example, it's an 'image' media whose 'field_media_image' field is configured to use the 'Flysystem: fedora' filesystem. I'm sorry to say that the script created the image with no errors, but the files

[2022-11-29 04:20] mjordan commented on #489
@dmer do you want to open a use case issue or would you like me to?

[2022-11-29 13:42] dmer commented on #489
Thanks for that helpful test info Mark! We're going to discuss this issue internally then we'll be happy to open or contribute to an issue. If we open one, I'll put a link on this thread.

[2022-11-29 13:57] dara2 commented on #489
Yes, thank you @mjordan ! I will open an issue if needed.