[2021-03-01 00:10] mjordan commented on #235
@zvowell can you export the configuration of your Person vocabulary for me and paste it into a comment here? To to that, go to `/admin/config/development/configuration/single/export` and choose "Taxonomy vocabulary" in the "Configuration type" list, and then "Person (person)" in the "Configuration name" list.

[2021-03-01 00:21] mjordan commented on #227
@dara2 and @DonRichards have you had a chance to test the changes in the issue-227 branch? They work for me but I'd love it if someone else could confirm.

[2021-03-01 00:26] mjordan commented on #98
Closing this since there are tests now.

[2021-03-01 00:26] #98 closed

[2021-03-01 00:34] mjordan opened #237 "Move the "split_x_string()" functions from workbech_utils.py to their respective classes in workbench_fields.py"
`split_link_string()`, `split_geolocation_string()`, and `split_typed_relation_string()` could be added to their respective field objects as `split_csv_string()`.

[2021-03-01 00:36] mjordan commented on #203
@Digital-Grinnell OK to close this issue?

[2021-03-01 04:01] Digital-Grinnell commented on #203
Yes, thanks Mark.

Sent from my iPad

On Feb 28, 2021, at 6:36 PM, Mark Jordan <notifications@github.com> wrote:

﻿

@Digital-Grinnell<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_Digital-2DGrinnell&d=DwMCaQ&c=HUrdOLg_tCr0UMeDjWLBOM9lLDRpsndbROGxEKQRFzk&r=D8E-oGNaPT9srWV6jE8UP5unsmKEmmHEH-tzgmjBvLk&m=iUiJsT9vZnFUsTMBvZdnhFwKNRIrQyIv6W-y9jUvUT0&s=FEeSsw24dHrWx1E8zvCMeoy9HMVDSbPzz

[2021-03-01 13:50] dara2 commented on #227
Sorry--I will try and test that today. I tried to test last week, but
updating Workbench ended up taking me a day due to the "magic" issues (my
Mac needed me to install libmagic and filemagic separately). Now that it's
up and running again, I'll have another go!

On Sun, Feb 28, 2021 at 7:22 PM Mark Jordan <notifications@github.com>
wrote:

--

Dara Virks, Technical Project Manager

Pronouns: she/

[2021-03-01 15:22] Ansel-Hong commented on #154
Ah makes sense, and for the `update` task do I have to somehow merge the node_id file and the other columns of the `create` file

[2021-03-01 15:26] mjordan commented on #154
Good question. Instead of merging, I would add some simple field data to the file I am writing out, for example:

[code]

[2021-03-01 15:30] mjordan commented on #160
`tests/field_tests.py` does this with log entries, but this doesn't apply to stdout:

[code]

[2021-03-01 23:44] zvowell commented on #235
Here's the Person vocabulary configuration:

    uuid: 516861d0-dcbe-40ce-b1b3-cbca5b89695e
    langcode: en
    status: true
    dependencies: {  }
    _core:
      default_config_hash: GAHBiBARA1hdVQoJq1P1oyK47vGxwTr3vyiPsnwqD44
    name: Person
    vid: person
    description: 'An individual of the human species. '
    weight: 0

[2021-03-05 04:14] mjordan commented on #235
@zvowell haven't forgotten about this, just swamped with day job and am brain dead in evenings. Will dig in over the weekend.

[2021-03-05 16:36] jordandukart opened #238 "Add missing dependency on python-magic-bin"
As introduced in https://github.com/mjordan/islandora_workbench/pull/215/files there is now a dependency on [magic](https://pypi.org/project/python-magic-bin/) which will cause a fresh install to not complete.

For reference:

[code]

[2021-03-06 22:54] mjordan commented on #227
Note to MJ: when merged into main, add the use of Pathauto to https://mjordan.github.io/islandora_workbench_docs/aliases/.

[2021-03-06 22:58] mjordan opened #240 "Add pull request template"
Using the

[2021-03-06 23:10] #240 closed

[2021-03-08 04:51] mjordan opened #241 "Misleading "OK, all terms exist in their vocabularies" during -check"
This message is shown mistakenly to the user during --check when checking Typed Relation fields. Appears to be working for ordinary taxonomy reference fields.

[2021-03-08 04:54] mjordan opened #242 "Checking the existence of vocabular terms takes a long time"
When finished, user sees "OK, term IDs/names in CSV file exist in their respective taxonomies." but during the check, there is no feedback to the user. Maybe show a progress bar?

[2021-03-08 05:35] mjordan commented on #235
To try to replicate this problem, I created 1000 nodes with new Person terms as subjects (933 new terms total) without a failure. My CSV file was pretty simple however, with only an id, title, and field_subject field.

I then spun up a new Islandora 8 box and tried to ingest the same CSV and all of the new terms failed to be created.

Can you check `/admin/reports/status` to see what version of Dr

[2021-03-08 20:54] Ansel-Hong commented on #154
Hi, sorry for taking so long to respond, just finished exams recently. I would like to ask why I'm getting a error message when I delete nodes saying
`Traceback (most recent call last):
  File "./workbench", line 920, in <module>
    delete()
  File "./workbench", line 656, in delete
    media_id = media['mid'][0]['value']
TypeError: string indices must be integers`
Also, I'll try to get the integ

[2021-03-08 21:10] mjordan commented on #154
Don't know... I haven't see that error before. Can you confirm that the nodes you are deleting have media attached? If so, I'll try to replicate the error. Also, what content type are your nodes?

No sweat on the tests, thanks for checking in.

[2021-03-08 21:27] Ansel-Hong commented on #154
The nodes Im deleting dont have media attached, they are of the "Article" type. Should I use another type instead?

[2021-03-08 21:30] mjordan commented on #154
Type shouldn't matter, but I'll take a look.

[2021-03-08 22:44] mjordan commented on #235
Following up on my comment ^ from last night, I just installed the current version of the Islandora Playbook, installed the Islandora Workbench Integration module, and used Workbench to ingest (without any HTTP 422 taxonomy terms) the same set of nodes with new `person:` values in `field_subject`. That Islandora is running Drupal 9.2.0-dev.

I'm really hoping the failures are specific to the earli

[2021-03-09 01:01] zvowell commented on #235
I'm running 8.8.5. I'm definitely open to ingesting a modified CSV into your new instance, and will keep an eye on slack for the details. Thanks!

[2021-03-09 03:50] mjordan commented on #154
@Ansel-Hong I added a check for media that should avoid this problem. Can you pull down the latest changes to the main branch and test deleting again?

[2021-03-09 03:54] Ansel-Hong commented on #154
Yup it works now thank you, I realised however the url alias is not deleted (under configuration>url alias) but I'm guessing thats the point of the integration test to check for issues like that.

[2021-03-09 15:04] mjordan opened #243 "Misleading "Warning: Issues detected with validating typed relation field values in the CSV file" during --check"
CSV data with no typed relation fields are triggering the following warning during `--check`: "Warning: Issues detected with validating typed relation field values in the CSV file. See the log for more detail."

[2021-03-09 15:34] dara2 commented on #227
Hi Mark - I was finally able to test this. It is creating nodes and media (no more errors during the import!).

[2021-03-09 16:08] mjordan commented on #227
Super, thanks, I'll merge and update the docs this evening.

[2021-03-10 02:49] #227 closed

[2021-03-10 03:22] mjordan commented on #235
OK to close this?

[2021-03-10 18:06] zvowell commented on #235
Yes! :)

[2021-03-10 18:06] #235 closed

[2021-03-11 14:54] mjordan commented on #236
All we need to do to identify where a new terms fits into the vocabulary's hierarchy is pair the new term with its intended parent. The way we pair it needs to be some character or set of characters that would not likely appear in terms, or that Workbench doesn't use for another purpose already. Here is a set of examples using `>>` to separate the new term from its intended parent, using the follo

[2021-03-11 14:59] mjordan commented on #230
@Ansel-Hong I see you :+1: there - did you test this?

[2021-03-11 15:14] Ansel-Hong commented on #230
Yes I did the create and update tasks works for Link fields

[2021-03-11 15:17] #230 closed

[2021-03-11 15:46] mjordan commented on #230
Thanks for opening this issue and testing!

[2021-03-12 13:44] dara2 opened #244 "No Person terms are created - Drupal 8.9.14-dev"
When I run --check, it doesn't flag any errors, and says the new Person terms in my CSV will be created. Then, when I do the import I get errors in the log like `09-Mar-21 09:44:16 - WARNING - Term 'Sorg, Marcella' not created, HTTP response code was 422.`, the term is not created, and any node that references it is also not created in Drupal. Previously this was occurring for some Person terms, b

[2021-03-12 14:34] mjordan commented on #244
Thanks, this is very helpful. `field_person_preferred_name` is the problem. I think shipped with that field up until https://github.com/Islandora/documentation/issues/1561, when we removed it (and the Name module, which may have required that field). Can you confirm that your Islandora has the Name module installed and enabled? If it doesn't, then it looks like the the Person vocabulary on your Dr

[2021-03-12 15:38] dara2 commented on #244
Hi Mark--
I don't see the Name module when I look at the list of modules in the Drupal UI, but when I look in Git, it seems like maybe it is still there.
When I look in the Person form, there is no visible "Person Preferred Name" field like there used to be. But, I see that Person Preferred Name is still available as a field, just disabled (at /admin/structure/taxonomy/manage/person/overview/form-

[2021-03-12 15:45] mjordan commented on #244
Sounds like the module was disabled but not uninstalled. That might be (not sure) required to remove the field.

[2021-03-12 22:36] Ansel-Hong commented on #154
@mjordan I'm trying to push my local repo for issue-154 but im getting a error saying `Can't connect to any URI: Ansel-Hong@github.com:mjordan/islandora_workbench.git (Ansel-Hong@github.com:mjordan/islandora_workbench.git: No more authentication methods available)` do you know what the problem might be?

[2021-03-12 23:55] mjordan commented on #154
Looks like you are trying to push to my Github account. Also, I don't see a fork of Islandora Workbench at https://github.com/Ansel-Hong. I'm really only familiar with the workflow of forking a repo into your own Github account, pushing your changes to your fork, and then opening a pull request, which I would then merge into mine. Is what you are trying to do?

[2021-03-13 01:28] Ansel-Hong commented on #154
Ah okay my bad, I dont know why it was in pushing with ssh. I managed to push it now.

[2021-03-13 19:52] mjordan opened #245 "Check to see if vocabularies have required fields"
Until #111 is ersolved, add a check to warn user that the vocabularies they are populating have required fields. This check would help avoid situations like the one described in #244.

[2021-03-14 23:07] mjordan commented on #154
@Ansel-Hong feel free to open a pull request when you're ready.

[2021-03-14 23:18] Ansel-Hong commented on #154
Okay I will do that still need to write code to remove the url alias during tearDown because right now it removes the nodes without deleting the corresponding url alias

[2021-03-14 23:45] Ansel-Hong commented on #154
Should the test code only create a node with a url alias and update it without deleting? If so I can just send a pull request then.

[2021-03-15 00:30] mjordan commented on #154
In general, the tests should delete everything they create. The one exception is taxonomy terms.

If you want to open the pull request without deleting the aliases, go ahead. We can add code to delete those later.

[2021-03-15 00:33] Ansel-Hong commented on #154
Okay Ill just make a pull request first so you can check if everything works on your end. Thanks, and sorry again for taking so long.

[2021-03-16 15:10] mjordan commented on #77
Also, add a check for media use terms in the CSV that correspond to media created by Contexts. A general warning issued by `--check` could identify anything other than "Original File", since it's safe to assume that Contexts that create derivatives use "Original File" as the source media use. Possible wording for this warning could be "Islandora Workbench has detected Media Use terms in your CSV i

[2021-03-17 03:42] Ansel-Hong commented on #154
https://github.com/mjordan/islandora_workbench/pull/246#issue-592654685

[2021-03-18 04:58] #238 closed

[2021-03-18 10:19] Ansel-Hong commented on #154
For deleting the url alias shound I hook the url alias to the node or how do I delete it?

[2021-03-18 13:59] dara2 commented on #77
Hi @mjordan - I tested this but am not seeing what I was expecting (Media Use is still showing as just "Original File" instead of "Original File, Thumbnail Image").
My .yml file includes this line: `media_use: "Thumbnail Image | Original File"`
I run the import, and then I look at the Media tab for an image and I see this:
![Screen Shot 2021-03-18 at 9 56 33 AM](https://user-images.githubuserconte

[2021-03-18 14:10] mjordan commented on #77
You need to use term IDs in the `media_use_tid` setting, not term names, e.g. `media_use_tid: 17|18`.

We can make term names work, but I'd like to do that as a separate step.

[2021-03-18 14:25] dara2 commented on #77
Got it - thanks! I will try that.

[2021-03-18 14:54] dara2 commented on #77
Hi @mjordan - So, that works as expected. However...now we're running into another issue. Is there any way to apply these multiple term IDs ONLY to certain file types? We want PDFs to stay only as "Original File" (so that we can still generate those thumbnail derivatives using Drupal actions). Perhaps this is a new issue/request - if so, let me know and I can open one. :)

[2021-03-18 15:06] dara2 commented on #77
I guess the question is, could we add a column `field_media_use` to the CSV and put the Media Use term or terms in there on a per-object basis (so some objects have two, some just have one)? (Rather than declaring the Media Use terms in the .yml file.)

[2021-03-19 07:44] Ansel-Hong opened #247 "Update task to replace multivalued fields"
Is there a way for the "update" task to update and replace a multivalued field with the new specified content rather than adding more values into the field.

What I mean is given a taxonomy field called fruits with "Apples, Bananas" can I run an update task to change it to "Apples, Oranges" because right now the update task adds the new taxonomy terms on top of it, ending up with "Apples, Bananas,

[2021-03-19 13:39] mjordan commented on #247
Not at the moment. What you are asking for is related to #47, which has a depends on #72. I have been working on #72 for the last while, but it's a huge task, so I can't give you an estimated time of completion.

[2021-03-19 13:53] mjordan commented on #77
Correct, the media use terms apply to all files. Providing a way to do it at the CSV record level is the way to go.

One thing though - I don't want to mix using node fields and media fields in one CSV because it would complicate the way that Workbench gets field-level configuration from Drupal. For this situation, where we already have configuration option, I'd rather reuse that configuration nam

[2021-03-19 13:59] mjordan opened #248 "Allow child objects to have a different Drupal content type than their parent"
Use case has arisen to create a compound object (a parent with one or more children) where the children do not have the same Drupal content type as the parent. Specifically, a thesis parent with dataset children.

Problem with this is that Workbench assumes that every object described in the CSV has the same set of fields. All CSV value validation and population relies on field-level configuration

[2021-03-19 13:59] dara2 commented on #77
That sounds perfect, thanks @mjordan !

[2021-03-19 16:42] dara2 commented on #77
One other note: I tried adding `media_use_tid: 5` to the .yml file (term ID for our Original File) and I got this error during the --check:
[code]
Previously (even though it wasn't really necessary) I was able to specify my Media Use term ID in the .yml file if I wanted to. Now it seems like it doesn't like it if I just have one term ID? It's fine when I leave out the `media_use_tid` altogether, a

[2021-03-19 17:04] mjordan commented on #77
This ^ is simple bug I will fix, thanks for catching it.

[2021-03-20 02:53] Ansel-Hong commented on #247
Ok, thank you good to know there are plans to implement that feature.

[2021-03-21 05:41] Ansel-Hong commented on #154
@mjordan Sorry, forgot to @ you about the question, Thanks!

[2021-03-22 16:42] DonRichards opened #249 "Max retries exceeded with url"
When I run check, it looks right (with a warning) but when I try to running it without `--check` it fails.

#### Check results
[code]

#### Run results
[code]

#### Config
[code]
#### CSV
[code]

[2021-03-23 14:14] mjordan commented on #249
`issue_request()` (https://github.com/mjordan/islandora_workbench/blob/main/workbench_utils.py#L220) should be wrapped in a try/except.

On a related topic, I can't test with Docker, I'm still unable to stand up isle-dc (related to #222).

[2021-03-24 06:38] Ansel-Hong opened #250 "Unable to ingest node with image"
When I ingest a node with an image, the image isn't ingested. I've attached the yml and csv file:
[createimage.txt](https://github.com/mjordan/islandora_workbench/files/6194903/createimage.txt)
[metadata.txt](https://github.com/mjordan/islandora_workbench/files/6194907/metadata.txt)

Just to preface I've tried ingesting images a while back and it worked fine before.

[2021-03-24 14:27] mjordan commented on #250
Creating media only works for content types that use Islandora's media, since Workbench uses Islandora's custom media REST controller. I tried to move to using Drupal's standard media creation REST interface a while back (#171) but it was full of bugs so I abandoned it. Apparently that [was fixed](https://www.drupal.org/project/drupal/issues/3072076) in Drupal 9 so it's probably time to try again.

[2021-03-25 03:19] mjordan commented on #171
OK, back in business. In Drupal 9.2.0-dev, the issue linked above is resolved.

This now works for creating file:

curl -v -X POST -uadmin:islandora -H'Accept: application/vnd.api+json' -H'Content-Type: application/octet-stream' -H'Content-Disposition: file; filename="test.jpg"' --data-binary @bcp3356.jpg  "http://localhost:8000/jsonapi/media/image/field_media_image"

Then, for creating the file's

[2021-03-30 15:11] mjordan opened #251 "A media with the same filename as an existing media overwrites existing file URI"
Media created via REST that have a filename that is already in use get assigned the same filename in Fedora and other Drupal filesystems. This can be seen in the database table below in the entries with `fid` 36 and 40. This is because REST bypasses the "File directory" settings in the media file configuration (as configured at e.g. `admin/structure/media/manage/image/fields/media.image.field_medi

[2021-03-30 15:31] mjordan commented on #251
In the short term, probably best to add a `--check` for duplicate filenames until a fix is available.

[2021-04-05 21:38] mjordan commented on #171
Some preliminary tasks:

First, to create files, Workbench will need a  media type -> media field mapping like this:

[code]

and this will need to be extensible via configuration, to accommodate custom media types.

Second, to create media, we'll need to be able to get UUIDs for instances of nodes, files, and taxo terms, as illustrated abobe.

[2021-04-05 23:04] mjordan commented on #171
`config['media_fields']` option added in 8d1cf750eec47510dc9030f38f9ea6485399b4a6. If present in config file, allows adding/overriding which field is used for a media bundle's file.

[2021-04-06 14:29] mjordan commented on #171
`get_term_uuid(config, term_id)` added in 2c5243480f2b74df34e3f0b8a9c618ae3f735195.

[2021-04-06 15:43] mjordan opened #252 "Add support for remote video media"
Currently, Workbench assume media have files attached to them. Remote video doesn't.

[2021-04-07 03:44] mjordan opened #253 "Provide an option to run an external script upon successful ingest of a node and/or media"
Basically, before moving on to creating the next node, Workbench calls a script registered in the config file that uses the current (just completed) CSV record and the just created node and media ID as input. Some use cases:

* Create a custom media manged by a non-Islandora contrib module.
* Poll an external service like a persistent identifier minter and update the recently created node using it

[2021-04-07 14:12] mjordan opened #254 "Add check for Drupal core"
Now that https://github.com/mjordan/islandora_workbench_integration/issues/11 is in place, Workbench can check the version of Drupal core.

[2021-04-07 15:27] #254 closed

[2021-04-07 15:32] mjordan commented on #171
#254 adds code to check version of Drupal core. Depends on islandora_workbench_integration commit 638d172b2589463c36b2032c6400f62063fc932d. To put this into production, uncomment `# check_drupal_core_version(config)` in workbench_utils.py.

[2021-04-09 14:44] mjordan commented on #47
@Natkeeran sorry I've been distracted focusing on https://github.com/mjordan/islandora_workbench/issues/171. Which branch did you use as the basis for the work in https://github.com/digitalutsc/islandora_workbench/commit/bae6e772a544a0007c84e95c8606d08bdcbd2129?

[2021-04-13 17:42] mjordan commented on #171
Noteworthy changes to Workbench resulting from development on this issue:

* Workbench now polls Workbench Integration for Drupal's version number.
    * If Drupal's version is less than 9.2, Workbench uses Islandora's MediaSourceController to create media (i.e., what it's been doing up until now).
    * If Drupal's version is equal to or greater than 9.2, Workbench uses Drupal's core REST endpoin

[2021-04-16 13:57] mjordan opened #255 "Allow columns in CSV that do not correspond to Drupal fields"
It would be useful to be able to include in the input CSV columns that do not correspond to Drupal fields. Currently if you do this `--check` tells you "Error: CSV column header "foo" does not match any Drupal field names."

Use case for this is using the CSV as input for tools in addition to Workbench. For example, I have a scripted workflow where I want to load a batch of objects nightly into Is

[2021-04-16 15:02] Natkeeran commented on #47
@mjordan It is off the main branch.  However, the logic is basic can can be adopted easily.

[2021-04-18 20:48] mjordan commented on #255
Resolved with 115c21132cc0ac967981bc0aef8dd2efea0c266c.

[2021-04-18 20:48] #255 closed

[2021-04-18 20:49] mjordan commented on #255
Config option is `ignore_csv_columns: ['foo']`. If this colum is present in the input CSV, Workbench will ignore it.

[2021-04-18 21:43] mjordan commented on #171
Merged into main with b37f3539a17559f9a68247114972b92543fbd376.

[2021-04-18 21:43] #171 closed

[2021-04-18 23:22] mjordan commented on #77
Closed with b37f3539a17559f9a68247114972b92543fbd376.

[2021-04-18 23:22] #77 closed

[2021-04-18 23:23] mjordan commented on #251
For Drupal 9.2 and higher, resolved with b37f3539a17559f9a68247114972b92543fbd376. Still exists in earlier versions of Drupal. Warning added to docs.

[2021-04-18 23:23] #251 closed

[2021-04-19 14:56] mjordan opened #256 "Progress bar not showing in delete tasks"
The progress bar is not showing in delete tasks. Should also test other tasks.

[2021-04-20 03:28] mjordan commented on #248
I've worked around the problem I identify above by allowing for "secondary tasks". This feature allows Workbench to validate and execture more than one config file. The primary config file is for parent items, while the secondary config file is for children. Within the secondary CSV, the `id` values of the parents are included. When Workbench exectures the secondary job, it knows the node IDs of t

[2021-04-20 07:17] mjordan commented on #248
Resolved with 63535daca21ea83040fb7ad17fc7509854b335d7. Docs are at https://mjordan.github.io/islandora_workbench_docs/paged_and_compound/#using-a-secondary-task.

[2021-04-20 07:17] #248 closed

[2021-04-20 20:08] mjordan opened #257 "Build in a check for circular secondary task configurations"
This probably wouldn't go very well:

first.yml:

[code]

second.yml:

[code]

We need to check for this somehow.

[2021-04-28 14:25] mjordan opened #258 "Allow Workbench to use environment variables for username and password"
If present, these would be used instead of the host and username settings in the config file.

[2021-04-28 16:38] DonRichards opened #259 "Multilingual Options"
## Suggestion:
To accommodate multilingual content by means of 2 migrate CSV files; 1 with the bulk of the fields with the original language content and other with another with just overrides. Assuming both nodes reference the same 'id' field or something. Trying to keep the 2 separate but avoiding having to keep duplicating all of the content like relaters and other metadata.

### Original CSV
[c

[2021-04-28 20:03] mjordan commented on #259
The new secondary task functionality could likely be modified to handle this. Currently, it assumes a "member of" relationship, but we could make the specific type of membership between the primary nodes and the secondary nodes an additional config option, so for example if you wanted the translated nodes as in your case you'd specify that relationship

[2021-04-29 04:42] mjordan commented on #259
Not having much luck determining if creating translations via REST (or JSON:API) is possible. The only issues I can find that discusses this functionality are https://www.drupal.org/project/drupal/issues/2135829 (core REST) and  https://www.drupal.org/project/drupal/issues/2794431 (JSON:API) and it's not clear to me what their status is, despite both being pegged to Drupal 9.2. I'll continue to re

[2021-04-29 18:11] Digital-Grinnell opened #260 "Media referenced by URL with `?raw=true` suffix not loading."
Working on ICG's test of I8 and we have a Google Sheet with media/file references like this:
[code]

This was for an object to which I assigned a unique ID of 1100118.  The “intermediate” file left behind in my input_data folder was correspondingly named `1100118/Video_03.mp4?raw=true`.  That intermediate file was a viable .mp4 video because I was able to play it locally once I removed the `?raw=t

[2021-05-04 01:38] mjordan opened #261 "Add ability to run a script after a node is created/updated/etc/"
It would be useful to be able to run a script after the node and media are created, or to run a script if their creation fails. In particular, this ability would be useful in automated jobs where the failure to ingest a node might email someone, for example.

[2021-05-04 01:42] mjordan commented on #260
@Digital-Grinnell  As a generic (non-Github specific) solution, I wonder if just having Workbench strip everything including and after a `?` in the filenames of downloaded files would be sufficient? Using your example, if the remote filename is `Video_03.mp4?raw=true`, the version that Workbench saves would be `Video_03.mp4`.

[2021-05-04 04:47] Digital-Grinnell commented on #260
Yes, that was what I was thinking too.   Asked on my experience I think it would work.

Sent from my iPad

On May 3, 2021, at 8:43 PM, Mark Jordan ***@***.***> wrote:

﻿

@Digital-Grinnell<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_Digital-2DGrinnell&d=DwMCaQ&c=HUrdOLg_tCr0UMeDjWLBOM9lLDRpsndbROGxEKQRFzk&r=D8E-oGNaPT9srWV6jE8UP5unsmKEmmHEH-tzgmjBvLk&m=QWgax0m8rYS-6htgq3zGc_hpw

[2021-05-04 20:37] dara2 opened #262 "Can't create media during import with latest version of Workbench - Drupal 8.9.14-dev"
I am unable to create media at all anymore when importing content with the most recent version of Workbench. I get the error: `04-May-21 15:08:59 - ERROR - File not created, POST request to "/file/upload/media/image/field_media_image" returned an HTTP status code of "404".`

I am using Drupal 8.9.14-dev. Workbench does identify this during its --check. When I run the --check, it says: `Warning: Me

[2021-05-04 20:41] mjordan commented on #262
I'll try to replicate what you're seeing by hard-coding the Drupal version in my setup to to "8.9.14-dev".

[2021-05-05 16:35] ajstanley commented on #262
I'm seeing the exact same thing using Drupal 8.  The error is coming from here
https://github.com/mjordan/islandora_workbench/blob/main/workbench_utils.py#L1580
When we get to issue_request, the URL is 'https://islandora.traefik.me/file/upload/media/file/field_media_file' and we get a 404

[2021-05-05 16:46] mjordan commented on #262
OK, thanks both, there's obviously something awry here that I thought my `drupal_8` flag covered.

[2021-05-05 16:58] ajstanley commented on #262
It might not be a Drupal 8 thing - we're not even getting to the create_media part yet.
On a hunch a checked my REST settings, and that endoint wasn't activated by default.  I turned it on and I'm now getting a 406 error (which is 2 better than a 404). My headers include accept: */*, so beats me.  I'll much around some more.

[2021-05-05 20:25] ajstanley commented on #262
I've got it.  The file upload rest endpoint needs to have a format specified.
PR coming.

[2021-05-05 21:35] ajstanley commented on #262
We should add a note to the documentation that the` /file/upload/{entity_type_id}/{bundle}/{field_name}: POST` endpoint must be activated on the I8/9 instance

[2021-05-06 14:20] mjordan commented on #262
That endpoint is enabled automatically by https://github.com/mjordan/islandora_workbench_integration/blob/main/config/optional/rest.resource.file.upload.yml on new installs, but if for existing installs, you need to import the configs for that module using `drush cim -y --partial --source=modules/contrib/islandora_workbench_integration/config/optional`. But given the (probably flawed) logic in det

[2021-05-06 19:54] ajstanley opened #264 "EDTF validation"
Some valid EDTF entries are failing validation -
1919-04-23~/1919-04-25~
1910~
Both of these dates work when entered into an EDTF date field through the user interface

[2021-05-06 19:57] seth-shaw-unlv commented on #264
I believe these are both valid values. Intervals and single years can both have approximate signifiers.

[2021-05-06 20:33] mjordan commented on #264
Thanks, I'll take a look.

[2021-05-06 20:56] ajstanley commented on #264
I've just deleted
[code]
and it works as intended.

[2021-05-06 21:03] ajstanley commented on #262
` set_drupal_8() `was missing a return statement

[2021-05-06 21:14] mjordan commented on #262
That's probably the real bug we're trying to fix. Thanks for finding that @ajstanley.

That said, I want to look into lowerering the threashold to Drupal 8.5 to qualify as "drupal_8" since it appears `/fine/upload` is available in 8.6.

[2021-05-06 21:29] ajstanley commented on #262
I can confirm that it works for me with 8.9

[2021-05-06 21:31] mjordan commented on #262
Sweet. I'll give it a test in 9.2 as well, although these fixes should have no side effects there.

[2021-05-07 13:50] mjordan commented on #264
We still want validation on those. I'll take a look over the weekend, including adding unit tests for the samples above. If you guys have additional samples, please share them and I'll add them to the tests.

[2021-05-07 15:42] #262 closed

[2021-05-07 15:59] seth-shaw-unlv commented on #264
If you want to use someone else's EDTF code, there is [a Python EDTF library](https://pypi.org/project/edtf/). Pass the EDTF string into the parse function and an invalid EDTF string will throw a EDTFParseException.

[2021-05-08 17:06] mjordan commented on #264
@seth-shaw-unlv thanks, that library looks very useful. One question - if I use it to validate ETDF values in CSV, is there a risk that the data would pass validation but be valid for a feature of ETDF that the Drupal module doesn't support? In other words, date fields populated by Workbench might not work in Drupal because the data in those fields is not yet supported in the Drupal module. Should

[2021-05-08 17:13] mjordan opened #265 "Allow Drupal 8.6 and up to use core Drupal file upload REST endpoint"
Currently, Workbench uses Drupal's core `/file/upload` REST endpoint only if Drupal has a version number equal to or greater than 9.2. This endpoint was introduced in Drupal 8.6.

[2021-05-08 17:43] mjordan commented on #265
@dara2 and @ajstanley Could you test the `issue-265` branch for me? I've lowered the minimum Drupal version to use the core file REST endpoints from 9.2 to 8.6. Test would just involve the folllowing:

`get fetch origin`
`git checkout issue-265`

Then try to create some nodes and media. If the media get created,  the test passed.

[2021-05-08 22:56] mjordan commented on #260
@Digital-Grinnell can you test the issue-260 branch to see if it resolves the problem?

[2021-05-08 22:58] mjordan opened #266 "TestCreatePagedContentFromDirectories and TestCreatePagedContentFromDirectoriesDrupal8 are failing"

[2021-05-08 23:39] #266 closed

[2021-05-09 00:51] seth-shaw-unlv commented on #264
I think we have feature parity, so it should be fine. The only potential issue is that the widget can restrict EDTF features which would force someone manually editing the item to comply with widget settings before saving it again.

[2021-05-09 14:58] ajstanley commented on #265
Test passed!  (Works perfectly)

On Sat, May 8, 2021 at 2:43 PM Mark Jordan ***@***.***> wrote:

--
Alan Stanley
Interim Executive Director
Spinal Cord Injury, PEI

☎ *902-393-0017*

[2021-05-10 14:12] mjordan commented on #260
@Digital-Grinnell OK, the issue-260 branch is ready to test, if you can.

[2021-05-10 14:29] dara2 commented on #265
Hi @mjordan - This didn't work for me. For all media, during import I got errors in the log like:
`10-May-21 10:25:38 - ERROR - File not created, POST request to "/file/upload/media/image/field_media_image?_format=json" returned an HTTP status code of "404".`

I'm running Drupal 8.9.15-dev

Errors in the database log looked like this:

[code]

[2021-05-10 14:39] dara2 commented on #265
Hi @mjordan - It does show as enabled, with `formats: jsonld, json` and `authentication: basic_auth, jwt_auth, cookie`.
Should I remove the things that are not needed here (jsonld and the other auth methods)?
![Screen Shot 2021-05-10 at 10 38 09 AM](https://user-images.githubusercontent.com/72275887/117676869-eff77d80-b17b-11eb-8062-784a3ea12e64.png)

[2021-05-10 14:42] mjordan commented on #265
I'm sorry, "File upload", not "File". My mistake.

[2021-05-10 14:49] mjordan commented on #265
Sorry again.... POST is correct, not GET. Not sure why I said "GET".

[2021-05-10 15:09] mjordan commented on #265
Super, thanks for testing. Sorry about the poor directions.

Leaving that endpoint enabled won't interfere. I'll merge the issue-265 branch in now so when you go back into main, do a `git pull`.

[2021-05-10 15:15] mjordan commented on #265
Merged, and docs updated.

[2021-05-10 15:15] #265 closed

[2021-05-10 15:17] mjordan opened #267 "Changes in issue-260 branch broke tests"
Islandora integration tests are currently broken.

[2021-05-11 13:03] McFateM commented on #260
I pulled the `issue-260` branch and subsequently ran a brief test last evening, an ingest of video content that featured three different `file` references in the following forms:

  - https://github.com/Islandora-Collaboration-Group/islandora-sample-objects/raw/master/VIDEO/Video_01/Video_01.mp4
  - https://github.com/Islandora-Collaboration-Group/islandora-sample-objects/blob/master/VIDEO/Video_0

[2021-05-11 15:05] mjordan commented on #260
Can you run `curl -v -uadmin:islandora "https://icg-islandora.williams.edu/islandora_workbench_integration/core_version"` replacing the credentials with the same ones used in your config file and let me know what comes back? Should be something like `{"core_version":"9.3.0-dev"}`.

The 404 is being generated by the Islandora media REST endpoint, but that endpoint has to exist, otherwise you'd see

[2021-05-11 15:12] Digital-Grinnell commented on #260
Here are the results...

╭─markmcfate@MAC02NX13MG5RP ~/GitHub/islandora_workbench ‹ruby-2.3.0› ‹issue-260*›
╰─$ curl -v -uadmin:xxxxxxxxxxxxx "https://icg-islandora.williams.edu/islandora_workbench_integration/core_version"
*   Trying 104.236.219.173...
* TCP_NODELAY set
* Connected to icg-islandora.williams.edu (104.236.219.173) port 443 (#0)
* ALPN, offering h2
* ALPN, offering http/1.1
* succes

[2021-05-11 15:17] mjordan commented on #260
OK, thanks. Can you pull in the latest updates to Islandora Workbench from the main branch and try to ingest those PDFs again?

[2021-05-11 18:01] seth-shaw-unlv commented on #260
@McFateM , can you confirm that you have a "Document" media type configured (`/admin/structure/media/manage/document`)?

[2021-05-11 18:22] mjordan commented on #260
If that's the issue here, we can make Workbench confirm that the media type exists during its `--check` phase.

[2021-05-11 19:27] McFateM opened #268 "Allow `--check` option to report more than one error at a time"
I did a brief search here but didn't see any open or closed issues like this one so...  Would it be possible to have the `--check` option issue messages as it does now, but continue past the first encountered error so that more potential problems can be reported with each run?

When running ICG tests of I8 with Workbench I frequently found that a particular input Google Sheet geared for one I8 ins

[2021-05-11 20:12] mjordan opened #269 "Workbench should verify the existence of all media bundle types"
This came up in testing of #260 but is unrelated to the bug that issue addresses.

If Workbench tries to ingest a media that is identified as a media bundle (type) that doesn't exist, Drupal returns a `404`. This response is accurate but misleading. This was discovered using the Islandora media controller it would also apply to the core REST endpoints, but probably with a 422 or 500 response, not

[2021-05-11 20:13] mjordan commented on #268
Thanks Mark, it would be possible to do this but will require touching the code in quite a few places. It's a good idea.

[2021-05-12 02:26] mjordan commented on #260
@Digital-Grinnell OK to close this issue, since you've been able to ingest files whose URLs have a `?` query string? I've opened #269 to address verifying media types exist.

[2021-05-12 02:28] mjordan commented on #267
Fixed.

[2021-05-12 02:28] #267 closed

[2021-05-12 04:52] mjordan commented on #269
With Media Type REST resource enabled, `curl -v -uadmin:islandora 'http://192.168.50.245:8000/entity/media_type/image'` gets you `200` ; `curl -v -uadmin:islandora 'http://192.168.50.245:8000/entity/media_type/imagex'` gets you `404`

[2021-05-12 19:33] McFateM commented on #260
Yes, by all means.  Thanks!

Mark A. McFate
Digital Library Applications Developer
Burling Library, Grinnell College
1111 6th Ave., Grinnell, IA  50112-1690
(641) 269-3674    ***@***.***

________________________________
From: Mark Jordan ***@***.***>
Sent: Tuesday, May 11, 2021 9:27 PM
To: mjordan/islandora_workbench ***@***.***>
Cc: McFate, Mark ***@***.***>; Mention ***@***.***>
Subject: Re: [m

[2021-05-12 19:34] #260 closed

[2021-05-13 01:46] #269 closed

[2021-05-13 01:53] mjordan commented on #269
After pulling in updates to the `main` branch, you will need to do the same on the Islandora Workbench Integration module in Drupal and run (from within `/var/www/html/drupal/web `), run:

 `drush cim -y --partial --source=modules/contrib/islandora_workbench_integration/config/optional`.

[2021-05-14 04:08] mjordan commented on #259
@DonRichards, As a long shot I just tried using an `update` task to update fields in an existing node using a `langcode` for the CSV row, with no luck. The CSV values simply overwrote the existing values. So that's not going to work.

I checked in with the first issue linked above, and there have been no updates to the issue other than to postpone it again until Drupal 9.3.x-dev. This version was

[2021-05-14 04:24] mjordan opened #270 "Add base fields to update task"
`uid`, `created`, and `langcode` are not updated in `update` tasks.

[2021-05-14 04:53] mjordan opened #271 "CSV snippets in documentation are broken"
They are displaying like:

![image](https://user-images.githubusercontent.com/403918/118223041-9621dc80-b435-11eb-83eb-28b6e2adb5c2.png)

This is a fairly recent change.

[2021-05-14 04:57] #270 closed

[2021-05-14 05:32] mjordan commented on #261
This should be available on all tasks, not just `create`.

If we pass the script two arguments, the HTTP response code from the task and the resulting JSON, the script would have enough data to do a variety of useful things.

[2021-05-14 05:40] mjordan commented on #261
Main script:

[code]
subprocess_child.py (must be executable):

[code]

Needs some testing to make sure node JSON can be passed reliably.

[2021-05-14 15:36] mjordan opened #272 "Add option to ignore invalid HTTP certificates"
@ajstanley brought this up in a slack convo... I'll implement this as a config option similar to the way `allow_redirects` is currently implemented. For reference, requests' docs on this option are at https://docs.python-requests.org/en/master/user/advanced/?highlight=verify#ssl-cert-verification.

[2021-05-16 16:32] mjordan commented on #272
@ajstanley can you test the issue-272 branch? You will need to use `secure_ssl_only: false` in your config file.

[2021-05-16 16:46] mjordan commented on #272
If this option is in effect, "Ignoring SSL certificates." is added to the "OK, connection to Drupal at xxxx verified." message.

[2021-05-17 11:59] ajstanley commented on #272
Hah!  Exactly what I had in my branch already (even the variable name).
Works perfectly in my test environments.

[2021-05-17 15:07] mjordan commented on #272
Thanks! Merged into main with e886edae7aec4c3f948de0890721d83a5e80587f.

[2021-05-17 15:07] #272 closed

[2021-05-17 19:27] mjordan opened #273 "Link field validator should be more robust"
Currently, the validation function for link-type fields only checks to see if values start with http:// or https://. The validator should split the values on `%%` and then test the resulting link/label pair.

[2021-05-18 04:35] #261 closed

[2021-05-18 04:51] mjordan opened #274 "--check should check for existence of post-action scripts"
Specifically, files identified in `config['node_post_update']`, `config['node_post_create']`, `config['media_post_create']`.

[2021-05-18 14:24] #273 closed

[2021-05-18 14:53] mjordan commented on #271
Issue in the mkdocs support queue is https://github.com/mkdocs/mkdocs/issues/2414.

[2021-05-18 15:09] mjordan commented on #271
Fixed using some custom CSS.

[2021-05-18 15:09] #271 closed

[2021-05-18 15:42] edlington opened #275 "Confusing error message"
I ran `./workbench --config config.yml --check`

The resulting error was:

"Error: Row 1 in your CSV file has more columns (13) than there are headers (14)"

Is this supposed to read "Row 1 in your CSV file has fewer columns (13) than there are headers (14)" ?

[2021-05-18 15:44] mjordan commented on #275
Yes, it is. I'll fix, thanks!

[2021-05-18 16:24] ajstanley opened #276 "Finding Duplicate Headers"
If you have duplicate headers in your csv you get an error saying the number of headers and number of columns don't match.  For those of us who have poor proofreading skills, it would be helpful to print out with the error message what column headers have been duplicated.

[2021-05-18 17:03] edlington opened #278 "Counting of headers and rows appears to be wonky"
If I run `./workbench --config config.yml --check`

with the csv below (note an extra white space before field_edtf_date_issued field name):

`id,title,file,field_model,field_geographic_subject,field_alternative_title,field_physical_form,field_edtf_date_created,field_resource_type,field_edtf_date_issued,field_description,field_note, field_edtf_date_issued
0,"Hiller 04-003 e: A man\, lying on the g

[2021-05-18 17:08] edlington commented on #278
Along the same lines, as I was trying to figure out what was going on I built up the csv - headers and data - row by row. When I did that I was getting helpful error messages about field problems, that were not output when I ran the workbench command against the whole csv. So it seemed as if there's an error message hierarchy? The program will tell you there's a field mismatch and if there is it w

[2021-05-18 18:01] ajstanley commented on #278
@edlington  - I can see in your sample above you have field_edtf_date_issued and field_edtf_date_issued 0.  The second isn't going to be a valid drupal field name.  Maybe that's an issue?
I have a pull request in now to check for duplicates - I'm creating some new content types with dozen of new fields that are hard to keep rack of and I find it pretty handy.

[2021-05-18 18:11] edlington commented on #278
Thanks @ajstanley! Good eye. I'll edit the csv then it will probably work, and I can close this. I appreciate your comment!

[2021-05-18 18:17] edlington commented on #278
The problem was with my data, as @ajstanley noted. Closing the issue.

[2021-05-18 18:17] #278 closed

[2021-05-19 04:15] mjordan commented on #276
Very good, merged. Thanks!

[2021-05-19 04:15] #276 closed

[2021-05-19 04:55] mjordan commented on #275
@edlington `--check` already accounts for when there are fewer columns than headers. Was this CSV data the same as that in #278?

[2021-05-19 05:01] mjordan commented on #275
But it's broken! So as I said ^, I'll fix!

[2021-05-20 05:48] mjordan commented on #275
@edlington I'm making progress on this, but it turned out to be way more complicated than it at first appeared.

[2021-05-20 12:38] ajstanley opened #279 "Validation fails with parent_id unless both field_weight and field_member_of present"
We don't necessarily need field weight if we are using parent_id.
We do need field_member_of, even if every row is blank.  We can ingest without it, but objects are orphaned.

I can put in a pull request later today to handle this.  Maybe put a warning in that if parent_id is present field_weight is required when ordered children are expected?

[2021-05-20 13:40] mjordan commented on #279
Thanks. Can you outline steps to reproduce the problem?

[2021-05-20 16:57] edlington commented on #275
@mjordan If there's anything I can do to help lemme know.

[2021-05-20 17:02] mjordan commented on #275
Thanks - will get you to test at a certain point.

[2021-05-20 18:13] ajstanley commented on #279
If we have a spreadsheet with parent_id, but no field_weight everything ingests as it is meant to, but it still fails --check.

[2021-05-21 00:28] ajstanley opened #281 "EDTF seasonal oddities"
EDTF allows you to use month  numbers of 21 through 24 to specify the four seasons,
This causes a failure on validate_calendar_date, but Drupal will happily accept values like 2019-21.
I've got a simple fix to set month to 1 for validation purposes if its between 21 and 24

[2021-05-21 05:03] #279 closed

[2021-05-21 06:24] Natkeeran opened #282 "does not use the pattern required for typed relation fields."
For the field_linked_agent, I am using the following as the value "relators:art:person:Jordan, Mark"; however, I am getting the following error message:
[code]
What is the expected pattern?

Thank you.

[2021-05-24 18:32] mjordan commented on #74
https://stackoverflow.com/questions/27264818/dont-understand-pythons-csv-reader-object leads me to believe that this is not worth - many commenters just say "reread your CSV file."

[2021-05-24 18:34] mjordan commented on #275
@edlington can you pull in the latest updates to the `main` branch and test?

[2021-05-24 18:48] mjordan commented on #282
@Natkeeran I can't replicate this. When I use the same value for `field_linked_agent`, I get the warning:

`24-May-21 11:45:09 - WARNING - CSV field "field_linked_agent" in row 1 contains a term ("Jordan, Mark") that is not in the referenced vocabulary ("person"). That term will be created.`

Can you pull in the latest updates to the `main` branch to be sure we're running the same code?

[2021-05-24 20:13] edlington commented on #275
@mjordan, Yes I will do that this afternoon and let you know how it goes.

[2021-05-24 20:17] mjordan opened #283 "Remove hard-coded references to field_model"
The vast majority of Islandora repositories will use `field_model`, but there's no reason we need to hard code it.

[2021-05-24 20:31] edlington commented on #275
@mjordan First test. Here's the data:

id,title,file,field_model,field_geographic_subject,field_alternative_title,field_physical_form,field_edtf_date_created,field_resource_type,field_edtf_date_issued,field_description,field_note, field_edtf_date_issued

0,"Hiller 04-003 e: A man\, lying on the ground\, begging\, number 2",Hiller-08-19.tif.tiff,11,China,"Hiller 04-003 e: A man\, lying on the groun

[2021-05-24 21:03] edlington commented on #275
@mjordan I ran three tests with a single record, one test with the same number of colums and rows (12), another with one fewer column, and a third with one with one fewer row. Below is the data for each test and the test result:

Test 1: Equal number of rows (12) and column headers (12) - works

id,title,file,field_model,field_geographic_subject,field_alternative_title,field_physical_form,field_ed

[2021-05-24 21:12] edlington commented on #275
@mjordan One gotcha for me was duplicate column headers. When I had duplicate headers it showed up in the error output as a miscount between rows and headers, since the data was still counted but the duplicate header was not. If the error message noted the presence of a duplicate header that might have been helpful. Thing is, I have no idea how difficult it would be to add a feature like that to I

[2021-05-24 21:14] mjordan commented on #74
Closing.

[2021-05-24 21:14] #74 closed

[2021-05-24 21:14] edlington commented on #275
@mjordan Sorry I ran a few tests and sent messages and realized I hadn't pulled in the update before testing. Now I will do that. Apologies.

[2021-05-24 21:19] mjordan commented on #253
Duplicate of #261. Closing.

[2021-05-24 21:19] #253 closed

[2021-05-24 21:56] edlington commented on #275
@mjordan. Apologies for those false starts on testing. I pulled in the updates and then tested against a single record. Here's the tests with the data. **They all worked!**

**Test 1: Equal number of rows (12) and column headers (12) - works**

id,title,file,field_model,field_geographic_subject,field_alternative_title,field_physical_form,field_edtf_date_created,field_resource_type,field_edtf_date_

[2021-05-24 21:57] edlington commented on #275
@mjordan Are there additional tests that you feel like might be worthwhile?

[2021-05-24 22:05] mjordan commented on #275
Super, no, I think that's it. Thanks for finding this and reporting it!

[2021-05-24 22:05] #275 closed

[2021-05-27 16:34] yamensaleh opened #284 "Unabel to ingest content_types other than islandora_object"
Good Day

first of all, thank you for this great tool.
I am facing an issue when ingesting records with content type other than islandora_object, the error is:
27-May-21 19:24:51 - ERROR - Node for CSV record 103 not created, HTTP response code was 403.
if I use the content_type islandora_object it is working fine.
![config yml](https://user-images.githubusercontent.com/16070733/119863427-368dfb80

[2021-05-27 17:17] mjordan commented on #284
Thanks for reporting this. Can you add `log_json: true` to your config file and rerun your job, and provide  your log file so I can inspect the raw JSON that is being pushed up to Drupal?

[2021-05-27 18:20] yamensaleh commented on #284
Log attached
Thanks
[workbench.log](https://github.com/mjordan/islandora_workbench/files/6556009/workbench.log)

[2021-05-28 13:12] mjordan commented on #284
@yamensaleh The version difference shouldn't matter. Nothing in the node JSON in your log indicates why the failures are happening. The next best place to look for clues in in the error.log of your 8.9.13 server (should be in `/var/log/apache2/error.log`). Can you take a look there to see if there are any `403` entries?

Also, are you sure the content type configuration is the same on both the suc

[2021-05-28 18:53] yamensaleh commented on #284
Hi, yes I checked before running, and below is the log:
28-May-21 21:38:08 - INFO - OK, connection to Drupal at http://192.168.25.29 verified.
28-May-21 21:38:11 - INFO - Starting configuration check for "create" task using config file create.yml.
28-May-21 21:38:12 - INFO - OK, configuration file has all required values (did not check for optional values).
28-May-21 21:38:12 - INFO - OK, CSV file

[2021-05-28 19:11] yamensaleh commented on #284
I can find in find this error in drupal  and nothing in apache log
![Access log](https://user-images.githubusercontent.com/16070733/120031556-a0c99d80-c001-11eb-850e-f7d83b4b7de6.png)

Path: /node?_format=json. Symfony\Component\HttpKernel\Exception\AccessDeniedHttpException: Access denied on creating field 'status'. in Drupal\rest\Plugin\rest\resource\EntityResource->checkEditFieldAccess() (line

[2021-05-28 20:27] yamensaleh commented on #284
@mjordan  I've found the issue, there is a workflow configured on Islandora, where the default status is draft, now when i remove the content_type from the workflow it works fine with no issues.
Thank you for your support and for this great tool

[2021-05-31 13:36] mjordan commented on #284
Thanks for letting me know. How did you create your workflow? Was it simply a content-type specific default or did you use a contrib module?

[2021-05-31 13:43] mjordan commented on #283
The only two references to `field_model` are in `create_from_files()` and `create_children_from_directory()`. In the first case, the value is determined by `set_model_from_extension()` and in the second by the `paged_content_page_model_tid` config setting.

[2021-05-31 14:22] mjordan opened #285 "CSV preprocessor scripts apply to all fields"
We need a way to indicate which field a given preprocessor script applies to. Otherwise, we can't apply field-specific processing.

Using a config pattern like that used by `csv_field_templates` might be suitable:

[code]

[2021-06-01 04:55] #274 closed

[2021-06-01 04:56] mjordan commented on #274
Existence and executable checks for bootstrap and preprocesor scripts also added.

[2021-06-01 14:52] #283 closed

[2021-06-01 14:58] mjordan opened #286 "Remove hard-coded references to field_member_of and field_weight"
Make the 'membership' field name a config option, with 'field_member_of` as the default, and also the 'order' field, with a default field name of 'field_weight`.

[2021-06-01 19:29] yamensaleh commented on #284
I am not sure which one my colleague is using, i will check with him

Now i have an issue where  I am trying to create some paged content, the CSV along with the configuration is attached, the error I am getting is (01-Jun-21 21:58:59 - ERROR - Node for CSV record 7 not created, HTTP response code was 422.)
what I am doing wrong?
![config yml](https://user-images.githubusercontent.com/16070733/120

[2021-06-02 15:06] mjordan commented on #286
I posted this question in the #islandoraworkbench Slack channel but I thought I'd also drop it here. I'd like to see a use case to justify the change described in this issue. I acknowledge that Islandora implmentors will want to deviate from the "descriptive" fields defined in Islandora Defaults, but can anyone think of a reason to not use `field_member_of` and `field_weight` for representing the

[2021-06-02 15:13] dara2 commented on #259
Hi @mjordan - I wondered about the level of effort required to enable multilingual import (in my specific case, metadata that has already been translated and so we have the English and French versions). We have an existing client in this situation, and two more multilingual sites coming up over the next 6 months.
Ideally, we'd be able to put both translated versions of the object metadata into a C

[2021-06-02 15:53] mjordan commented on #259
If I am understanding https://www.drupal.org/project/drupal/issues/2135829 and https://www.drupal.org/project/drupal/issues/2794431, none of the HTTP APIs Drupal currently offers support creating proper translations. In response to your question "a", probably not a lot, but as for "b", whenever one of those two Drupal core issues is resolved. The most recent comment on the first issue is from 2 ye

[2021-06-02 15:59] mjordan commented on #284
@yamensaleh I got an email reminder of a new comment here, but don't see it. Did you delete it or did something else happen to it?

[2021-06-02 16:40] dara2 commented on #259
Got it - thank you for that explanation, it's very helpful!

[2021-06-02 16:41] mjordan commented on #259
I'm sorry I can't offer a more postive response, but Workbench is constrained by what Drupal's HTTP APIs can do.

[2021-06-02 16:50] DonRichards commented on #259
@mjordan Would this help at all? This looks like a multilingual migration test if I'm not mistaken. This could be worth reviewing I guess. https://github.com/drupal/drupal/tree/8.3.x/core/modules/migrate/tests/modules/migrate_external_translated_test

[2021-06-02 16:55] DonRichards commented on #259
I found it from these suggestions https://drupal.stackexchange.com/a/229746 The suggestion looks like it "should" work but who knows

[2021-06-02 16:58] mjordan commented on #259
Migrate doesn't use HTTP APIs (as far as I know), so I can't see any relevance Migrate has here. But I could very well be missing something, since I don't know Migrate that well.

[2021-06-02 17:02] DonRichards commented on #259
Oh, well in the description they point to a migration that does a multilingual migration. [Here](https://github.com/wunderio/migrate_source_example/tree/8.2.x/modules/migrate_source_example_csv)
I thought this might be useful to help identify what structure is needed to make this happen.

[2021-06-02 17:05] mjordan commented on #259
I don't know - if there's a way to populate that structure via an existing HTTP API, this might work. I'll take a look.

[2021-06-04 06:44] yamensaleh commented on #284
Hello mjordan
Yes actually, i added and deleted a comment.
In regards to the workflow I am nit sure which one because it was installed configured by my colleague.
Now I am trying to import some paged contents but I have some issues.
I will double check my configurations and let u know, if didnt work i will share the files with you along with the log.
Thanks

[2021-06-04 13:10] mjordan commented on #284
OK, thank you. Since we seemed to have resolved the workflow question, I would like to close this issue and address the paged content question in a new issue. Is that OK?

[2021-06-05 15:57] ajstanley opened #287 "More tha one file per csv row"
In many cases when we're migrating we'd like to move more than the OBJ file - OCR (especially if already edited), transcription, etc.
It would be nice to be able to produce multiple media for the same node.

[2021-06-06 21:17] mjordan opened #288 ""allow_missing_files" config setting does not apply to remote (http) files"
It should, in both `--check` operations and when creating media.

[2021-06-06 21:26] mjordan commented on #287
Yes this is a great idea. I've started work on a config option that allows you to define the Media Use term ID per additional field, like this:

[code]

[2021-06-08 01:04] mjordan opened #289 "create_media() does not allow for multiple Media Use term IDs"
The ability to provide multiple media use term IDs was added in #77, but apparently only to code that ended up in `create_islandora_media()`. That ability should also apply to `create_media()`.

[2021-06-09 14:22] mjordan commented on #287
@ajstanley I'm seeing a behavior (a good one) that I'd like you to confirm if you can. When I create a thumbnail derivative for an image original file in an "additional file" field, Islandora doesn't appear to create its own thumbnail. Do the microservices check to see if a target media exists and if so, not create their own? I was fearing that creating a thumbnail using this new feature would res

[2021-06-09 14:39] seth-shaw-unlv commented on #287
@mjordan I believe the microservice still runs and, instead of creating a new thumbnail, will overwrite the existing thumbnail binary.

[2021-06-09 16:30] ajstanley commented on #287
We're good on this one - PutToNode from the MediaSourceService either
builds or updates depending on what's there already.

On Wed, Jun 9, 2021 at 11:22 AM Mark Jordan ***@***.***>
wrote:

--
Alan Stanley
Interim Executive Director
Spinal Cord Injury, PEI

☎ *902-393-0017*

[2021-06-09 16:50] mjordan commented on #287
So it's OK to document using this feature as "If Workbench creates a Media that would otherwise be created via a derivative-generating Context, you don't need to worry about disabling any Actions or Contexts prior to runnig Workbench."? Also, if creating media this way prevents the microservice from running at all, it would be good to document that since having a sidecar way of creating media will

[2021-06-09 18:43] dara2 opened #290 "Is it possible to run add_media.yml with declared media_use_tid values in the CSV?"
Hi Mark - I'm trying to add thumbnails to some objects that don't have images as original media files (e.g., binaries, audio files, compound objects where children are not images). I tried this using the add_media task and add_media.yml file. My CSV is attached. These are existing objects on my site, and I would like to add thumbnails for list views. The term ID for Thumbnail Image on my site is `

[2021-06-10 15:19] mjordan commented on #290
Not currently. I will address this as soon as I complete #287.

[2021-06-13 21:35] mjordan commented on #287
@ajstanley OK, this now works with remote files. Can you test? In your config, you need to map the additional fields in your CSV to media use terms like this.

[code]

[2021-06-14 13:56] mjordan opened #291 "Some improvements to --check for add_media tasks"
1. should ping node identified in `node_id` and tell user if any are missing/not accessible
2. should check for 'nodes_only' config option and die if it's present

[2021-06-14 16:23] ajstanley commented on #287
Its working well now, but I had to add   `  'text/plain': '.txt'` to the map in `get_extension_from_mimetype`  I can throw a pr on your pr, but probably easier if you stick it in.

[2021-06-14 16:31] mjordan commented on #287
Thanks for testing! I've still got some work to do to use this new feature in `add_media` tasks. I also want to add some integration tests for this new feature. Should have all that stuff done this week.

I'll add that extension mapping.

[2021-06-15 16:51] ajstanley commented on #287
I've found that if you have missing files in your csv for the additional media, Python gets pretty cranky.  I threw this in on Workbench line 38
` if row_for_media[additional_file_field]: `
(and then indented the next 9 lines it was happy.  This was for a newspaper migration where we wanted to move rather than recreate OCR and HOCR.  We have a consolidated OCR at the issue level, but no HOCR.  Lea

[2021-06-15 18:53] mjordan commented on #287
OK, thanks. I thought I had addressed missing files everywhere needed but apparently not. I'll take a look.

[2021-06-16 00:25] red7-soporte opened #292 "ingest data to Paragraphs type"
Hi Mark,  Is it possible to import data at the paragraphs section?

**rgarcia@desarrollo:~/islandora_workbench$** ./workbench --config create_paragraphs.yml --check
OK, connection to Drupal at http://172.16.4.38 verified.
OK, configuration file has all required values (did not check for optional values).
OK, CSV file input_data/metadata_paragraph.csv found.
OK, all 1 rows in the CSV file have the

[2021-06-16 03:22] mjordan commented on #292
Not at the moment, but I added an issue for this (#75) over a year ago. I'm currently wrapped up in a fairly big feature request dealing with media, and said I'd take care of one other very much smaller issue next, but can move on to this after that. I'll ping you when I start work on it since I haven't used Paragraphs before and will want to get your use cases, etc.

[2021-06-16 18:25] dara2 commented on #252
+1 for this enhancement. We have multiple clients who are using remote video files and remote audio files, so having this would be awesome.

[2021-06-16 18:28] dara2 commented on #244
Hi @mjordan - I think this is all set now (this specific error I was running into).

[2021-06-16 18:28] #244 closed

[2021-06-16 20:27] red7-soporte commented on #292
I thank you for your attention to my question and look forward for the next improvements.

[2021-06-18 15:52] Natkeeran commented on #282
Got the latest and works as expected.

Thanks Mark.

[2021-06-21 14:58] mjordan commented on #287
@ajstanley can you provide a bit more in-code context for this? `row_for_media` isn't defined until after row 38.

[2021-06-21 17:05] ajstanley commented on #287
Poor proofreading on my part - not line 38, but line 385.
[code]

[2021-06-23 16:36] fgeisser21 opened #293 "Issues with using semicolon as delimiter"
Hi Mark,
I would like to use semicolon instead of comma as delimiter in my csv files. I did the following:
- Added this option in the config file: delimiter: ";" (I also tried without the double quotes, but it didn't make a difference)
- Created csv file with ; as delimiter for the headers and data (I tried with and without wrapping string values containing a comma in double quotes, but it didn't

[2021-06-23 16:48] mjordan commented on #293
Haven't seen this, but I will try to replicate it here and get back to you.

[2021-06-24 13:30] fgeisser21 commented on #293
Thanks for looking into this.
In the meantime I managed to run Workbench with the comma-separated configuration and created 3 nodes with media and files. However, I ran into a couple of strange errors - dummy thumbnails displayed at first instead of the ones created from the files, php errors in the Islandora UI log messages, relators:pht:person not created despite using the syntax described in th

[2021-06-24 14:29] Natkeeran commented on #259
@mjordan
As you noted, the multilingual via REST seems to be limited.  In the main issue, [comment 72](https://www.drupal.org/project/drupal/issues/2794431#comment-12950123) may offer a potential solution for ingest use case.

The main requirement is that the translation needs to be available before a PATCH request is sent.  If the translation is available, then one can use the translation endpoin

[2021-06-24 15:43] mjordan commented on #293
@fgeisser21 Sorry about that, I'll clarify the (completely misleading) point about Drupal version 9.2 at the top of https://mjordan.github.io/islandora_workbench_docs/installation/. You can use Workbench with any version of Islandora. The important version milestone is 8.6: if you're running that version or higher, Workbench uses a more reliable way of creating media that in lower versions. That's

[2021-06-24 15:55] mjordan commented on #259
@Natkeeran thanks, that looks promising. I'd rather keep the Integration module simple in that it enables the Views, etc. required for basic communication with Workbench, so would prefer to see this code in a separate and optional submodule. The main reason for this is not technical, it's about my increasing inability to maintain larger, more complex modules. At any rate, let's see if this works;

[2021-06-24 18:41] fgeisser21 commented on #293
Great, thanks! Good to know that I don't have to try to upgrade Drupal - which in the past always wrecked my installation.

I know that Islandora does the thumbnail creation. It probably just took a long time and in the meantime filled the view with some thumbnails from the cache, who knows. In the end the proper thumbnails were there. I never had observed that behaviour in a manual upload before.

[2021-06-24 18:52] mjordan commented on #293
I'm guessing that the thumbnails took a while to show up because the microservice that generates that took a while to work its way through the queue. Scalability of microservices, especially if you're using Workbench or Drupal Migrate to ingest hundreds or thousands of objects, is something we'll need to keep an eye on. I think @ajstanley has had some experience with this sort of behavior.

OK, th

[2021-06-24 21:41] Natkeeran commented on #259
@mjordan

I've put the logic into a small module here:  https://github.com/digitalutsc/rest_translation_util

Mainly intending to support PATCH.

[2021-06-24 21:43] mjordan commented on #259
Wow - let me kick its tires!

[2021-06-25 14:33] Natkeeran commented on #259
Tested with basic fields and taxonomy terms by id.  Taxonomy term by value will need additional logic to lookup and create.

[2021-06-25 16:20] dara2 opened #294 "TypeError: string indices must be integers during --check of CSV used before"
I just tried doing an import of a CSV I've imported before without issue, and am getting this error during the --check:
[code]
I should note I did not pull the most recent version of Workbench before starting (but I've been running this one without issue for a while).

I have imported this CSV just fine in the past. CSV attached.
Thanks!
[i8_SampleIngestSheet_08.csv](https://github.com/mjordan/isl

[2021-06-25 16:35] dara2 commented on #294
When I originally saw this, I was not in main. So I moved to main and retested and am still getting the error.

Confirming I'm in main and pulled the latest - here's the output starting with when I first checked out main and there were changes, so I stashed them and then did a pull (hopefully I did that right):
[code]

[2021-06-28 20:20] #203 closed

[2021-06-29 18:22] kspurgin opened #295 "Support for sites preferencing the non-base Drupal title field for title metadata"
Currently a value for the Drupal base `title` property/field is required by Islandora Workbench.

Given that sites are using a variety of strategies to be able to record longer than 255-character titles, or more complex title information in Islandora without manually also filling in the Drupal title property*, the need here is for Workbench to be able to ingest metadata into those sites using what

[2021-06-29 18:33] seth-shaw-unlv commented on #295
I believe longer_titles was only for Drupal 5. The module we use to extend our title property length is [title_length](https://www.drupal.org/project/title_length).

[2021-06-29 18:34] mjordan commented on #295
This is a great improvement. I'll move onto it once I close a couple of other other feature requests. Thanks!

[2021-06-29 18:40] kspurgin commented on #295
Drupal 5!! (updating that link, thanks)

(I need a Greasemonkey script that puts a big X over any page I look at that indicates pre-Drupal-8 content)

[2021-06-29 20:36] dara2 commented on #294
Hi @mjordan - this is all set now! @ajstanley found that we needed to update the Terms in Vocabulary view so that "json" was selected in Serializer > Settings.
Perhaps this is now in the integration module and I just haven't updated the module. We made the config update manually in Drupal.

[2021-06-30 14:14] mjordan commented on #294
OK, thanks. Yes, Workbench uses the json serialization to it must be available in the View.

[2021-06-30 14:14] #294 closed

[2021-06-30 21:11] ajstanley commented on #287
Another small one - if you are ingesting with additional files you'll get an error message on `--check` saying that the column header is missing a field.
we need to add
`and csv_column_header not in get_additional_files_config(config).keys()`
to
`if csv_column_header not in drupal_fieldnames and csv_column_header not in base_fields and csv_column_header not in reserved_fields:`
I can do a PR, but

[2021-06-30 21:13] mjordan commented on #287
@ajstanley thanks. Don't do a PR yet - I'd rather take a stab at this than deal with merge conflicts. Thanks for reporting it.

[2021-07-04 16:21] fgeisser21 opened #296 "Cannot create taxonomy terms for typed relations"
I am trying to create new taxonomy terms and typed relations using create and update tasks.
As mentioned in https://github.com/mjordan/islandora_workbench/issues/293, creating a linked agent with a corporate body taxonomy term works fine. It also works with a new term in the csv file using a create task. However, it doesn't work with an update task - although the documentation says it should (http

[2021-07-05 13:59] seth-shaw-unlv commented on #296
Go to /admin/structure/taxonomy/manage/person/overview/fields/taxonomy_term.person.field_person_preferred_name on your site and deselect the required field check box,  then save.

[2021-07-05 14:02] seth-shaw-unlv commented on #296
Or, to simply delete the field, go to  /admin/structure/taxonomy/manage/person/overview/fields and select delete on the button drop down for that field.

[2021-07-06 07:38] fgeisser21 commented on #296
Unchecking the "required" checkbox didn't work - it gave me an error "Title field type field required". So I deleted the field, as well as the "Alternate Names" field. Then I tried to uninstall the elusive Drupal Name module, but without success - see attached screenshot. There seem to be dependencies with other fields, and it is probably hopeless to remove them manually.
![grafik](https://user-im

[2021-07-06 08:01] fgeisser21 commented on #296
I now created a person taxonomy term manually and tried to connect it with some repository items in an update task, like this:
field_linked_agent
relators:pht:person:40
Strangely enough, the workbench log says: CSV field "field_linked_agent" in row 1 contains a term ("40") that is not in the referenced vocabulary ("person").
When I edit the metadata through the UI and add the person manually, the

[2021-07-06 11:06] fgeisser21 commented on #296
Here are the results of my latest tests:
- After the required "Preferred Name" was deleted, creating a new person taxonomy term using a create task works fine (woohoo!)
- Creating new nodes with an already existing person taxonomy term in the linked agent field works fine. It works with the term id, too, as long as I use the correct syntax (relators:pht:40 instead of relators:pht:person:40 - sorry

[2021-07-12 16:05] dara2 commented on #252
Hi @mjordan - I wanted to check in about this again and see where it is in the queue. Thanks!

[2021-07-12 20:06] mjordan commented on #252
I've been distracted from work on #287 during the last couple weeks and need to finish it before taking anything other than emergency support on. However, I've cleared those distracting things from competing with Workbench and plan on digging into #287 until it's done. Once it is, I can turn to remote video.

I have to admit I am not entirely clear on how remote video media work differently than l

[2021-07-12 20:17] mjordan commented on #252
@dara2 I was just chatting with Eli in Slack and it appears that remote audio is not yet part of core Drupal. Remote video (for Youtube and Vimeo) is. I'm going to add this to Wednesday's tech call to get the discussion going.

[2021-07-12 23:38] mjordan commented on #287
@ajstanley sorry about the continuing delays on this feature. I think I've addressed the missing files problem you identified, and also the `--check` issue. Care to pull in updates to the issue-287 branch and confirm?

[2021-07-13 00:10] mjordan opened #297 "Creating compound/paged content using the child-level metadata option requires 'allow_missing_files: true'"
When creating compound/paged content using the child-level metadata option, the config setting `allow_missing_files: true` is required. This is undocumented, and might be undesirable, since users will want to know if files destined for child objects' media are missing. We could allow rows for parent objects to contain empty `file` columns without this option in place, but if we did, we'd be preclu

[2021-07-13 13:11] dara2 commented on #252
Hi @mjordan -
Thank you for the update! And thank you for adding this to the tech call agenda.
While remote audio isn't in core Islandora, we will be creating a media type for it. Depending on where the client will be hosting the files, we're hoping to use a module like https://www.drupal.org/project/media_entity_soundcloud. So I'm thinking Remote Audio will be set up in a similar way to Remote Vi

[2021-07-13 14:39] mjordan commented on #292
@red7-soporte as you can see over in #75, the paragraph field type wraps other non-paragraph fields. This means that within the input CSV, those fields might need to be identified as being wrapped within a paragraph field type so that Workbench can construct the JSON that Drupal expects when populating them.

It might be possible for Workbench to get a list of those wrapped fields (not sure yet, w

[2021-07-13 22:56] mjordan commented on #287
@ajstanley now that your fix is in place, any outstanding issues? If not I'll merge into main and update the docs.

[2021-07-13 23:24] mjordan opened #299 ""delimiter" config option doesn't work"
Need to fix.

[2021-07-13 23:44] mjordan commented on #299
Problem was the processed copy of the input file didn't use the configured delimiter, which caused incorrect parsing of column headers.... and thing fell apart from there.

[2021-07-14 00:14] #299 closed

[2021-07-14 00:58] ajstanley commented on #287
I've added another quick fix to deal with the problem of allowing for missing additional files. (I think I had some accidental regression in my last pull, but this one has been tested against a few kinds of oddness)
I've checked this against your test example, as well as a more problematic newspaper ingest that I've been running on a fork for a while.

[2021-07-14 20:14] mjordan opened #300 "Explain how to find vocabulary machine names"
The "Using term names in multi-vocabulary fields" section of https://mjordan.github.io/islandora_workbench_docs/fields/ needs to explain how to get a vocabulary's machine name/namespace.

[2021-07-15 03:56] mjordan commented on #296
@fgeisser21, I'm glad to hear you made some progress. I'll look into the following:

[2021-07-15 03:58] mjordan commented on #293
@fgeisser21 I fixed the delimiter issue. Please test, if you have time.

[2021-07-15 04:23] mjordan commented on #300
Done.

[2021-07-15 04:23] #300 closed

[2021-07-15 04:25] mjordan opened #301 "Document the "additional files" feature"
Feature issue is #287. Include mention of how and why to use this during an migration (reduce reliance on microservices).

[2021-07-15 04:33] mjordan opened #302 "Add integration tests for the "additional files" feature"
Feature issue is #287.

[2021-07-15 04:34] #282 closed

[2021-07-15 14:35] mjordan commented on #290
@dara2 I'm still working on #287 but I think it makes sense to include this feature at the same time. Can you confirm that you will want to be able to specify multiple media use tids in the CSV?

[2021-07-16 16:18] dara2 commented on #290
Hi @mjordan - That would be fabulous (but maybe less critical once we can run ingests with multiple media per object). I'm thinking in cases where we've ingested a lot of objects but might want to go back and add thumbnails to the existing nodes, we would use this. Some of our object types don't automatically generate derivatives (e.g., Audio, Video, Book Parent).

[2021-07-17 14:04] fgeisser21 commented on #293
I did some testing: csv with ";" as a delimiter now works as expected. Thanks for fixing the issue!

[2021-07-17 17:24] mjordan commented on #293
Very good, thank you for confirming.

[2021-07-17 17:24] #293 closed

[2021-07-20 17:12] dara2 opened #303 "Update task failed with no messages or errors"
I'm not sure if this relates to any already known limitations in #47 but when I tried to use the "update" task to update an object title, my files passed the `--check` validation but when I ran the script, nothing happened. (Running the "create" task works fine.)
My CSV is attached. The only thing I was trying to update was the Title (so I didn't include the `validate_title_length: false`).
The .l

[2021-07-21 06:10] mjordan commented on #34
Notes about what values Workbench will need to fetch and compare are in the linked Integration module issue.

[2021-07-21 14:21] mjordan commented on #303
@dara2 running an update task using the following CSV works as expected for me:

[code]
The only thing I can think of is that Workbench is attempting to update every field that is included in your CSV. However, if it failed at updating any of the non-title fields, I would expect it to leave some messages in your log. I never finished resolving #47 (even though what is finished has been in `main` f

[2021-07-21 16:51] dara2 opened #304 "Workbench couldn't find file with an accent in the name"
While running --check, I'm getting an error on a file with an accent:
[code]
The file is indeed at the location specified. When I removed the accent (2017-07-26_DAFH_LEBLANC_ Edouard 2017-07-26.wav) Workbench found it without any issue.
I'm running Workbench on a server, with files stored in an ingest mount. Drupal version is 8.9.17-dev.

[2021-07-21 16:53] mjordan commented on #304
The server is a Linux server, correct? Shouldn't matter but filesystems might impact how non-Latin filenames are handled.

[2021-07-21 17:09] dara2 commented on #304
Yes, it is (Debian Server version 10).

[2021-07-21 17:35] dara2 commented on #303
Yes, that worked - thank you!

[2021-07-22 13:18] ajstanley opened #305 "S3?"
We should be able to pull S3 files down (with proper creds).  I'm thinking we could parse the contents of a cell's contents in the file column, and if it was in the format of (value, value, value)  we could feed it to the input_dir as s3.download_file('BUCKET_NAME', 'OBJECT_NAME', 'FILE_NAME').

I'd be happy to take this one on if it seems like a good idea to anyone else

[2021-07-22 15:44] mjordan commented on #305
Sure, sounds good. It might be good to wait to open a PR until I've merged in #287 (I'm still working on the `add_media` task), which should be next week (I've put aside some vacation time to finish this one).

Would the ability to fetch files from s3 require a new library?

[2021-07-22 15:58] mjordan commented on #303
Great, thanks. I've updated https://mjordan.github.io/islandora_workbench_docs/updating_nodes/ to be clearer.

[2021-07-22 15:58] #303 closed

[2021-07-24 15:41] mjordan commented on #34
Would be useful to not only generate the hash in realtime, but also compare that hash to a known one. One use of this is during migrations, where you want to confirm that the hash of the file on the source system matches the newly generated hash, which in turn should match the hash Workbench verifies with Drupal.

[2021-07-26 23:43] ajstanley commented on #305
Yep - one new library.  I'll wait til 287 is merged - it should be pretty strightforward.

[2021-07-29 12:03] red7-soporte commented on #292
Mark,
I missed your comment,  I was focused in docker-isle. I will check your comments. thanks a lot.

[2021-07-31 12:10] #284 closed

[2021-07-31 12:30] yamensaleh opened #306 "Unable to ingest with error (check_input(config, args))"
Good Day

I am having an issue with importing, My csv file attached, along with the json log and the error screen shot.
I have updated islandora_workbench, along with islandora_workbench_integration on my drupal site, the connection is successfull, feilds check also successfull then i got the error:

raceback (most recent call last):
  File "./workbench", line 953, in <module>
    check_input(conf

[2021-08-02 15:25] mjordan commented on #287
Not for "add_media" docs: `additional_files` works same during an "add_media" task as it does during a "create" task, but to allow empty 'file' values (e.g. you are not adding new "files", just "additional files"), you need to include the `allow_missing_files` option.

[2021-08-02 21:58] mjordan commented on #287
OK, I think I've completed this for now. I've merged the issue-287 branch into main. I'll close this issue but if anyone finds any issues with this new feature, open a new issue.

I've also added docs at https://mjordan.github.io/islandora_workbench_docs/adding_multiple_media/ .

[2021-08-02 21:58] #287 closed

[2021-08-02 21:58] mjordan commented on #290
@dara2 I've merged a fix for this into the main branch. Can you pull in the updates to that branch and test please?

[2021-08-02 22:01] mjordan commented on #301
Done: https://mjordan.github.io/islandora_workbench_docs/adding_multiple_media/

[2021-08-02 22:01] #301 closed

[2021-08-02 22:02] mjordan commented on #289
Fixed as part of work on #287.

[2021-08-02 22:02] #289 closed

[2021-08-03 03:47] mjordan commented on #302
Basic test confirming the media were created added. Would like to add tests that confirm the media use tid for each media.

[2021-08-03 05:07] mjordan commented on #302
OK, got the basic create tests, but not all the variations possible. Would like an update test with multiple media use terms.

[2021-08-03 12:57] dara2 commented on #290
Sure, will do!

[2021-08-03 13:48] mjordan commented on #304
Drupal is claiming that the filename is invalid. Here's the error from the apache error log:

`Uncaught PHP Exception Drupal\\Core\\File\\Exception\\FileException: "Invalid filename '2017-07-26_DAFH_LEBLANC_\xc9douard_2017-07-26.JPG'" at /var/www/html/drupal/web/core/lib/Drupal/Core/File/FileSystem.php line 555`

I'll investigate as to why the accent makes the filename fail Drupal's valid filename

[2021-08-03 13:55] mjordan commented on #304
For the record/my reference, this is the function that the filename is failing on: https://git.drupalcode.org/project/drupal/-/blob/9.2.x/core/lib/Drupal/Component/Utility/Unicode.php#L477.

[2021-08-03 14:22] mjordan commented on #306
@yamensaleh I have a couple of questions.

1. Is your `field_author` field a plain text field or does it link to a vocabulary?
2. Do the terms "Subject 1" and "Subject 14", etc. exist in your `subject` vocabulary?

[2021-08-03 14:24] yamensaleh commented on #306
- Both are Vocabulary, but it is allowed to add new terms in the taxonomy settings for both fields

[2021-08-03 19:49] mjordan commented on #34
Complete for files identified in the "files" column (e.g. not for "additional files"). Docs are at https://mjordan.github.io/islandora_workbench_docs/fixity/.

Note: to use this feature, you must be running a version of the Islandora Workbench Integration module newer than commit aac4a2402dd43c6ced5288a6d78c3fd5c24298cc (Aug. 3, 2021).

[2021-08-03 19:50] #34 closed

[2021-08-03 19:53] mjordan opened #307 "Allow transmision fixity on "additional files""
#34 provides transmission fixity auditing on files named in the "files" CSV column, but not on the newly available "additional files" columns. Would be useful to have this.

[2021-08-03 22:45] mjordan opened #308 "Provide config option to validate checksums in CSV during --check"
In other words, allow users to indicate that they want to have Workbench validate values in the optional `checksum` CSV column during `--check`.

[2021-08-03 23:20] mjordan opened #309 "Document media_use_tid for add_media tasks"
Code says:

[code]

[2021-08-04 00:36] mjordan commented on #308
Docs at https://mjordan.github.io/islandora_workbench_docs/fixity/.

[2021-08-04 00:36] #308 closed

[2021-08-04 14:17] mjordan commented on #309
Done.

[2021-08-04 14:17] #309 closed

[2021-08-05 00:31] dara2 commented on #290
Worked perfectly - thanks, Mark!

[2021-08-05 01:01] mjordan commented on #290
Super, thanks for testing.

[2021-08-05 01:01] #290 closed

[2021-08-05 02:42] dara2 commented on #287
Hi @mjordan - I am probably setting something up incorrectly, but I'm running into a couple of issues when testing this with a create.yml file. Objects with nothing in the file column (only a filename in the "thumbnail" column) get nothing (no thumbnail). Objects with both an original file and a thumbnail image worked in most cases, but not in one (details below). Additionally (but not really an e

[2021-08-05 02:43] dara2 opened #310 "Issue with create.yml and more than one media file per row"
Hi @mjordan - I am probably setting something up incorrectly, but I'm running into an issue when testing this with a create.yml file. Objects with nothing in the file column (only a filename in the "thumbnail" column) get nothing (no thumbnail). Additionally (but not really an error) is that Image objects, with only a filename in the "file" column, get a misleading warning message in the log even

[2021-08-05 14:30] mjordan commented on #304
@dara2 In the immediate term the best I can do is to replace characters in filenames that contain diacritics with their ASCII equivalents. For example, `2017-07-26_DAFH_LEBLANC_Ȩdouard_2017-07-26.JPG` becomes `2017-07-26_DAFH_LEBLANC_Edouard_2017-07-26.JPG`. The change in filename is logged: `05-Aug-21 07:23:09 - WARNING - Filename '2017-07-26_DAFH_LEBLANC_Édouard_2017-07-26.JPG' contains non-ASCI

[2021-08-05 15:07] dara2 commented on #304
That fix sounds absolutely fine, but I also updated our documentation to let clients know these limitations. I'm not sure yet how many files this might impact for our French Canadian clients, so it may be helpful to have Workbench do this for them.

[2021-08-05 16:29] mjordan commented on #310
OK, thanks, I will investigate.

[2021-08-05 16:30] mjordan commented on #304
OK, thanks, I'll test with some other filenames this evening and ask you to test.

[2021-08-05 19:34] mjordan commented on #304
@dara2 Ready to test. Can you fetch the issue-304 branch, switch to it, and then run setup.py to install the new library? See the "Updating Islandora Workbench" section in https://mjordan.github.io/islandora_workbench_docs/installation/ for specifics on how to run setup.py (it depends on how setup.py was run when you originally installed Workbench).

[2021-08-05 19:36] mjordan opened #311 "Temporary directories for downloaded remote files are not deleted"
When `delete_tmp_upload: true` is present in the config file, the directories created to store temporary copies of downloaded remote files should be removed. The temporary copies of the files are, just not the directories.

[2021-08-06 15:56] mjordan commented on #296
@fgeisser21 sorry this has taken so long. I can replicate both of the above bugs and will address them this weekend.

[2021-08-09 02:40] mjordan commented on #296
@fgeisser21 can you try again? I have fixed the two issues you describe ^.

[2021-08-09 11:54] yamensaleh commented on #306
Hello
also i have the bellow error from Drupal recent log messages:
![image](https://user-images.githubusercontent.com/16070733/128702109-f6797efa-e94d-44e6-a7a9-6bb2283fc8e9.png)

Symfony\Component\HttpKernel\Exception\NotAcceptableHttpException: No route found for the specified format html. Supported formats: hal_json, jsonld, oai_dc, json, xml. in Drupal\Core\Routing\RequestFormatRouteFilter->f

[2021-08-09 13:14] fgeisser21 commented on #296
I made the following tests:
- Update a node with existing taxonomy term in linked_agent field: relators:art:41 - works fine.
- Update a node with a new person taxonomy term in linked_agent field: "relators:pht:person:Nefflen, Werner" - works fine, new person term is created and linked agent added to the node.
Thanks for fixing this - Islandora Workbench is a great tool!

[2021-08-09 13:16] fgeisser21 commented on #296
(I didn't get rid of the stupid emoji in above comment. Should be relators : art : 41)

[2021-08-09 13:59] mjordan commented on #296
Thank you for finding these bugs and for testing!

[2021-08-09 13:59] #296 closed

[2021-08-11 02:03] dara2 commented on #304
This worked perfectly. I saw the message in the .log file saying that the filename would be normalized and the ingest went through correctly.
NOTE: I tested from my local machine (vs. from the Linux server) because I'm not sure how to update Workbench on that server to use the issue-304 branch. If it needs to be tested on Linux, I can check with Gavin and ask him to update to the branch, just let

[2021-08-11 03:38] mjordan commented on #304
Thanks! I'll update the documentation. No need to test on the Linux server, it works for me on Linux.

[2021-08-11 03:38] #304 closed

[2021-08-11 03:47] mjordan commented on #192
Requests/urllib3 requires filenames used in Content-Disposition headers to be encoded as latin-1. Since it is impossible to reliably convert to latin-1 without knowing the source encoding of the filename (which may or may not have originated on the machine running Workbench, so sys.stdout.encoding isn't reliable), the best we can do for now is to use the [unidecode](https://pypi.org/project/Unidec

[2021-08-11 04:26] mjordan commented on #297
The requirement for `allow_missing_files: true` is now documented.

[2021-08-11 16:14] mjordan opened #312 "Improve scalability of finding terms in a vocabulary"
`find_term_in_vocab()` and `get_term_pairs()` aren't going to scale well for sites with very large vocabularies. It should be much more efficient to query Drupal for specific terms. A View, which we can add to the Integration module, can do this. However, this approach would not allow for normalized string searches provided by `compare_strings()`, which might be a show stopper.

[2021-08-12 14:05] mjordan opened #313 "--check should validate that the directory specified in "input_dir" exists"

[2021-08-12 14:32] #313 closed

[2021-08-16 00:12] mjordan opened #314 "get_field_definitions() does not include all required data for link type fields"
Configuration form for "link" type fields have "Allowed link type" and "Allow link text" attributes, but `get_field_definitions()` doesn't include those in it's output.

[2021-08-16 15:37] mjordan commented on #111
I can think of two options for adding field data to taxonomy terms:

### 1. Separate CSV file per vocabulary

This is the approach I am recommending.

If `allow_adding_terms` is true, each vocabulary can have its own data file, identified in the following config option:

[code]

Within each CSV file, the only required field is "term_name", which contains names of new terms used in your main CSV fi

[2021-08-18 14:22] mjordan opened #315 "Drupal allows only one URL alias"
Since Drupal only allows a node to have a single URL alias, `--check` should tell the user if they have provided more than one alias for a node in their CSV. On ingest, only the first alias will be applied.

[2021-08-19 14:58] edlington opened #316 "Concatenation of string and integer not allowed in line 175 of get_islandora_7_content.py utility"
The section of code begins like this:

[code]

What fixed it for me was casting the sequence_number variable to a string using the str method:

[code]

[2021-08-19 19:17] edlington opened #317 "The schema for the obj_url path variable in get_islandora_7_content.py may not work with Islandora 7 multisites"
The schema currently is:

obj_url = islandora_base_url + '/islandora/object/' + pid + '/datastream/OBJ/download'

To get the code working with our multisite I had to change things up a little.

Here's the implementation I used:

[code]

And here's the getcampuscodefrompid function:

[code]

[2021-08-20 00:56] rosiel opened #318 "I want to be able to do entity reference fields that reference media by mid."
In our system, we have Nodes with multiple Service Files representing different views of the same object (multifile media). To assign a "thumbnail" for this node, I put a "Entity Reference: Media" field on the node and pointed to one of its child Media.

I need a way to do this in batch, and entity reference fields already work for nodes (with NID) and with taxonomy terms (with tid or lookup).  A

[2021-08-20 17:00] edlington opened #320 "does id field header need to be prepended to list of fields in get_islandora_7_content.py?"
My understanding is that an id field with a unique id is required in the csv that is fed to Islandora Workbench for migration.

Current in get_islandora_7_content.py I see this:

`rows[0] = 'file,' + rows[0] + ',sequence'`

Wondering if it should be changed to:

`rows[0] = 'id,' + 'file,' + rows[0] + ',sequence'`

[2021-08-21 13:33] mjordan commented on #320
@edlington I'm on vacation now and can't easily test this, but will next week. Looks good though.

[2021-08-21 13:34] mjordan commented on #317
I have never used multisite so am likely oblivious to this. Thanks for noticing it. Would this change have any impact on non-multisite implementations?

[2021-08-21 13:35] mjordan commented on #316
Thanks, I will fix this now.

[2021-08-21 13:38] #316 closed

[2021-08-21 13:39] mjordan commented on #317
@edlington thanks for the eyes on this script, BTW.

[2021-08-23 16:30] Natkeeran opened #321 "EDTF Validation issue"
193X/196X is a valid EDTF date according to https://digital2.library.unt.edu/edtf/.  However, workbench says this is not valid.  Not sure if this is an issue with how EDTF is supported in islandora or how it gets validated in workbench!

Created an issue [here](https://github.com/Islandora/documentation/issues/1889).  Pls close this one.

[2021-08-23 17:11] seth-shaw-unlv commented on #321
We should leave this open until we confirm how Workbench is validating the value. I know there was talk about validating using the professional wiki EDTF library before pushing to Islandora, so we should confirm where the validation is happening first.

[2021-08-23 17:19] seth-shaw-unlv commented on #321
This is a workbench validation issue. See where it [checks dates on an interval](https://github.com/mjordan/islandora_workbench/blob/4f3e05d0b780770bf1b97946e5e37e75b30d7b14/workbench_utils.py#L3084) and the [single_date validation](https://github.com/mjordan/islandora_workbench/blob/4f3e05d0b780770bf1b97946e5e37e75b30d7b14/workbench_utils.py#L3133-L3157).

[2021-08-25 15:26] ajstanley opened #322 "Add Media failing with remote files"
When prepping an Add Media job with remote files a directory is created to hold the imported files.  The name of the directory  is nid_<nid>
https://github.com/mjordan/islandora_workbench/blob/main/workbench_utils.py#L3901
When it's time to grab the file, workbench just looks for <nid> as the directory name.
I've solved it on my instance by changing the line above to
 subdir = os.path.join(config[

[2021-08-28 13:59] ajstanley commented on #322
Red herring,  Ignore.

[2021-08-28 13:59] #322 closed

[2021-08-30 00:01] mjordan opened #323 "Use a client-side cache?"
https://github.com/reclosedev/requests-cache would speed up Workbench and reduce the load on the target Drupal.

[2021-08-30 14:50] mjordan commented on #321
I'll implement https://pypi.org/project/edtf/ now, jumping the priorities queue. However, using this simple scrpt:

[code]

`193X/196X` doesn't validate. I'm happy to open an issue with the maintainers, if necessary. Here's the error output:

`Expected {{Combine:({Combine:({W:(0123...) ^ {~{"-0000"} "-" W:(0123...)}}) ^ {Combine:({W:(0123...) ^ {~{"-0000"} "-" W:(0123...)}}) "-" 01 | 02 | 03 | 04

[2021-08-30 15:05] seth-shaw-unlv commented on #321
That value isn't validating with the referenced pypi EDTF library because is using the older draft version of the EDTF spec (2012) rather than the finalized (2019) version.

[2021-08-30 15:09] seth-shaw-unlv commented on #321
Wait a second.... their documentation is showing examples of both the older and the newer spec.... 🤔

[2021-08-30 15:33] mjordan commented on #321
@seth-shaw-unlv OK, thanks for pointing that one out. The other library validates that date range, so I'll use it. Too bad it doesn't provide details around invalid dates.

[2021-08-31 04:28] mjordan commented on #264
@seth-shaw-unlv looks like your tests for "[1900-31](https://github.com/Islandora/controlled_access_terms/blob/8.x-1.x/tests/src/Kernel/EdtfUtilsTest.php#L33)", "[1900-3X](https://github.com/Islandora/controlled_access_terms/blob/8.x-1.x/tests/src/Kernel/EdtfUtilsTest.php#L31)", and "[190X-5X-8X](https://github.com/Islandora/controlled_access_terms/blob/8.x-1.x/tests/src/Kernel/EdtfUtilsTest.php#L

[2021-08-31 04:37] mjordan commented on #321
@Natkeeran @dara2 can you test the issue-264 branch? After checking out that branch, you will need to run `sudo python3 setup.py install` or  `python3 setup.py install`, depending on how you originally installed workbench since this branch includes a new Python library.

[2021-08-31 15:00] seth-shaw-unlv commented on #264
So, it is possible that the library only supports levels 0 and 1 of EDTF; placing unspecified digits at any point and sub-year groupings (like 30 for summer in the southern hemisphere) are level 2 features.

[2021-08-31 15:19] mjordan commented on #264
Code suggests it's [supposed](https://github.com/unt-libraries/edtf-validate/blob/master/edtf_validate/valid_edtf.py#L537-L566) to validate against level 2. I'll open an issue to ask.

[2021-08-31 15:32] seth-shaw-unlv commented on #264
I wouldn't get too hung up on level 2 support. If it is passing the valid level 0 and 1, run with it. That will cover 80%+ of the cases.

[2021-08-31 17:31] Natkeeran opened #324 "Provide a config options to ignore columns"
Often times one wants to just keep one metadata file for a collection.  Currently, workbench requires all column headers with the exception of some system columns to be available in drupal as fields.  It would be useful to provide option to list columns headings the workbench should ignore.  Perhaps, might be useful to provide option to ignore rows as well (in case one has human friendly metadata

[2021-08-31 17:33] mjordan commented on #324
`ignore_csv_columns` does this. Let me know if it doesn't do what you expect.

[2021-09-01 14:17] mjordan opened #325 "Unrecognized field name in CSV causes error"
The presence of columns in the input CSV file that are not reserved and that do not match field names for the current content type are producing a Python error rather than being reported as expected.

[2021-09-01 14:23] mjordan commented on #325
This is a regression bug introduced during work on #287.

[2021-09-01 18:09] Natkeeran commented on #324
Thanks, should have checked the doc :)

[2021-09-02 04:25] mjordan commented on #324
@Natkeeran OK to close?

[2021-09-02 05:15] mjordan commented on #281
As of c607af920a7e66eee1923ee9b5082335b74e29fc Workbench uses https://pypi.org/project/edtf-validate/ to validate EDTF dates (Levels 0-2 of spec). OK to close this issue?

[2021-09-02 05:17] mjordan commented on #264
Workbench now uses https://pypi.org/project/edtf-validate/ to validate dates. I've opened https://github.com/unt-libraries/edtf-validate/issues/33 (mainly for my own edification) and will wait to hear back before closing this issue.

[2021-09-02 14:22] #325 closed

[2021-09-02 14:51] mjordan commented on #268
Dropping a note here from a convo in slack: it would be useful to provide a "strict" mode (the default, which would require --check to run before committing) and a non-strict mode which would preserve the current functionality. This strict mode may or may not be the same as the feature requested in the issue, but it's related.

[2021-09-02 17:10] Natkeeran commented on #324
@mjordan
When I add this config
[code]
or as
[code]

it throws the following error:
Error: Row 1 (ID 1) of the CSV file has more columns (18) than there are headers (18).

[2021-09-02 17:14] Natkeeran commented on #321
@mjordan
The validation now passes for 193X/196X case I was looking at.

@seth-shaw-unlv, when entering the value and saving it via UI, throws the following error: `Could not parse the date '193X/196X'.`.  It is probably not a workbench issue!

[2021-09-02 18:00] mjordan commented on #324
Sorry, it's not documented clearly, try `ignore_csv_columns: ["Target Collection"]`

[2021-09-02 20:03] seth-shaw-unlv commented on #321
On the [islandora/documentation ticket](https://github.com/Islandora/documentation/issues/1889#issuecomment-903955881) I mention that you have to adjust the FieldWidget settings to permit intervals. I just confirmed that it works on Islandora itself:
![Screenshot 2021-09-02 130019](https://user-images.githubusercontent.com/29869988/131908503-1fd6bfe4-c555-46fb-bff4-cf4133b285ef.png)
![Screenshot 2

[2021-09-02 20:04] mjordan commented on #324
I've updated to the docs:

Wrapping the column names in quotes is not required.

[2021-09-02 20:05] mjordan commented on #321
@seth-shaw-unlv I'm going to add this to Workbench's Troubleshooting section, if you're OK with that.

[2021-09-05 14:45] Natkeeran commented on #324
Works as expected, thank you.

[2021-09-05 14:46] Natkeeran commented on #321
@seth-shaw-unlv
Thank you.

[2021-09-07 14:42] mjordan commented on #111
TODO: add the ability to use Google Sheets or Excel for vocabulary CSV data. Skipping for now, will do after basic functionality from local CSV is done.

[2021-09-07 15:56] #324 closed

[2021-09-07 17:22] rosiel commented on #318
Only partially completed by #319. @mjordan found a few holes in the functionality which can be fixed for the future.

TODO:

- It would be good to have `--check` validate that the referenced media exists (this already happens for node references in `field_member_of`).
- I'd like to have it also work with `create` tasks since someone will likely ask for it eventually.

[2021-09-09 05:03] mjordan commented on #323
Another option is to cache responses using the standard library's shelve module, with entries keyed by URL.

[2021-09-09 14:35] mjordan opened #326 "get_islandora_7_content.py doesn't take all variations of child->parent relationships into account"
Function `get_child_sequence_number()` function doesn't take all of Islandora 7.x's subtle permutations of how child->parent relationships are expressed in RELS-EXT. Here's a summary of those permutations:

* isMemberOfCollections is used for collection membership
* isConstituentOf is used in children of compound objects
* newspaper issues use isMemberOf in relationship to their newspaper and isSe

[2021-09-09 14:53] mjordan opened #327 "Creating new typed relation taxonomy terms is failing"
However, creating non-typed-relation taxo terms works. Investigating.

[2021-09-09 16:44] mjordan commented on #327
False alarm, just me not getting my tests straight.

[2021-09-09 16:44] #327 closed

[2021-09-09 17:09] mjordan opened #328 "Workbench should warn user if markup exists in a field value but the target field is not configured to render markup"
If the field formatter is available in the field's config (and it should be), Workbench can warn users during `--check` that values containing markup won't be rendered as expected.

[2021-09-09 17:19] mjordan commented on #328
@seth-shaw-unlv suggests adding a config option to allow users to specify which format value (e.g. ‘basic_html’ or ‘full_html’) that field should use. This would let us provide more informative messages to users, do better markup validation, etc.

[2021-09-09 17:35] mjordan commented on #321
I've added the following entry to the Workbench Troubleshooting page: https://mjordan.github.io/islandora_workbench_docs/troubleshooting/#edtf-interval-values-are-not-rendering-in-islandora-properly

If this is sufficient, @Natkeeran can we close this issue?

[2021-09-10 11:04] Natkeeran commented on #321
@mjordan
Thanks, yes close this ticket.

[2021-09-10 13:04] #321 closed

[2021-09-15 18:30] mjordan opened #329 "Node aliases complicate getting node IDs for use in update tasks"
`update` tasks require node IDs, but Drupal's node aliases hide the node IDs. It would be very useful to allow users to include the full URL (e.g. the aliases), which then Workbench could resolve to the real node ID, which it then in turn use in its CSV. This is a need coming from SFU in its IR migration (since the IR uses URL aliases to retain the old IR's URLs).

It's possible for a human to get

[2021-09-16 02:36] #329 closed

[2021-09-16 03:24] mjordan opened #330 "Allow the use of full URLs instead of media IDs in delete_media tasks"
Similar to how #329 works.

[2021-09-16 03:25] mjordan commented on #329
Full URLs (both URL aliases and canonical URLs) can now be used in `node_id` fields for `update`, `delete`, and `add_media` tasks.

[2021-10-01 16:16] dmer opened #331 "Allow disabling of checking for existence of terms in Drupal in --check to speed up checking"
--check doesn't always need to be checking if terms exist (esp. if all the terms are new ones begin added) but it is still nice to get the syntax/formatting checking on the structure of the terms in the CSV.

Make is an option to tell --check that you don't want to check for terms' existence in Drupal

relates to [Improve scalability of finding terms in a vocabulary #312](https://github.com/mjorda

[2021-10-05 20:58] mjordan opened #332 "Add the ability to configure a proxy"
Workbench needs to be able to use an outgoing HTTP proxy. This could be a 'proxies' setting in the confi, which requests would then use.

[2021-10-06 14:58] mjordan opened #333 "Group Islandora integration tests"
Running islandora_tests.py takes almost 20 minutes. If these tests were grouped into separate files, it would be easier to run specific groups of related tests. Some logical groups are:

* --check
* typed relation
* taxonomies
* vocabulary CSV
* hooks
* create tasks
* delete tasks
* paged content

[2021-10-07 15:58] rosiel opened #334 "media_types config option should override, not replace, defaults."
Follow up on https://github.com/mjordan/islandora_workbench/issues/78:

I bunch of files of different types, and one of them has a file extension that is not hard-coded into , so the documentation page requires me to convert a HTML table of workbench's defaults into the following YAML format:

[code]

before adding it to config along with adding my own. This is kind of obnoxious! Without regular e

[2021-10-07 16:15] dara2 commented on #111
I'm happy to test as well, once it's ready! :)

On Thu, Oct 7, 2021 at 12:08 PM Mark Jordan ***@***.***>
wrote:

--

Dara Virks, Senior Technical Project Manager

Pronouns: she/her/s
Born-Digital | 84 Russell St, Hadley MA | (413) 259-8787 ext. 116 |
born-digital.com

[2021-10-07 16:16] mjordan commented on #334
@rosiel I was able to copy config YAML from the examples at the bottom of https://mjordan.github.io/islandora_workbench_docs/configuration/. Maybe there should be a sample for each complex config option to allow for easier copying?

[2021-10-07 23:20] rosiel commented on #334
The idea of this mapping is "what media type do i put it in when i give it a certain file type"

When I said override, I mean this pseudocode:

for each _file extension_ provided by the user in the config file under 'media_types',
remove that _file extension_ from any existing default associations with media types,
and if the _media type_ the user has provided for it exists in the now-modified def

[2021-10-16 22:22] mjordan opened #335 "Have Workbench check the version of Islandora Workbench Integration is running"
#312 introduces a major breaking change in the way that Workbench interacts with Drupal. To prevent this change from happening, it's very important that sites are running the correct version of the Integration module. This type of breaking change may occur in the future as Workbench becomes more optimized.

Workbench already checks the Drupal Core version, so a pattern for checking the version of

[2021-10-19 03:23] mjordan opened #336 "Provide option to copy input CSV fields into output CSV"
From a conversation in Slack with @dmer and his colleague Margaret Youngberg: it would be useful to include the field values from the input CSV in the output CSV created using the `output_csv` option.

[2021-10-20 11:07] dmer opened #337 "If a vocabulary term is an integer, Workbench treats it as a Term ID and then returns http 422 if that ID doesn't exist"
Working with a taxonomy for temporal subjects, when the CSV field contains strings like "19th Century" it gets added to the vocab list on ingest - same for integers that contain at least one non-numeric like "1920-1930". However when the term is simply an integer "1893" Workbench tries to treat it like a Term ID and fails because there is not a Term ID of that value.

See CSV below the last line h

[2021-10-20 13:52] mjordan commented on #336
Sorry, I hadn't tested with the `allow_missing_files: true` option, and no file specified. I've pushed a fix to the issue-336 branch if you want to try again.

[2021-10-20 20:00] mjordan commented on #336
Can you confirm you pulled in the most recent changes to the issue-336 branch? The change is there: https://github.com/mjordan/islandora_workbench/commit/cf250ea3aefcc713cb0e78d989b08aeec147bdf3 .

[2021-10-21 13:56] #336 closed, assigned to mjordan

[2021-10-22 14:49] mjordan opened #338 "Have Workbench check to see if it should be updated"
Related to #335. Should provide config option to turn this check off since people who are using a local branch, etc. might want to do that. Probably need to wait until we tag a release to make this work.

[2021-10-22 15:01] mjordan opened #339 "Provide a way to assign rollback configs/CSVs that are specific to "create" jobs"
This is in response to https://github.com/Islandora/documentation/issues/1944.

Currently, Workbench creates a "rollback.csv" during "create" tasks and uses a generic "rollback.yml" to point to that CSV. This only provides easy rolling back of the most recently created nodes.

Workbench should provide a way to specify what the config/CSV files are named for each "create" task so they can be used t

[2021-10-24 04:42] mjordan opened #340 "Reduce requests to verify whether a node or term exists"
Workbench could record whether a node (e.g. a collection or a parent of paged content) or a term exists and not have to check again. Newly created entities could be added to the tally on creation.

This would reduce the number of requests required during --check as well.

[2021-10-25 13:28] rosiel opened #341 "Using a custom id_field removes that from the field values!"
I have a `field_local_identifier` that holds the ID I'm using to manage my repository content.

When I tried to use it as `id_field`, it made a bunch of nodes without this field populated!

This is perhaps by design, but the documentation should make this clearer.

[2021-10-28 16:45] #341 closed, assigned to nobody

[2021-10-28 16:49] rosiel opened #343 "Node title overrides media titles"
I am making nodes with multiple media attached.

## Method 1: Nodes first, then media

I created the nodes using `nodes_only` then made an `update` config. My data spreadsheet was very simple and had headers `['node_id', 'file']`. Multiple rows had the same node_id. When I did it like this, my media were added and the media names were the filenames.

## Method 2: Nodes and media in one

I altered

[2021-10-29 18:03] rosiel commented on #343
Thanks Mark!

I was actually thinking this makes more sense to do in Drupal code! Islandora would be a more useful module if it provided "write the original file to a field" functionality the way that drupal images write the height and width automatically. so no worries about doing it in wb.

[2021-10-29 19:00] mjordan commented on #343
That makes sense. Islandora Workbench Integration module doesn't currently provide any hook/context/action functionality but it could. I want to be careful to not let that module grow too large/complex, but the idea of having it include optional submodules that do the sort of thing you are describing has come up before. Alternatively, the module that implements this code could be entirely separate

[2021-10-29 19:19] mjordan commented on #330
Need to update https://mjordan.github.io/islandora_workbench_docs/deleting_media/.

[2021-10-29 19:52] mjordan opened #344 "If an entity ID is available, add it to the pararmeters passed to post-action scripts"
E.g. if the task creates a node, media, or taxo term, include the entity's ID as a parameter to the script. This will be useful to logging, PATCHing the entity, etc.

[2021-10-30 17:38] rosiel opened #345 "Regression: get_entity_fields() is being called on taxonomy terms and is failing."
Since pulling changes `042e5d9..c2a8e82` I have been getting the following error:

`Error: Workbench cannot retrieve field definitions from Drupal. Please confirm that the Field, Field Storage, and Entity Form Display REST resources are enabled.`

It was calling get_entity_fields() with entity_type='taxonomy term', which hadn't happened before. The response was a 404 with message `b'{"message":"Th

[2021-11-01 00:03] mjordan commented on #335
Resolved with 1b39f45e2307f5cb69a873393769cccbc0182c81.

[2021-11-01 00:03] #335 closed

[2021-11-01 02:11] mjordan commented on #345
Sorry @rosiel, I didn't do a very good job of resolving a set of merge conflicts I was wrestling with. They are resolved now. I'll be posting a message about some of the changes in the #islandoraworkbench slack channel.

[2021-11-01 02:16] mjordan commented on #312
Merged into main with c2a8e82f1e9ff0c449e17dd3e7a1acfa02265778.

[2021-11-01 02:16] #312 closed

[2021-11-01 02:41] #330 closed

[2021-11-01 18:00] rosiel commented on #344
oh shoot, this would be amazing. (Especially if the media IDs were passed as well.)

[2021-11-01 18:03] rosiel commented on #343
Yes - I meant that we should put the code for original filename into the Islandora module! :)

[2021-11-01 18:04] mjordan commented on #344
I can add the IDs (including from media) pretty quickly.

[2021-11-01 18:37] rosiel commented on #343
You already have an option, `'use_node_title_for_media'` from 9 months ago. however, it's only called in the case where the file is a remote file(?).
https://github.com/mjordan/islandora_workbench/blob/1b39f45e2307f5cb69a873393769cccbc0182c81/workbench_utils.py#L4181-L4189

So I have a PR up now where I just use this existing variable. However, doing this changes the default behaviour for the prim

[2021-11-01 18:51] rosiel commented on #345
I've tried the latest code on `main` and i'm still getting a 404 when calling get_entity_fields on a vocabulary that has no extra fields:
<img width="1680" alt="Screen Shot 2021-11-01 at 3 45 39 PM" src="https://user-images.githubusercontent.com/1943338/139725040-8646c1f5-e3e4-4fcc-9b1b-8f09760544a6.png">

[2021-11-01 18:58] mjordan commented on #345
Can you confirm that the "Entity form display" REST resource is enabled in your target Drupal (/admin/config/services/rest)?

[2021-11-01 19:04] mjordan commented on #343
That config option was the result of https://github.com/mjordan/islandora_workbench/issues/214, so tagging @ajstanley in case he's interested.

I think changing the default value from false to true won't be a big deal. We could ask on the slack channel if anyone has a problem with doing that.

[2021-11-01 19:29] mjordan commented on #345
As discussed in slack, I suspect https://github.com/mjordan/islandora_workbench/blob/cf250ea3aefcc713cb0e78d989b08aeec147bdf3/workbench_utils.py#L639 is the key to success here.

[2021-11-01 19:50] ajstanley commented on #343
I use this flag 100% of the time when grabbing I7's downloads (all of which have the same name)  Having it set as default works for me.
In my use cases, it's useful to have several media have the same name. The connection to the original is more obvious than using the node ID as part of the owned Media's name and I can disambiguate with Media Use.

[2021-11-01 19:53] mjordan commented on #343
@ajstanley thanks, I think that changing the default to true, and just telling everyone on the slack channel is probably OK in this case. For other, more commonly used defaults, we might want a bit more process, but the change @rosiel is proposing will likely be seen by everyone as an improvement.

[2021-11-02 04:21] mjordan commented on #345
@rosiel please pull in changes to main branch and try again.

[2021-11-02 14:42] mjordan commented on #344
Looking into this now, the entity ID is already being passed into the scripts, but within the `entity_json`, which is the raw JSON response from Drupal. If the entity is a node, its nid is in (converted from JSON to a Python dict) `entity_json['nid'][0]['value']`. If it's a media, the mid is in `entity_json['mid'][0]['value']`.

Given that the entity ID is available in the response body, do we nee

[2021-11-02 23:17] mjordan commented on #337
Another option we might want to introduce would tell Workbench to treat *all* CSV term values as term names. In other words, not to check if they are term IDs (i.e. integers). This might suit users who never use term IDs and always want to use term names.

[2021-11-03 03:19] mjordan commented on #312
Docs updated to describe how terms are queried after changes resulting from this solution.

[2021-11-03 12:13] dmer commented on #337
That makes a lot of sense to me @mjordan - in a migration situation, I'm usually going to expect to have all term values. I guess I would want to also have the "n" prefix option for situations where I have mixed term ID's and names (though that seems like a less likely scenario tbh)

[2021-11-03 14:12] jlong2git commented on #337
I think this will work we have several items that use just the a single year  (exp:1911) for field_temporal_subject
`Error: CSV field "field_temporal_subject" in row 18 contains a term ID (1911) that is not in the referenced vocabulary ("temporal").`
I was adding quotes to them,  then removing the quotes in /admin/structure/taxonomy/manage/temporal/overview as a workaround

[2021-11-03 14:35] mjordan commented on #337
@jlong2git thanks, I know you've been hitting this so I'm glad you think the `n` solution will work for you.

@dmer excellent point about migrations.

Let me investigate what's involved in implementing both of these changes.

[2021-11-03 19:09] mjordan opened #347 "Write the Integration module's version number to the workbench.log"
With #335 in place, Workbench should log the Integration module's version number. Very useful during troubleshooting.

[2021-11-03 23:16] mjordan opened #348 "Workbench's output should make it clear how many objects have been processed and how many remain"
Using the progress bar does this, but the standard output:

[code]

should as well.

[2021-11-03 23:23] mjordan opened #349 "Move into the "Example configuration files" docs"
add_media.yml, autogen_content.yml, create.yml, etc. in the Workbench directory should be relocated into the "Example configuration files" section of https://mjordan.github.io/islandora_workbench_docs/configuration/.

[2021-11-04 05:36] mjordan commented on #339
Perhaps not a full implementation but good enough for now, if you include `timestamp_rollback: true` in your "create" or "create_from_files" config file, Workbench will timestamp the rollback YAML and CSV files like this:

* rollback.2021_11_03_21_10_28.yml
* rollback.2021_11_03_21_10_28.csv

The CSV filename is used as the value of the `input_csv` config option in the YAML file, e.g. `input_csv:

[2021-11-04 05:36] #339 closed

[2021-11-04 05:50] mjordan commented on #339
https://mjordan.github.io/islandora_workbench_docs/rolling_back/ updated.

[2021-11-04 06:11] mjordan commented on #347
During `--check`, Workbench writes an entry like this to its log: "Islandora Workbench Integration module installed on http://localhost:8000 is at version 1.0.0."

[2021-11-04 06:12] #347 closed

[2021-11-04 14:16] mjordan commented on #343
@rosiel I changed the GH assignment from me to you, to give you credit for doing all the work on this. Is that OK?

[2021-11-04 14:19] mjordan commented on #345
@rosiel even though I've fixed this in `main` if you could confirm I actually fixed it, we can close this.

[2021-11-04 16:35] mjordan opened #350 "Invalid YAML in config file thows uncaught exception"
A YAML error in my config file failed to be caught gracefully:

[code]
YAML formatting errors should be caught gracefully.

[2021-11-04 18:32] mjordan opened #351 "Update https://mjordan.github.io/islandora_workbench_docs/check/"
- https://github.com/mjordan/islandora_workbench/issues/313
- https://github.com/mjordan/islandora_workbench/issues/335

[2021-11-05 03:18] mjordan opened #352 "allow_missing_files: true makes remote files fail"
As discovered by @dara2, using the `allow_missing_files: true` option in conjunction with remote files results in errors such as "Error: File input_data/https://digital.lib.sfu.ca/islandora/object/vanpunk%3A457/datastream/JPG/download identified in CSV "file" column not found."

[2021-11-05 04:23] mjordan commented on #351
Fixed.

[2021-11-05 04:23] #351 closed

[2021-11-05 04:38] #352 closed

[2021-11-05 14:55] #350 closed

[2021-11-05 14:56] mjordan commented on #350
Now, if there is an error in the YAML config file, Workbench responds like this:

`
Error: There appears to be a YAML syntax error with the configuration file "yaml_errors.yml". More detail is available in the Workbench log. If you use an online YAML validator to find the error, BE SURE to remove your Drupal hostname and user credentials first.
`
and the full exception output is written to the log

[2021-11-05 15:10] mjordan opened #353 "Test and document support for ingesting large files"
The practical maximum file size that Workbench's (and Drupal) can ingest should be documented.

The Integration module might be able to provide some web sever/Drupal configuration information that Workbench could use to warn users that a given file might exceed the practical maximum file size.

[2021-11-05 16:12] mjordan commented on #352
Tested and confirmed by @dara2.

[2021-11-07 00:13] mjordan opened #354 "Allow user to stop Workbench and resume a job later"
Related to #348.

[2021-11-07 18:29] mjordan commented on #354
Docs are at https://mjordan.github.io/islandora_workbench_docs/cancelling/

[2021-11-07 19:04] #354 closed

[2021-11-07 19:46] mjordan commented on #343
PR merged, and docs at https://mjordan.github.io/islandora_workbench_docs/configuration/#media-settings updated to include this new option.

[2021-11-07 19:46] #343 closed

[2021-11-08 15:16] mjordan commented on #264
The edtf-validate library is working as intended.

[2021-11-08 15:16] #264 closed

[2021-11-09 10:10] mjordan commented on #323
cachetools looks useful.

[2021-11-11 13:34] dara2 commented on #338
Hi Mark - I wanted to put in a plug for having some kind of safeguard to not run the ingest if you have updated Workbench but NOT the most up-to-date Workbench Integration module. For the third time, I've accidentally run an ingest without the most up-to-date module (thought it was updated, but alas it wasn't) and ended up with tons of duplicated terms that I had to manually remove. Since the late

[2021-11-19 19:47] dara2 opened #355 "Nodes are not created but no error message except in .log file"
Would it be possible for Workbench to report errors where no node is created (like it does when no media is created)? I did a large ingest and several nodes were not created due to an issue with a custom field. But when I was monitoring Workbench in my terminal, I saw no error messages so I assumed everything was fine. Only when I looked at the site did I notice half the objects didn't get created

[2021-11-19 20:12] mjordan commented on #355
Yes, it is possible to add more control over what is printed to the terminal and what is written to the log.

On the single vs. multiple valued field, the intent is in the case you describe (field configuration is for single value, but CSV data has multiple values) to just use the first value and log the event. I'll test that to confirm it's working as intended and if not, fix it. I assumed that t

[2021-11-22 14:49] dara2 commented on #355
Yes, that is the desired behavior. Even more strange: I looked back at the metadata CSV and there aren't actually any multivalued cells for the field that Workbench was reporting the error for. So this is even weirder - I'm going to look into this a bit more. If I find any more info, I'll make a ticket for this.

[2021-11-22 16:14] dara2 opened #356 "Workbench says custom Typed Relation field has more than one value but it doesn't, then node is not created with error 422"
I am ingesting a CSV into a Drupal 9 site (9.4.0-dev), with what I believe is the most up-to-date version of Workbench and the Workbench Integration module. For several objects, I saw an error message like this:
`19-Nov-21 13:20:38 - WARNING - Adding all values in CSV field field_primary_creator for record islandora:trc_2715 would exceed maximum number of allowed values (1), so only adding first v

[2021-11-22 16:47] mjordan commented on #335
4e5f52b2cc43a0269778234224604f73f07fbca5 added a check for this outside of `--check`.

[2021-11-22 16:48] mjordan commented on #355
@dara2 Workbench now indicates in the console output if node was not created.

[2021-11-22 16:48] #355 closed

[2021-11-22 16:49] mjordan commented on #338
@dara2 Workbench now checks for the presence of the 1.0.0 Integration module, and if the version returned by that module is lower than the required version, Workbench stops and goes no further. This check happens both when running `--check` and when not running `--check`.

[2021-11-23 04:41] mjordan commented on #356
@dara2 I have fixed the issue with the single-valued typed relation field. Can you please pull down updates to `main` and test?

This is a separate problem which I will open a new issue for.

[2021-11-23 05:00] mjordan opened #357 "CSV values for single-vocabulary taxonomy and typed relation fields that contain namespaces include namespace in new term name"
If a taxonomy or a typed relation field only references a single vocabulary, and CSV values for that field contains a namespace, the namespace is not stripped from the term name before the term is created. For example, they are created like `person:Jordan, Mark". If the field references more than one vocabulary, the namespace is stripped as expected.

A namespace is not required for single-vocabul

[2021-11-23 05:39] mjordan commented on #357
Not resolved yet.

[2021-11-23 05:56] #357 closed

[2021-11-23 13:39] dara2 commented on #356
That's AWESOME - thank you, Mark! I'll test it today.

[2021-11-24 01:13] ajstanley opened #358 "Failure on updating typed_relation field type"
If a term doesn't have a url or a uuid, then we see a failure [here](https://github.com/mjordan/islandora_workbench/blob/main/workbench#L596-L598).

This worked for me
[code]
Let me know if you want a pull request on that.
(I've got some more digging to do - the field is not being updated, but I can get past this chunk of code)

[2021-11-24 15:54] mjordan commented on #358
@ajstanley thanks for finding that. If you can open a PR, that would be great.

[2021-11-24 16:01] ajstanley commented on #358
Sure thing.  Later this afternoon, I think.

[2021-11-24 20:07] dara2 opened #360 "Error trying to run update.yml to update link fields (only happens with one particular CSV)"
We are attempting to run the update.yml to update data for some custom Link fields on a Drupal 8 site (v. 8.9.20-dev). I have the most up-to-date version of Workbench and Python libraries, plus the most recent Workbench Integration Module installed. We've run this successfully for another batch, updating the same Link fields for another group of objects. But for some reason this one spits out this

[2021-11-24 20:18] mjordan commented on #360
Looks like you're experiencing the problem described in https://github.com/Islandora/documentation/issues/1764. The only thing we can do the workbench end is to try to change the maximum number of headers (by default looks like 100) that the Requests HTTP library can consume. I'll investigate further tonight.

[2021-11-24 20:45] dara2 commented on #356
This worked, thank you!

[2021-11-24 20:49] mjordan commented on #356
Super, thanks for testing. I'm working with someone else in slack to figure out if that fix solved their problem (which may not be the same problem, don't know yet). Glad to hear it worked for you. I'm going to close this assuming that the other problem is caused by something else.

[2021-11-24 20:49] #356 closed

[2021-11-25 04:14] mjordan commented on #360
@dara2 can you check out the issue-360 branch to see if it works around this problem?

[2021-11-25 04:59] mjordan commented on #357
resolved.

[2021-11-25 15:20] mjordan opened #361 "Creating typed relation terms that contain colons (:) fails"
And creation of nodes that use these new terms also fails with a 422.

[2021-11-29 15:26] mjordan commented on #345
@rosiel OK to close this?

[2021-11-29 15:27] #345 closed

[2021-11-29 15:27] rosiel commented on #345
Yes! Many many thanks @mjordan

[2021-11-29 15:58] dara2 commented on #360
I just ran the update in the issue-360 branch and it was successful. Yay!

[2021-11-29 16:53] mjordan commented on #360
Excellent, thanks for testing.

[2021-11-29 17:30] #360 closed

[2021-11-29 17:35] mjordan commented on #361
Tested and confirmed by user in Slack.

[2021-11-29 17:35] #361 closed

[2021-12-01 15:31] mjordan commented on #358
Thanks @ajstanley, resolved with 81491b18083803060e966d6217c2f43e9e9fcc76.

[2021-12-01 15:31] #358 closed

[2021-12-07 04:01] #333 closed

[2021-12-07 04:03] mjordan commented on #333
tests/islandora_tests_check.py,  tests/islandora_tests_hooks.py, and tests/islandora_tests_paged_content.py broken out from tests/islandora_tests.py for now.

[2021-12-09 16:54] rosiel opened #364 "Composer file?"
would it be possible to add a composer file to workbench, so the project could be required as part of deployment scenarios?

An example would be installing default content, but there are many other use cases.

[2021-12-10 03:40] mjordan opened #365 "Add ability to log request body"
For troubleshooting, it would be useful to be able to log response bodies.Might make sense to only log text response bodies however.

[2021-12-10 04:03] mjordan commented on #365
Also log request method and URL.

[2021-12-10 04:11] #365 closed

[2021-12-10 04:33] mjordan commented on #365
Docs updated.

[2021-12-14 19:27] yamyyao opened #366 "Windows reading unicode off of Google sheet causes error during `--check`"
When using a Google sheet as a input CSV file on Windows, certain characters cause an error during `--check`.

Here's the [Google sheet](https://docs.google.com/spreadsheets/d/1DV0Ka0ZafZq3RgCn0x_AetFtlmnMuNFltzck2QL0ApY/edit?usp=sharing), where the cell G28 is causing issues with the value of "தொகுதி 1 - தொடக்கத்தில்".

The output is
[code]

This error doesn't appear if the cell is replaced with

[2021-12-14 19:30] mjordan commented on #366
In your input_dir there should be a CSV version of your Google Sheet ending in `.processed`. If you open it in a text editor, what is in that cell?

[2021-12-14 19:40] yamyyao commented on #366
It doesn't appear to have the row at all

[2021-12-14 19:53] mjordan commented on #366
If Google Sheets UI, if you download as a CSV, what do you see?

[2021-12-14 20:24] yamyyao commented on #366
It all seems correct and that specific cell seems to display properly when opening with Visual Studio Code.

When opening it with Excel, that specific cell shows the value `à®¤à¯Šà®•à¯à®¤à®¿ 1 - à®¤à¯Šà®Ÿà®•à¯à®•à®¤à¯à®¤à®¿à®²à¯`, but I feel this might be more of an issue with Excel and CSV files rather than anything else.

[2021-12-14 20:34] mjordan commented on #366
To narrow down where the failure is happening, can you use that CSV as Workbench's input to see if it works?

[2021-12-14 20:47] yamyyao commented on #366
It seems to give the same error message as when using the Google sheet:

[code]

[2021-12-15 17:37] yamyyao commented on #366
Sure, just let me know what you need me to do.

[2021-12-16 01:31] mjordan commented on #366
@yamyyao can you check out the issue-366 branch and test please?

[2021-12-16 02:43] yamyyao commented on #366
Running it on the same sheet containing the problematic characters gave an output of:

[code]

Position 5223 happens before the original problematic characters, and... looks to be a space? I'm not sure why it's not giving an error before that position though, considering there are spaces before that point in the file.

[2021-12-16 15:43] mjordan commented on #366
If you open the . processed file in a text editor/IDE and reveal non-printable characters, can you tell if there's a character in that position that might be causing the error? Also, check to see that the encoding of the file is in fact utf-8.

[2021-12-16 16:12] myoungbe opened #367 "HTML displays as code until node is opened and saved"
I've observed that formatted text fields initially show HTML as code, but when I open and save the node with the problem (even if I don't touch that field), it then displays correctly. I've included a screenshot to show what I see before editing the node.

Drupal is 9.4.0-dev, and I am running the latest version of Workbench.

![Screen Shot 2021-11-30 at 16 36 40](https://user-images.githubusercon

[2021-12-16 16:42] seth-shaw-unlv commented on #367
Generally speaking, when ingesting into text fields you need to set the format property (e.g. 'basic_html') or else Drupal will encode the characters to be displayed as plain text.

My guess is that the field is being saved without a format property which displays the characters, but once you edit the node Drupal will populate that format property with the default (usually 'basic_html') which will

[2021-12-16 17:10] mjordan commented on #367
Thanks @seth-shaw-unlv. Issue #328 is relevant here. I will see what's involved in resolving it (to at least provide a warning) or whether it is possible to set the format property via REST.

[2021-12-16 17:14] yamyyao commented on #366
I just now noticed that perhaps I misread earlier when it came to the .processed file? In my input_dir I see a two CSVs, a `google_sheet.csv` and a `google_sheet.csv.prepocessed`. When you talk about the .processed file, which one do you mean?

The encoding of both files seem to be utf-8, and within both of them it looks like the character in that position is a space. That position sits in the mid

[2021-12-16 17:27] mjordan commented on #366
`google_sheet.csv.prepocessed` is the one that Workbench actually uses. If you make a copy of that one and configure it to be the `input_csv` file, what happens?

Can you change line 2573 in workbench_utils.py (branch 366) from `encoding="utf-8-sig"` to `encoding="utf-8"` to see if that makes a difference?

[2021-12-16 18:16] yamyyao commented on #366
Using the `.prepocessed` as the `input_csv` does not make a difference and gives the same output. Changing the line to `encoding="utf-8"` also did not make a difference.

[2021-12-20 20:46] mjordan commented on #366
@yamyyao I'm now testing on Windows. In the CSV file exported by Google Sheets, I got a little further by replacing the smart quotes in record 13's "field_description" column with regular quotes (around "Trade of Canada Commodity Classification"). Can you change those quotes in the source Google Sheet and try again?

[2021-12-20 21:12] mjordan opened #368 "Check for same number of CSV headers and columns should print additional exception info if it's available."
Where Workbench checks whether the CSV has the same number of headers and columns, it should print additional exception message content.

[2021-12-20 22:00] yamyyao commented on #366
Changing the quotations on the sheet into regular quotes (`"`) or even removing the quotes entirely didn't change anything about the output. However, when I switched to using a local CSV and changing the quotes into regular quotes, it returned this:

[code]

I notice that the entire field_description column's information is surrounded by straight quotes in the preprocessed CSV, so maybe this new e

[2021-12-30 00:27] mjordan commented on #340
Internal cache of taxo terms (both `--check`ed and created) added in 39bf55b46ee257cb92044b0b25c69e3bd3b2415f as part of work on #323.

[2021-12-30 16:15] mjordan opened #369 "Tests leave behind some files"
Running tests leaves behind the following files (all in /tmp):

* workbenchcreatefromfilestestnids.txt.prepocessed
* workbenchcreatenonlatintestnids.txt.prepocessed
* workbenchcreatetestnids.txt.prepocessed
* workbenchcreatewithnewtypedrelationtestnids.txt.prepocessed
* workbenchdeletetesttnids.txt.prepocessed
* workbenchsecondarytasktestnids.txt.prepocessed

[2021-12-30 17:51] mjordan commented on #323
Merged into main with e1dd87467e286b47b321335ec67677d9854a7d3f. See the `enable_http_cache` option in https://mjordan.github.io/islandora_workbench_docs/configuration/.

[2021-12-30 17:51] #323 closed

[2021-12-30 17:54] mjordan commented on #331
Merged into main with e1dd874. See the `validate_term_existence` option in https://mjordan.github.io/islandora_workbench_docs/configuration/ (basically, include `validate_term_existence: false` in your config file to tell Workbench to not query Drupal for the existence of terms during `--check`).

[2021-12-30 17:54] #331 closed

[2021-12-30 18:10] mjordan commented on #340
Fix for taxonomy terms (not nodes) merged into main with e1dd874.

[2021-12-31 03:48] mjordan commented on #334
@rosiel , @ajstanley has provided a fix for this. The new `media_types_override` config option does what you describe above (replacing the old `media_types`). I have updated the docs at https://mjordan.github.io/islandora_workbench_docs/configuration/ and https://mjordan.github.io/islandora_workbench_docs/media_types/.

[2022-01-02 19:22] mjordan commented on #349
autogen_content.yml and entity_post_task.yml deleted and added to https://mjordan.github.io/islandora_workbench_docs/configuration/ with 99169d1.

[2022-01-10 14:32] ajstanley commented on #320
Normally we'd use the PID as the unique identifier, but the identifier isn't added to the record.  I can add an optional ID column for those cases when we want to add the PID to the Islandora 2 node.

[2022-01-10 16:59] ajstanley commented on #317
This solution will only work if the namespace and the campus code are the same.  Maybe would make more sense to filter by namespace, and generate a spreadsheet for each campus?

[2022-01-12 17:29] edlington commented on #317
Yes @ajstanley good point. I guess what this use-case addresses is SOLR instances that federate indexed content across multiple namespaces.

[2022-01-13 14:37] ajstanley opened #372 "metadata_solr_request can break solr"
The default solr query can generate thousands of fields, resulting in a URL that exceeds the GET character limit, causing the script to fail.

If we allowed a user to supply their own solr query we could bypass this failure.  I've included this as an option in the config refactoring PR

[2022-01-18 14:30] Natkeeran opened #373 "How to ingest track files for video service files?"
Islandora provides track field in video to support captions (
https://github.com/Islandora/documentation/issues/1003).  How can we ingest those files using workbench, assuming we are ingesting service files.  Thanks.

[2022-01-18 15:07] mjordan commented on #373
In create or add_media tasks, you should be able to use the option described at https://mjordan.github.io/islandora_workbench_docs/adding_multiple_media/ to do this.

[2022-01-18 17:10] Natkeeran commented on #373
Thank you for the quick response.

Please note that this is not an additional media, pointing to the repository item.

In this case, it is a file field to the video media (https://github.com/Islandora/islandora_defaults/blob/2.x/config/install/field.field.media.audio.field_track.yml)

[2022-01-18 17:35] mjordan commented on #373
Does putting that field's values in the CSV not work? I know they are not simple strings, but if they are field values, they should be added via CSV as any other value is.

It would be possible to add a feature to Workbench that reads a value from a file instead of from a CSV field. If that sounds like it might be more useful in this case, let me know.

[2022-01-18 17:50] Natkeeran commented on #373
MediaTrackItem is a custom field provided by islandora: https://github.com/Islandora/islandora/blob/2.x/src/Plugin/Field/FieldType/MediaTrackItem.php.  In addition the file, there are 5 additional pieces of information that can be provided for MediaTrackItem.

We should develop something general to support multi file media.  MediaTrackItem can be a plugin :).

Not sure how best to represent/suppor

[2022-01-18 20:02] mjordan commented on #373
@Natkeeran I had forgotten that MediaTrackItem was an Islandora-specific field type. Workbench strives to accommodate as many field types as possible, so I'll add this one to the list.

Yes, this is the challenge of using CSV as an input format: how to represent structured data within CSV so that humans and common software used by humans can express those structures. So far Workbench has resorted

[2022-01-19 16:54] mjordan commented on #373
@Natkeeran can you provide the raw JSON returned for one of those media from a `/media/x?_format=json` request so I can see the serialization of the MediaTrackItem field? That is the format that Workbench will need to push up to Islandora.

[2022-01-19 20:29] dmer commented on #334
I'm having difficulty overriding the media_type assignment to upload as a new custom media type.

We are experimenting with a multi-file media solution that involves a custom media type we've called "multifile_media_example" - We can add multiple media's of this type to a Paged-Content model object and (via a modified view) the files are displayed as multipage in Open Seadragon. So the user experi

[2022-01-19 20:45] mjordan commented on #334
Thank you, I will look into this to see what's what.

[2022-01-20 14:48] Natkeeran commented on #373
@mjordan
Pls see an example below:
[code]

[2022-01-20 15:50] mjordan commented on #373
Thanks, that's useful. Assuming that we want the input Workbench data to contain values for 'label', 'kind', 'srclang', and 'url' (that is, they are user-defined), we could express a single field's values in CSV like this:

`en:subtitles:en:/path/to/the/vtt/file`

Presumably the .vtt file is being ingested during a `create` or `add_media` task, and if so, Workbench would need to ingest it as a `fi

[2022-01-20 15:54] mjordan commented on #373
Another question - I don't see a cardinality in the YAML that creates this file. Is it possible that the user can configure the cardinality between single, max occurances, unlimited?

[2022-01-20 17:09] Natkeeran commented on #373
`en:subtitles:en:/path/to/the/vtt/file` is a good idea.  Wondering if we should generalize this at this time by appending the field name: `label:en::kind::subtitles:srclang::en:filepath::/path/to/the/vtt/file`?

For MediaTrackItem, there is not required fields other than the file.  The cardinality is unlimited.

[2022-01-24 16:06] mjordan commented on #334
@dmer making progress on this. Has to do with specifying the field that the custom media uses to reference its file. I'll have a solution this evening.

[2022-01-24 16:08] dmer commented on #334
Thanks @mjordan ! I'm highly motivated as I have a large ingest job waiting so I will make time to test when you say so!

[2022-01-25 04:20] mjordan commented on #334
OK, please give the "issue-334" branch a try. Note that you need to use two options in your configuration file:

1. either `media_type` or `media_types_override` like you have done above and
2. `media_file_fields` as described at https://mjordan.github.io/islandora_workbench_docs/media_types/

Let me know if this does what you want.

[2022-01-25 14:57] dmer commented on #334
It works! I'll do some more thorough testing, but the initial test w/ the same config and csv as I shared above does exactly what I need!
Thank you @mjordan

[2022-01-25 15:13] dara2 opened #374 "Could you add the option to use the "id" field for media filename?"
I’m running into an interesting issue with an i7 -> i2 migration. We’re pulling the files directly from i7 from filepaths (e.g., https://mysite.edu/islandora/object/islandora:103267/datastream/JP2/view). There are many objects that have the same title. At first, I had `use_node_title_for_media: true` in the YML file, but it seems Fedora doesn’t like this because you start to get multiple media fil

[2022-01-25 15:14] dara2 commented on #374
Hi @ajstanley - here's the ticket. I'm unable to assign it to you.

[2022-01-26 15:11] mjordan commented on #373
@Natkeeran I've built a Vagrant that has this media type preconfigured and can start looking into this in more depth. Any chance you can point me to some sample vtt files I can use?

[2022-01-26 15:18] Natkeeran commented on #373
@mjordan
Yes:)  We have sample objects here: https://github.com/digitalutsc/repo_islandora_demo_objects.  The csv (also linked in the readme) https://docs.google.com/spreadsheets/d/1DV0Ka0ZafZq3RgCn0x_AetFtlmnMuNFltzck2QL0ApY/edit#gid=994664908

We are hoping to use this for the new sandbox: https://test.islandora.ca/

[2022-01-26 18:23] mjordan opened #375 "Workbench should verify that the content type specified in the config exists"
When the content type configured in `content_type` doesn't exist, Workbench errors out with "Error: Workbench cannot retrieve field definitions from Drupal. Please confirm that the Field, Field Storage, and Entity Form Display REST resources are enabled." This error message masks the fact that the specified content type doesn't exist.

Workbench should ping the specified content type (if there's a

[2022-01-26 20:18] rosiel commented on #334
I'm satisfied that @ajstanley's fix solves my original use case, and @dmer 's additions seem to improve the use case for multifile as well. I'll close it - please reopen if the issue arises again.

[2022-01-27 18:22] g7morris commented on #305
Hi @ajstanley & @mjordan

Oooo this would be very cool to build as a feature. Do either of you have any plans to pursue this now that the PR above was merged in?

Would be happy to help test and document if that helps.

Thanks in advance!

[2022-01-27 18:55] dara2 commented on #374
@ajstanley - thanks for making the update in your repo. I pulled from https://github.com/ajstanley/islandora_workbench, `issue_374` branch and did an ingest as-is, and it worked perfectly (media files got the title plus node ID as their filename). Then, as you suggested, I updated at line 2233 in workbench_utils.py to be this:
[code]
And now media are getting the value in my CSV's "id" column (whi

[2022-01-27 19:03] ajstanley commented on #305
@g7morris I kind of abandoned this when I found I could get everything from the S3 bucket via a regular URL, but I can have another go if the interest is there.

[2022-01-27 19:11] g7morris commented on #305
@ajstanley If that is the case, perhaps it is more of just documentation then? Perhaps if folks know that they can call a S3 URL from the tool or within the csv that is enough?

[2022-01-27 19:12] g7morris commented on #305
Either way to call from the S3 bucket from within the tool or as notated in an S3 bucket would be most appreciated. Thank you both

[2022-01-27 19:16] ajstanley commented on #305
I'd kinda like to see various downloads as plugins - local, https, s3 ...

[2022-01-27 19:21] ajstanley commented on #374
I still like the idea of naming the Original File with the NID (makes it consistent with NID-Service file etc, but I'll put in a PR later today for this issue that will allow the user to specify whatever column they like in their input sheet to make the name for the Media.  This could be the id, a catalog number, or any other uniqueish value.

[2022-01-27 19:50] dara2 commented on #374
So unfortunately it seems like the media "Name" is using the PID now, but the actual _filename_ is not. So I'm running into the same duplicate filename error in Fedora. Example from the Drupal log:
[code]

[2022-01-27 19:54] g7morris commented on #305
That sounds good too @ajstanley but in terms of using an S3 URL is it as easy as putting in the S3 bucket URL and then the object / fine name in the associated csv for Workbench?

[2022-01-27 22:10] ajstanley commented on #374
The latest on my test branch allows four different behaviours.

1. Use filename for media (Workbench Classic ™ )
2. Use TItle from Node as media
3. Use any field from the spreadsheet as media name
4. Use the Nid of the parent node to make 23-Original File

Each of these has a file name the same as the media name
I'll get a PR ready over the next day or two - I want to write some validation code so

[2022-01-28 04:22] mjordan commented on #305
If people would find native s3 support useful, let's add it. I originally steered away from plugins in Workbench to keep things simple, albeit "opinionated". But, I am now starting to think that enough use cases and real-world usage has emerged to justify considering them. Addressing some bugs and optimizations has prevented me from sustaining dev time on items 1 and 2 on the [Fall 2021 Roadmap](h

[2022-01-28 13:04] ajstanley commented on #305
@g7morris - I have limited experience with s3 - On the one project where I used them extensively we were able to get regular https: addresses for each of the objects we needed.  I _think_ the advantage of using the s3 library is that we could pass credentials to get restricted material.

@mjordan Instead of actual plugins if we created a file class with methods for the various kinds of input, we c

[2022-01-28 14:05] dara2 commented on #374
Thank you so much, @ajstanley - this is great. I tested option #3 and it was working as expected.

[2022-01-28 15:07] mjordan commented on #305
@ajstanley yeah, this is roughly how workbench_fields.py works now. I like this approach, since it lets us define a simple interface in the main workbench and workbench_utils files but is fairly easy to extend.

[2022-01-28 19:44] ajstanley opened #376 "Config configuration"
As Workbench grows to cover an ever-increasing set of input scenarios the config defaults are getting harder to manage.
With config preparation confined to a single class, it's easier to read and update.

[2022-01-28 21:11] ajstanley commented on #375
I was poking around at this and couldn't find a way to check to see if a content type exists or not.  We could write a custom endpoint, but changing the error message to
[code]
ought to give the user all the information they need.

[2022-01-28 21:13] ajstanley commented on #372
(to clarify, that in the i7Import config refactoring PR, not the workbench config refactoring PR)

[2022-01-30 15:29] ajstanley commented on #375
another idea!  (I've tested this and it works)  at the start of get_entity_fields we stick the following check -
[code]
I can stick this in a PR if you like

[2022-01-30 16:53] mjordan commented on #375
Yes please. I'm not sure if that check would ever be used anywhere else, but maybe it's worth putting it into a `ping_content_type` function like https://github.com/mjordan/islandora_workbench/blob/main/workbench_utils.py#L569 and  https://github.com/mjordan/islandora_workbench/blob/main/workbench_utils.py#L545 ?

[2022-01-30 23:34] #376 closed

[2022-02-03 16:01] Natkeeran opened #380 "AttributeError: 'CachedHTTPResponse' object has no attribute '__attrs_init__'"
nat@LIB-6HSWM53:~/tools/iw_3feb2022/islandora_workbench$ git log -1
commit 51fb86b8089e9d2f1517346cc5d75526580f1402 (HEAD -> main, origin/main, origin/HEAD)
Merge: 7cac972 6ff4a09
Author: Mark Jordan <mjordan@sfu.ca>
Date:   Sun Jan 30 15:32:46 2022 -0800

[code]

[2022-02-03 19:54] Natkeeran commented on #380
Thank you @ajstanley  for helping troubleshoot this.

Even though I ran the `sudo python3 setup.py install` and it ran without issues, looks like I did not have  requests_cache library.  Installing that library resolved this issue.  Perhaps, this can be added as a troubleshooting step (i.e verify you have all the libs needed in the setup.py).

I've ran into this issue before as well, when trying t

[2022-02-08 20:26] dmer commented on #334
Hey @mjordan I'm trying to test this on my Prod system and I'm back to the same original error message when I try to do an add_media using the exact same config and CSV that worked under the issue-334 branch. I've tried on the Staging system where I was successful w/ the issue branch, but in both systems with my git set to main and up-to-date (ran setup.py too just in case) I'm getting this error

[2022-02-08 22:36] ajstanley commented on #334
I can have a look at this one - @dmer can you attach your config file?  In the config files above (if you're still using them) I'm not seeing media_file_fields defined.
[code]

[2022-02-09 04:57] mjordan opened #381 "Change license to MIT"
Other non-Drupal Islandora tools/components are all MIT licensed. Workbench's license should probably also be MIT, in prep for eventual transfer to the Islandora Foundation via LSAP.

@ajstanley @rosiel @manez @seth-shaw-unlv @ruebot you have all committed code to this repo. Any of you object to changing Workbench's license from the Unlicense to MIT to be consistent with other non-Drupal Islandora

[2022-02-09 13:44] dmer commented on #334
ah right - I forgot that I added the media file fields to that config -
@ajstanley
This is the add_media.yml config I used that worked on the issue-334 branch and that i'm trying to use w/ MAIN now:

[code]

The CSV is the same as above:
[code]

[2022-02-09 13:49] ajstanley commented on #381
All the same to me.

[2022-02-09 16:13] rosiel commented on #381
Sounds good to me.

Thanks.
________________________________
From: Nick Ruest ***@***.***>
Sent: Wednesday, February 9, 2022 9:51 AM
To: mjordan/islandora_workbench ***@***.***>
Cc: Rosie Le Faive ***@***.***>; Mention ***@***.***>
Subject: Re: [mjordan/islandora_workbench] Change license to MIT (Issue #381)

CAUTION: This email originated from outside of UPEI. Do not click links or open attachmen

[2022-02-10 14:39] mjordan commented on #320
@ajstanley thanks so much for improving this part of Workbench!

[2022-02-10 14:39] #320 closed

[2022-02-10 14:41] mjordan commented on #320
@edlington if you have time to pull in the most recent changes and test Alan's work, that would be great. You will need to run setup.py.

[2022-02-10 16:39] ajstanley opened #383 "Duplicate values being created in update task"
When re-running an update task identical values are being appended -
[code]

[2022-02-10 18:19] dara2 commented on #374
Yep, I tested the issue branch on Alan's repo (and am running it on a production site successfully right now), if that helps!

[2022-02-10 18:21] #374 closed, assigned to ajstanley

[2022-02-10 18:21] dara2 commented on #374
Oh, no problem! Thank you!

[2022-02-10 18:21] mjordan commented on #374
Thanks @dara2 for opening this and thanks @ajstanley for fixing.

[2022-02-11 14:16] ajstanley opened #385 "Filters would be nice"
On large repositories we can bring back unworkably large result sets.  It would be nice to have configurable filters by content type and/or collection membership

[2022-02-14 03:29] mjordan commented on #385
Merged, docs updated to include new options.

[2022-02-14 03:29] #385 closed

[2022-02-14 03:30] mjordan commented on #381
@manez @seth-shaw-unlv OK with you?

[2022-02-14 16:50] dara2 opened #387 "Workbench --check is not flagging non-EDTF dates in all cases and allows them to be ingested"
Workbench --check is not flagging non-EDTF dates and is ingesting the data into EDTF fields (which then display incorrectly on the front-end). An example from our CSV for "Date Created" is `7/1/51` and it goes into the Date Created field as `7/1/51` and is displayed on the front-end as `7 to 1`. This isn't happening in all cases, oddly. One row of the CSV was flagged as not having an EDTF-formatte

[2022-02-15 05:21] mjordan commented on #375
Requests to `admin/structure/types/manage/`, which is called from the `ping_content_type()` function, are leaving "Access denied" warnings in the Drupal log, even for the admin user. The complete error message is:

`Path: /admin/structure/types/manage/islandora_object. Symfony\Component\HttpKernel\Exception\AccessDeniedHttpException: The used authentication method is not allowed on this route. in

[2022-02-15 20:39] dara2 opened #388 "Access denied at /structure/types/manage/islandora_object -'The used authentication method is not allowed on this route'"
During Workbench ingest on our internal demo site, I saw a bunch of these PHP warnings. The ingest seemed to go through just fine though. I have not seen these messages when running an ingest before. I am on Drupal 9.3.0, running the most recent version of Workbench as of Feb. 11. I can't tell if this message indicates a Workbench configuration issue, or a Drupal problem.

[code]

[2022-02-15 20:44] mjordan commented on #388
Hi @dara2 I noticed this last night and reopened #375 to address. Thanks for reporting it.

[2022-02-16 04:03] mjordan commented on #387
`--check` is catching both `7/1/51` and `8/1/70` for me, although it errors out on the first one. Once you correct that one, it then errors out on the second.

The check for EDTF validity only happens during `--check`. Would you prefer that Workbench checks also when it is about to populate the field, and if the date value is not valid, skips populating the Drupal field and logs that it skipped th

[2022-02-16 13:41] dara2 commented on #387
Ah, so perhaps the --check errored out on that first date, and the person running it didn't rerun the check after fixing the first issue? That makes sense. I think then it's just human error, since --check is flagging them. I could go either way on whether Workbench shouldn't ingest the date if it's not valid.

[2022-02-16 14:52] mjordan commented on #387
That sounds like what happened, but Workbench should minimize or even eliminate the impact of human error - that's why `--check` exists in the first place.

Resolving #268 would make Workbench not error out after the first `--check` failure. If that was in place, the user in the case above would have seen that there were more errors in the CSV and probably would not have proceeded to ingest. Howev

[2022-02-16 15:09] mjordan commented on #387
I'll add, I don't mean that validating CSV data outside of `--check` implies that users wouldn't need to run `--check` any more. Even with runtime validation in place, it would still be better to find and fix bad CSV data before committing data to Drupal than to unknowingly let Workbench create 1000 nodes and not populate a field because of simple error in the CSV data for that field.

[2022-02-16 20:22] ajstanley opened #389 "Datastreams are unpredictable"
The Original File is usually OBJ, unless its from the PDF solution pack, then it's PDF.
I had been checking for both and stopping with the first hit, but this can cause some unexpected problems.  Some Image based content models store PDFs and (even worse) some PDFs have OBJs that appear to be mostly gibberish.

We should default to OBJ on everything except islandora:sp_pdf, but allow overrides.

[2022-02-22 19:05] dara2 opened #391 "Error with preprocessed_file_path = get_prepocessed_file_path(config, file_fieldname, csv_row)"
I was running into an issue during --check using the latest version of Workbench (updated Friday).

Excerpt from my terminal:
[code]
I talked with @ajstanley and he gave me one line to fix this. I made the edit and can confirm it works!
Alan said:

[code]

[2022-02-22 19:42] mjordan commented on #391
Fix merged.

[2022-02-22 19:42] #391 closed

[2022-02-25 18:17] dnwk opened #393 "Workbench content-type issue - Audio file from S3 bucket"
When I run Workbench ingest and got hit with following error message:

OK, files named in the CSV "file" column are all present.
Traceback (most recent call last):
  File "workbench", line 1113, in <module>
    check_input(config, args)
  File "/opt/islandora_workbench/workbench_utils.py", line 1203, in check_input
    media_type = set_media_type(config, file_check_row[filename_field], filename_fi

[2022-03-01 15:55] dara2 commented on #373
Hi @mjordan - we have a client who will need this as well. I'm happy to test anything you might have available.

[2022-03-06 15:07] ajstanley opened #395 "Import debugging doesn't display yaml dictionaries nicely."
The ruamel.yaml library doesn't have a good toString implementation, so the pretty print config dump is missing some useful values.

[2022-03-07 19:09] dnwk commented on #69
I just tried adding url_alias column into my spreadsheet, it didn't do anything and no error in the log

[2022-03-07 19:10] dnwk opened #397 "Adding ability to specify node_id in create task"
Is it possible to specify node_id during create task?

[2022-03-07 19:13] mjordan commented on #397
Node IDs are generated by Drupal (basically auto-increment database IDs). Can you describe what you are tying to achieve? I've seen you question about adding URL aliases over at #69.

[2022-03-07 19:15] dnwk commented on #397
We have a prod and staging site. We want to try to sync node_id between these 2 sites. Trying to explore if it's possible.

[2022-03-07 19:17] mjordan commented on #397
Sorry, I don't know how you'd do that. You may want to ask in the #islandora slack channel what people's staging->production workflows are, and ask if there's a way to sync up node IDs.

[2022-03-07 19:18] dnwk commented on #69
Thank you.

FYI Here is what's in my spreadsheet
url_alias
/theses/20201121

[2022-03-07 19:53] mjordan commented on #69
One thing to check - Drupal allows a node to have only one URL alias. Does the node you are applying that to using Workbench already have a URL alias?

[2022-03-07 19:57] dnwk commented on #69
This is "create" task. So after ingest, I go check on individual items that's ingested. I saw they only have the automatically generated URL.
By the way, the site currently doesn't have a valid SSL certificate. I have to set secure_ssl_only to false. I don't know if it's reverent.

[2022-03-08 15:08] mjordan commented on #69
`set_secure_ssl: false` is OK.

Assigning URL aliases works for me as documented at https://mjordan.github.io/islandora_workbench_docs/aliases/, for both `create` and `update` tasks. Here are my configs and CSVs:

`create` task:

[code]
[code]
`update` task:

[code]
[code]

If this isn't working for, we'll need to dig deeper to find out why.

[2022-03-09 00:49] dnwk commented on #69
OK. I can confirm existing pattern configuration /admin/config/search/path/patterns   overrides the url_alias in the spreadsheet. When I disable the pathauto pattern, it works.  Maybe pointing this out in documentations. Or find a way to adjust url_alias after pathauto done its job?

[2022-03-09 15:39] mjordan opened #398 "Add ability to create redirects"
The [Redirect](https://www.drupal.org/project/redirect) contrib module provides a REST interface for creating and updating redirects. Could be useful during migrations, for example, to provide a redirect from the old node URL to the new one.

[2022-03-09 15:40] manez commented on #381
Good by me!

[2022-03-09 16:11] seth-shaw-unlv commented on #381
Fine by me.

[2022-03-09 16:30] mjordan commented on #381
Cool, thanks all!

[2022-03-09 17:18] dnwk commented on #69
I was trying to keep thesis URL stable. So, I do need the url alias to actually showing up on the browser bar. But I think I have a solutions right now to work the alias.

Thank you

[2022-03-09 17:19] #397 closed

[2022-03-09 17:20] dnwk commented on #398
one more note, the url_alias currently created, even though it is overwritten by pathauto pattern, the URL does work as a redirect. When you visit the url_alias it will be redirected to the url created by pathauto.

[2022-03-17 22:54] mjordan commented on #17
Yay! I found a real use case: replace a few hundred PDFs that are known to contain personal information.

[2022-03-22 17:37] ysuarez opened #399 "A few misspelled words in README and docs"
I noticed a misspelled word in the readme, so I proceeded to run the open source CLI aspell spell checker.

I followed this workflow that I documented for the ISLE7 project here:
 https://islandora-collaboration-group.github.io/ISLE/contributor-docs/spell-checker/

I tried to be conscious of British/Canadian versus American spelling of words. When I do spell checks I strive to stick to whatever th

[2022-03-22 18:37] mjordan commented on #17
Possibly relevant. If  file is deleted by Workbench, we need to confirm that it is also deleted from Fedora.

[2022-03-23 14:05] mjordan opened #401 "Update tasks show KeyError"
When updating text fields in `update` tasks, this happens:

[code]

[2022-03-28 17:55] dnwk opened #402 "suppress warnning on " Unverified HTTPS request is being made to host ""
This message is repeating on the screen when secure_ssl_only is set to false. Is there a way to suppress it?
/usr/lib/python3/dist-packages/urllib3/connectionpool.py:999: InsecureRequestWarning: Unverified HTTPS request is being made to host ' '. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  warnings.warn(

[2022-03-28 18:03] mjordan commented on #402
The solution posted at https://stackoverflow.com/questions/68445066/how-to-fix-insecurerequestwarning-unverified-https-request-is-being-made-to-hos is to not set that option to false. Does that work in your case?

[2022-03-28 19:06] mjordan commented on #402
https://iqcode.com/code/python/python-request-remove-warning also suggests the following. Add these two lines to workbench_utils.py right below the block of `import` statements at the top:

[code]

Let me know if that has any effect.

[2022-04-04 14:29] mjordan opened #403 "Add integration tests for updating node field values"

[2022-04-04 14:33] mjordan opened #404 "If a field has no configured vocabularies, --check should tell user"
And execution should handle this gracefully as well, e.g. just skip that field.

This is the type of error produced when one of those fields is encountered:

[code]

[2022-04-04 14:37] #381 closed

[2022-04-04 20:10] dara2 opened #405 "Check didn't flag extra pipe characters in custom typed relation field"
I am in Drupal 9.3.3, running the latest Workbench from my local.
I have a site with a custom typed relation field. The CSV passed the --check process, but when I started to ingest, it failed with this error:
[code]
When I looked at my CSV I saw the node that it was trying to ingest had data in the custom typed relation field like this, with an extra leading pipe character:
[code]
The --check had

[2022-04-05 18:52] dara2 opened #406 "Add_media check fails due to missing file but doesn't say which file"
I am running Drupal 9.3.3 and the latest version of Workbench.
When running a --check on the add_media task, it fails with an unhelpful error message. I can tell there is a missing file, but I'm not sure which one. So all I can do (since in some cases there are hundreds of files in the CSV) is run the task itself until it hits the bad one. It would be helpful if the failure identified which file w

[2022-04-05 18:59] mjordan commented on #406
Can you share your config (removing credentials of course) and a couple rows from your CSV?

[2022-04-05 19:04] dara2 commented on #406
Sure - config:
[code]
Some rows from my CSV:
[code]

[2022-04-05 19:06] mjordan commented on #406
OK, thanks. `if_field` applies to `create` tasks only, so I'll need to investigate as to why that error is happening. Will try to do so this evening.

[2022-04-05 22:41] mjordan opened #407 "Extracted Text media need to have their field_edited_text populated"
`field_edited_text` contains a copy of the extracted text in the media's file, so creating one of these media requires that Workbench populate that field with the text.

[2022-04-06 03:53] mjordan commented on #406
@dara2 can you add `delimiter: "\t"` to your config file and try again?

[2022-04-06 13:08] dara2 commented on #406
Thanks, Mark! Unfortunately, it just gives this error when I run the check:
[code]
My file does contain a node_id column, and when I remove the delimiter line of code and rerun the check, Workbench finds the node_id column but then of course comes back with the error about a missing file (but I still don't know which one, sadly):
[code]
Here is my config with the added delimiter line:
[code]
And h

[2022-04-06 14:39] mjordan commented on #406
I am pretty sure that at least one of your CSV/TSV rows uses space(s) instead of tabs. I was able to replicate the error above by creating a TSV file with one row that used spaces instead. The best way to figure out which row is the culprit is to open your TSV file in an editor that allows you to show invisible characters or show whitespace. Can you try that and let me know what you find?

[2022-04-06 14:48] dara2 commented on #406
Hmm, I'm not seeing any whitespaces when I open the file in Visual Studio but perhaps I'm doing it wrong. :)
I've attached the file here in case you can see what the problem is.
When I run the add_media task it works just fine, and will just stop when it hits the bad file.
[rbsketch-update.csv](https://github.com/mjordan/islandora_workbench/files/8427955/rbsketch-update.csv)

[2022-04-06 15:08] dara2 commented on #406
It gives me the same error I reported originally :(
[code]

[2022-04-06 16:11] mjordan commented on #406
Since I can replicate the error when I use a delimiter (spaces) that are not the default (`,`) or defined in config (e.g. `delimiter: "\t"`), that's probably what's going on. But, I can't see any errant characters in your file. When you run your task, what is the last successful line in your CSV? Look at the end of your log to see what the last successful row is; it's likely the one that is next i

[2022-04-06 16:35] mjordan commented on #406
I think I've found a bug that is causing Workbench to display that error. For `add_media` tasks, the internal config value "id" needs to be `node_id`. I won't be able to fix/test until this evening, but I'll do that. You could test this theory by adding `id_field: node_id` to your config. I think that should work.

[2022-04-06 16:44] mjordan commented on #406
There is an issue for not exiting on the first missing file (or other fatal error): https://github.com/mjordan/islandora_workbench/issues/268. When I put together the "fall 2021" roadmap for Workbench this feature came in 6th. It's a very large amount of work to change it from who it works now, but I know people want it.

But that feature request is general, it applies to all error `--chec` finds.

[2022-04-11 18:57] dara2 opened #408 "User warning: fopen(): No such file or directory in Twistor\FlysystemStreamWrapper->triggerError()"
When ingesting or running add_media, I'm seeing a lot of these PHP warnings in the Drupal log. I am in Drupal 9.3.3. Is this an issue related to Workbench or to our site?

[code]

[2022-04-12 03:29] mjordan commented on #408
I don't see that warning in my Playbook so I am thinking it is specific to your server. Is the warning produced when you add a media to a node manually via the Drupal GUI?

[2022-04-12 06:57] mjordan commented on #401
Resolved with 77202be3fda7eab2fef7231a87b504dba1b9a76a.

[2022-04-12 12:46] dara2 commented on #408
Thank you for checking into this! I am not sure if the same error appears when manually adding media, I'll check. But it seems it's not a Workbench issue so I'll close this. Thanks again!

[2022-04-20 03:53] mjordan opened #409 "requests_cache version 0.10.0.dev3 produces an error"
As reported by @jefferya in Slack, requests_cache version 0.10.0.dev3 causes Workbench to error out with

Pinning requests_cache to dev2 prevents this from happening:

[2022-04-20 04:01] mjordan commented on #409
Fixed for now by pinning requests_cache to 0.10.0.dev2. Leaving open.

[2022-04-27 14:55] mjordan opened #410 "tests/assets/additional_files_test/rollback.yml not found"
Running islandora_tests.py results in the above error.

[2022-04-27 14:57] mjordan opened #411 "islandora_test.py cannot find workbench_utils.set_config_defaults"
Lines 160 and 250 of islandora_tests.py throw error "AttributeError: module 'workbench_utils' has no attribute 'set_config_defaults'.

[2022-04-27 19:04] mjordan commented on #411
Integration tests need a way to set configs (e.g., https://github.com/mjordan/islandora_workbench/blob/main/tests/islandora_tests.py#L161). Before we separated WorkbenchConfig.py out from workbench_utils, this was possible via https://github.com/mjordan/islandora_workbench/blob/a5469b1c3042bb5f8b182ed15661d84bb94788cc/workbench_utils.py#L37.

[2022-04-29 04:11] mjordan opened #412 "Remove progress_bar library"
Workbench now uses the "rich" library, which provides a progress bar.

[2022-04-29 04:37] #411 closed

[2022-04-29 20:37] mjordan opened #413 "Add check for field_weight values"
The GUI widget used by https://www.drupal.org/project/weight doesn't allow values less than 1. Workbench should check to ensure that all values used in that field are 1 or higher. This should also be documented clearly.

[2022-05-02 14:55] #406 closed

[2022-05-02 15:14] mjordan commented on #406
@dara2 I've added an option to check for the existence of all files before exiting. To use it, include `exit_on_first_missing_file_during_check: false` in your configuration.

[2022-05-02 15:15] mjordan commented on #268
Setting `exit_on_first_missing_file_during_check` to `false` will tell Workbench to check for the existence of all "file" column values before exiting.

[2022-05-03 15:12] mjordan commented on #409
Thanks, I'll continue to investigate.

[2022-05-04 04:04] mjordan opened #414 "Some update tasks throw KeyError"
As reported by @dara2 in Slack, some update tasks error out with:

[code]
I am trying to narrow down the problem.

[2022-05-04 13:16] dara2 commented on #406
Hi @mjordan - As noted in Slack, I'm still hitting this error when I run the latest Workbench (both with and without the new line, `exit_on_first_missing_file_during_check: false`, in the config).

[2022-05-04 13:19] dara2 commented on #406
I just added both `id_field: node_id` AND `exit_on_first_missing_file_during_check: false` and now I get this message, is that what is expected?
[code]

[2022-05-04 13:31] mjordan commented on #406
Yes. Your log will contain an entry for each missing file. Can you confirm that?

[2022-05-04 13:32] dara2 commented on #406
Yep! Just updated my comment above. Thanks, Mark!

[2022-05-04 13:33] mjordan commented on #406
If you're doing an update you don't need to define id_field.

[2022-05-04 14:16] mjordan commented on #414
Closing, this is a duplicate of #401.

[2022-05-04 14:16] #414 closed

[2022-05-04 14:16] mjordan commented on #401
Not resolved.

[2022-05-04 14:58] mjordan opened #415 "Code in --check allowing exit_on_first_missing_file_during_check, allow_missing_files, and nodes_only is overly complex"
So many options, so little clarity.

[2022-05-10 22:55] mjordan opened #416 "Specify the content typ in the error message saying field doesn't match existing Drupal fields"
In the --check message "Error: CSV column header x does not match any Drupal field names", specify the content type checked.

[2022-05-11 14:18] #416 closed

[2022-05-12 02:13] mjordan commented on #405
All CSV field types should be checked for superfluous subdelimiter characters, not just typed relation fields.

[2022-05-12 03:10] #388 closed

[2022-05-12 03:12] mjordan commented on #399
Sorry @ysuarez I merged your PR and didn't close this issue. Thanks again!

[2022-05-12 03:12] #399 closed

[2022-05-12 03:14] mjordan commented on #375
Resolved with c4ae438d110bf933292cc1152e87f15f21606aa4.

[2022-05-12 03:14] #375 closed

[2022-05-12 03:14] mjordan commented on #383
Resolved with PR, closing.

[2022-05-12 03:14] #383 closed

[2022-05-12 03:15] mjordan commented on #364
@rosiel I'm following up on this, OK to close or does it need some attention?

[2022-05-12 18:09] dara2 commented on #401
Hi @mjordan - We were wondering if there is anything we could do to help move this along, or if there is any temporary workaround we could use? We're stalled on a migration (unless we start making updates manually, but there are a lot of nodes). Thank you!

[2022-05-13 01:57] mjordan commented on #401
@dara2 I will try my hardest to get this working by Monday morning. Can you confirm that the only field type you need to update is typed relation? I am asking so I can focus efforts on that one field type. With Drupal's REST interface, each field type (with some exceptions) has its own JSON structure that Workbench will need to work with.

[2022-05-13 13:12] #364 closed

[2022-05-13 15:54] dangercat commented on #401
Hi @mjordan @dara2 is out today but I'm her colleague (the one with the stalled migration)! The only fields I'm trying to update at this time are typed relations, yes. Thanks so much!

[2022-05-15 18:30] mjordan commented on #410
Bad commit message ^.

[2022-05-15 18:53] mjordan commented on #401
Commit fc6134134637435d822b8c8b2ba1883eb7eba7a0 resolves this so you will be able to update your typed relation fields.

However, it's a quick fix that *appends* taxonomy and typed relation values in "update" tasks the existing values. This is inconsistent with Workbench's current behaviour for other fields, which is to replace existing values with values in the CSV. As long as the target fields y

[2022-05-15 19:32] mjordan opened #417 "Complete converting taxonomy and typed relation field add/update code to their own classes"
The code in `create` and `update` tasks that manages fields of types taxonomy and typed relation does not yet use the separate field classes, like the other field types do. The "TypedRelationField" class is currently just a placeholder, and even though "EntityReferenceField" is complete, only partial field tests exist.

Once all of the field types use their respective field classes, we'll have rep

[2022-05-15 21:58] dangercat commented on #401
Okay, thanks @mjordan. So, if I'm understanding correctly, if I'm trying to replace incorrect/bad typed relation values (which I am) I'm going to need to empty the taxonomies first so that the fields are empty? Otherwise I'll just end up with both the bad and the good values?

[2022-05-16 00:22] mjordan commented on #401
That's correct, but I thought (not sure why) that the fields were empty because there was a problem with the original ingest. Sorry I misunderstood that. I think I can change my quick fix so that it deletes all content from the target field before adding the CSV values. If I do that, this will work the same as other update tasks. I can't do it this evening I will take a look tomorrow morning.

[2022-05-16 14:22] mjordan commented on #401
@dangercat please pull in the latest changes to the main branch and test. Updates to taxonomy and typed relation fields will now replace all existing values with values in your input CSV.

This is a quick fix to get you going. I am expediting #417 so all field types will use the same logic. When this work is done, you will be able to configure whether `update` tasks replace or append to existing v

[2022-05-16 14:57] dangercat commented on #401
Great, thank you @mjordan! I will update and test this afternoon!

[2022-05-17 02:56] mjordan commented on #401
@dangercat how did it go?

[2022-05-17 16:33] dangercat commented on #401
Hey @mjordan - it works! I've tested two collections and I'm going to clean out the necessary taxonomies before proceeding with more, but workbench is updating/replacing values in typed relation fields correctly! Thanks again!

[2022-05-17 17:02] Natkeeran opened #418 "ingesting taxonomies with fields"
Does workbench currently support ingesting taxonomy content with fields (including typed relation fields)?  If not, is it part of the road map?  Thanks.

[2022-05-17 17:15] Natkeeran commented on #418
Sorry duplicate ticket: https://github.com/mjordan/islandora_workbench/issues/111

[2022-05-17 17:15] #418 closed

[2022-05-17 17:45] mjordan commented on #111
@[Natkeeran](https://github.com/Natkeeran) and others tagged in this issue, I apologize for not keeping the pace up this work. I figure I'm well over half way done on it and now that I've caught up on a bunch of bug fixes/small feature additions and am well along in #417. I'll make ingesting complex vocabularies my priority once that work is done.

[2022-05-17 20:48] mjordan opened #419 "Line numbers provided by --check should use node_id values"
Running --check against update tasks show row numbers in validation errors (at least for link field types). They should always show node_ids.

[2022-05-17 21:14] mjordan opened #420 "update tasks should verify that node has the field being updated"
In `update` tasks, if a node being updated doesn't have the field in question, Workbench should log that fact and skip the update.

[2022-05-17 23:14] mjordan commented on #401
@dangercat OK to close this?

[2022-05-18 01:07] #420 closed

[2022-05-18 14:45] mjordan opened #421 "Add support for adding Typed Relations to nodes"
Work in #417 will initially only support adding Typed Relations to taxonomies. This issue is to track demand for being able to add Typed Relations to other entities, e.g. nodes.

[2022-05-19 03:20] #401 closed

[2022-05-21 18:28] mjordan opened #422 "Provide way to delete all media attached to nodes"
Currently, 'delete_media' tasks require a list of media IDs. It would be useful to be able to give Workbench a list of node IDs and have it delete all media from the identified nodes. It would also be useful to provide one or more media use term IDs to delete only those media.

[2022-05-23 22:32] mjordan commented on #403
TestUpdate class added that tests updates to a geocoordinates field and to a plain text field using the new Fields code.

[2022-05-23 22:49] mjordan commented on #417
This is complete.

[2022-05-23 22:49] #417 closed

[2022-05-23 22:53] mjordan commented on #47
As of today, users can now use a `update_mode` config option to indicate that `update` tasks "replace", "append", or "delete" field values for all supported Drupal field types, e.g. `update_mode: append`. "replace" is the default. Field handlers also now have over 4000 lines of test code.

Unless there are any objections, I'd like to close this issue. - @seth-shaw-unlv and @Natkeeran, OK to do so?

[2022-05-23 22:54] mjordan opened #423 "CSV field handlers should filter out duplicate values"
CSV field hanlders should filter out duplicate values, for all field types.

[2022-05-23 22:55] mjordan commented on #47
Related issue #423.

[2022-05-23 22:57] mjordan commented on #247
Fix included in work on #47.

[2022-05-23 22:57] #247 closed

[2022-05-24 02:30] mjordan commented on #417
Indicate update_mode to user  in --check and during update task.

[2022-05-25 04:37] mjordan commented on #423
Closed with [e981dc7](https://github.com/mjordan/islandora_workbench/commit/e981dc709263e1436f1d3e6dc39f7955059450bf)

[2022-05-25 04:37] #423 closed

[2022-05-25 05:28] mjordan commented on #415
A couple of tests in islandora_tests_check.py are failing, e.g.:

[code]

No doubt as a result of work on this issue.

[2022-05-25 14:48] #415 closed

[2022-05-25 14:49] mjordan commented on #415
Didn't update some tests' configuration files.

[2022-05-25 15:06] mjordan opened #424 "Filter out invalid CSV values so they never get ingested"
Now that #417 is done, any incoming values that are invalid ETDF, link, geocordinates, etc. should be filtered out. Related issue #387.

[2022-05-27 01:22] #422 closed

[2022-05-27 01:24] mjordan commented on #422
New task,  `delete_media_by_node, will delete media from a supplied CSV of node IDs. To specify which media are deleted, include `delete_media_by_node_media_use_tids: [17, 1]` (for example) in your configuration file. Docs to be updated shortly.

[2022-05-28 18:52] mjordan opened #425 "Provide a way to export node data so it can be modified and then used in update tasks"
More dividends from #417, it will be possible to export a CSV containing node data. We'll need to figure out how to specify which nodes (e.g. from a CSV with node_id, all nodes in a collection, etc.).

[2022-05-28 21:14] mjordan opened #426 "TestDelete in islandora_tests.py doesn't test if the nodes were deleted"

[2022-05-29 18:26] mjordan commented on #425
Resolved with 80214a549ca6e6130a92f7b044efa59e65ac91ca.

[2022-05-29 18:26] #425 closed

[2022-05-29 19:09] mjordan opened #427 "export_csv tasks should not require knowing the node IDs in advance"
With work on #425 available (and documented at https://mjordan.github.io/islandora_workbench_docs/output_csv/#exporting-field-data-into-a-csv-file), we should figure out how to query Drupal so we don't need to know the IDs of the nodes we want to include in our exported CSV. Seems like querying the Solr index would be a good place to start. Workbench would need to assume that its query is valid, f

[2022-05-30 03:11] mjordan opened #428 "Provide option to specify output path for export_csv tasks"
If none specified, default to its current location, {input_csv}.csv_file_with_field_values.

[2022-05-30 04:21] mjordan commented on #427
My first instinct is to do a Solr query to get collection membership, but https://www.drupal.org/project/drupal/issues/2982729 is still unresolved so it looks like Drupal's Views REST exports still don't have a pager. Maybe scraping a collection browse list, assuming that the markup in the list is consistent across themes.

[2022-05-30 14:48] mjordan opened #429 "Add support for Authority Link field type"
In prep for continued work on #111. Used in person vocab, maybe others. The JSON looks like this:

[code]

At a minimum we would need `uri` and `source` keys. Looks like `title` and `options` are optional. Valid values for "source" are available from the field's configuration data, much like typed relations are.

[2022-06-01 14:55] mjordan commented on #353
Related issue: #142.

[2022-06-03 04:31] mjordan commented on #353
@FlorMtz13 offers this configuration, which has successfully ingested files of up to 3 GB:

[code]

Thanks!

[2022-06-03 18:45] mjordan commented on #236
WIP on this in #111.

[2022-06-04 20:06] mjordan opened #430 "Generate an output CSV containing term IDs"
`create_terms` task should offer the option of outputting a CSV file containing a row for every newly created term, including term IDs.

[2022-06-05 21:59] mjordan commented on #111
@dara2 @rosiel @Natkeeran This is ready to test. Docs are at https://mjordan.github.io/islandora_workbench_docs/creating_vocabularies/ (but not linked from the table of contents yet). Check out the `issue-111` branch to test.

This Workbench configuration file adds the terms in `input_dir/islandora_media_use_terms.csv` to the islandora_media_use vocabulary:

[code]

This is the contents of `island

[2022-06-06 03:26] mjordan commented on #427
REST exports can have pagers, but as per the D.O. issue above, they don't include total count. For example, a REST export of the /members View, configured with a mini pager, allows requests like `curl  -uadmin:islandora -H "Content-Type: application/json"  "http://192.168.50.245:8000/members/8?_format=json&page=1` incrementing the value of page up until the result is empty.

[2022-06-06 14:14] rosiel commented on #111
I tested and it worked. Just one thing, I had to install two new libraries, `rich` and `iteration_utilities`. Maybe that's because I haven't used workbench in a while, but they might need to join the others on the Requirements page.

I also didn't test with an Authority Link field, but External URI worked just fine.

[2022-06-06 15:23] dara2 commented on #47
Hi @mjordan - I just tested the update_mode: delete and although I am not getting any errors reported, the data in the field is not getting removed. Am I missing something? My config file looks like this:
[code]
My CSV file is attached. Output from the .log file is:
[code]

But the data is still in the Rights field:
![Screen Shot 2022-06-06 at 11 21 39 AM](https://user-images.githubusercontent.com

[2022-06-06 16:58] dara2 commented on #47
So this is interesting: I ran it again, with text in the Rights field in my CSV, but I forgot to change the update_mode (so it was still set to "delete"). This time, the content was *removed* from the field completely (as I would have expected before).
Here's my revised config file (only change was to the CSV filename):
[code]
My revised CSV (now with content in the Rights column) is attached. You

[2022-06-06 17:07] mjordan commented on #47
Without any hands-on verification/testing, I suspect that the fact that the field was blank is causing it to be skipped by the field handler, where the nulling-out of the field contents happens before Workbench updates Drupal. I'll test this hypothesis this evening and fix if that's it.

[2022-06-06 17:41] dara2 commented on #47
Okay, thanks! Just to clarify: isn't that how the "delete" mode is meant to work - if you run an update with blank columns, it deletes what is in that field for the nodes you indicate? Or am I misunderstanding its purpose?

[2022-06-06 17:48] mjordan commented on #47
You're not misunderstanding its purpose - you found a bug.

[2022-06-06 17:49] dara2 commented on #47
Haha - okay, just wanted to make sure! 😄

[2022-06-07 01:13] dara2 commented on #111
This worked great. I tested with authority links. Attached is the CSV I used, in case you're curious. Awesome work!

[complex_terms.csv](https://github.com/mjordan/islandora_workbench/files/8849233/complex_terms.csv)

[2022-06-07 02:27] mjordan commented on #47
OK, I've fixed this. Thanks for catching it.

[2022-06-07 02:28] mjordan commented on #47
Closing since we now have 3 different ways to update nodes!

[2022-06-07 02:28] #47 closed

[2022-06-07 02:30] mjordan commented on #429
Resolved with 0cf874651f540f227c016a99dadf50c8ce507867.

[2022-06-07 02:30] #429 closed

[2022-06-07 02:32] mjordan commented on #111
Resolved with 0cf874651f540f227c016a99dadf50c8ce507867. Docs at https://mjordan.github.io/islandora_workbench_docs/creating_taxonomy_terms/.

[2022-06-07 02:32] #111 closed

[2022-06-07 02:36] mjordan commented on #75
Closing this issue in favor of #293.

[2022-06-07 02:36] #75 closed

[2022-06-07 02:37] mjordan opened #431 "Add support for Entity reference revisions field type"
This is dependency for #292.

[2022-06-07 02:47] mjordan commented on #431
JSON (from GET) looks like this:

[code]

[2022-06-07 03:28] mjordan commented on #236
Resolved with 0cf874651f540f227c016a99dadf50c8ce507867.

[2022-06-07 03:28] #236 closed

[2022-06-07 14:17] mjordan commented on #292
Hitting a bug. Multiple issues on D.O. about not being able to create paragraphs via REST. I've posted my experience at https://www.drupal.org/project/paragraphs/issues/3012600#comment-14548977.

[2022-06-07 21:20] mjordan opened #432 "Authority link fields should not use the link as the link text"
Currently, the link/URI is added if the link text is missing.

[2022-06-08 13:43] mjordan commented on #412
Turns out that rich's progress bar is part of the `for` loop:

[code]
Which wouldn't work in Workbench's case. Closing.

[2022-06-08 13:43] #412 closed

[2022-06-08 13:44] mjordan commented on #421
Will wait for use case to add this feature.

[2022-06-09 18:58] mjordan commented on #430
Would be useful to include each term's parent in the output too.

[2022-06-10 16:37] mjordan commented on #427
Ideally, it would be useful to allow Workbench to access any View an Islandora admin might create, as long as the View's results contained a column with node IDs. For example, the proposed [View showing objects with missing dereivatives](https://github.com/Islandora/documentation/issues/2123). With this ability, a Workbench user could create a View, identify its URL in the Workbench config file, a

[2022-06-13 14:49] mjordan commented on #258
Resolved with [5ae72f1](https://github.com/mjordan/islandora_workbench/commit/5ae72f1f35daa87af590084bb29b37287b709be0).

[2022-06-13 14:49] #258 closed

[2022-06-13 16:22] mjordan opened #433 "Add ability to export media and taxonomy terms to get_data_from_view tasks"
#427 added the `get_data_from_view` task, but it only applies to nodes. It would be useful to be able to export media and taxonomy term field data as well (although at the moment Workbench can't `update` media and terms).

[2022-06-14 15:24] mjordan commented on #427
Docs for using a View as input are at https://mjordan.github.io/islandora_workbench_docs/generating_csv_files/#using-a-drupal-view-to-identify-content-to-export-as-csv. Closing this for now.

[2022-06-14 15:24] #427 closed

[2022-06-16 15:44] seth-shaw-unlv commented on #310
I can replicate. My config:
[code]
CSV:
[code]
First few lines of the log, the rest are variations on the same theme:
[code]

[2022-06-16 15:48] seth-shaw-unlv opened #434 "`--check` doesn't respect `allow_missing_files: true`"
When running `--check` on a CSV with missing files and a config with `allow_missing_files: true` the check is still exiting early.

Config:
[code]
Run:
[code]

This diff resolves the issue:
[code]

[2022-06-16 16:29] seth-shaw-unlv commented on #310
Simply shifting that block out and adding the nodes_only check fixes the issue, although the info messages aren't accurate:
[code]
Oh, yeah, I also cleaned up some issues pointed out by my IDE.

[2022-06-16 16:33] seth-shaw-unlv commented on #310
Side note: [this line of code is unreachable](https://github.com/mjordan/islandora_workbench/blob/main/workbench#L296-L301) as it immediately follows a continue:
[code]

[2022-06-17 04:58] mjordan commented on #310
@dara2 , Seth's fix has resolved this. Can you test and if everything is :+1: close this issue?

[2022-06-17 04:58] mjordan commented on #434
Resolved with 6f1837f8c515624db2bfd6adc1c5538f5c9ef863.

[2022-06-17 04:58] #434 closed

[2022-06-18 15:22] mjordan commented on #389
Resolved with https://github.com/mjordan/islandora_workbench/pull/390.

[2022-06-18 15:22] #389 closed

[2022-06-22 13:35] mjordan commented on #295
Until we find a way to let the Workbench Integration Module introspect the configured maximum length of the title, I can add a configuration option that you could set to override the default length of 255 characters. I would also document this option so that it's clear how you would determine what a valid maximum length is for your particular Drupal. @kspurgin are you OK with this approach?

[2022-06-22 13:47] mjordan commented on #142
Controller added to the Integration module, but the corresponding feature in Workbench not yet implemented.

[2022-06-22 18:40] kspurgin commented on #295
Sounds workable. Thanks!

[2022-06-23 19:57] dara2 commented on #310
Awesome - yes, I will test it now! (Sorry for the delay)

[2022-06-23 21:02] dara2 commented on #310
This is working as expected now! Both thumbnail images and original files are added (even when an object ONLY has a thumbnail, the thumbnail is added--I no longer get any error message). I also no longer get the inaccurate warning about "no media created" when there is no thumbnail and only an original file (instead I see "Skipping empty additional_media CSV field" which is much better). Closing -

[2022-06-23 21:02] #310 closed

[2022-06-23 22:31] seth-shaw-unlv opened #436 "Feature request: Add query parameter support to get_data_from_view"
Drupal View REST exports support adding query parameters to control which nodes are returned. (Make a filter and configure it to be "exposed".)

E.g. we have a view where we can filter our results to look for a string pattern in our field_digital_id: `/admin/digital-collections/iwe/json?field_digital_id_value=whh`.

However, workbench adds the page parameter as "?page=", which implies it is the fi